=begin
PIER Labs

Gest\u00E3o de pagamento eletr\u00F4nicos como servi\u00E7o

OpenAPI spec version: 0.0.1
Contact: pierlabs@conductor.com.br
Generated by: https://github.com/swagger-api/swagger-codegen.git

License: Apache 2.0
http://www.apache.org/licenses/LICENSE-2.0.html

Terms of Service: http://pierlabs.io/terms/

=end

require "uri"

module Pier
  class AntecipacaoApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end

    # Configura a Taxa de Antecipa\u00E7\u00E3o de um Produto
    # Este recurso permite configurar a Taxa de Antecipa\u00E7\u00E3o de um Produto, a partir do seu c\u00F3digo de identifica\u00E7\u00E3o (id).
    # @param id Id Produto
    # @param taxa_antecipacao_request taxaAntecipacaoRequest
    # @param [Hash] opts the optional parameters
    # @return [ParametroProdutoResponse]
    def configurar_taxa_antecipacao_using_post(id, taxa_antecipacao_request, opts = {})
      data, _status_code, _headers = configurar_taxa_antecipacao_using_post_with_http_info(id, taxa_antecipacao_request, opts)
      return data
    end

    # Configura a Taxa de Antecipa\u00E7\u00E3o de um Produto
    # Este recurso permite configurar a Taxa de Antecipa\u00E7\u00E3o de um Produto, a partir do seu c\u00F3digo de identifica\u00E7\u00E3o (id).
    # @param id Id Produto
    # @param taxa_antecipacao_request taxaAntecipacaoRequest
    # @param [Hash] opts the optional parameters
    # @return [Array<(ParametroProdutoResponse, Fixnum, Hash)>] ParametroProdutoResponse data, response status code and response headers
    def configurar_taxa_antecipacao_using_post_with_http_info(id, taxa_antecipacao_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: AntecipacaoApi.configurar_taxa_antecipacao_using_post ..."
      end
      
      
      # verify the required parameter 'id' is set
      fail ArgumentError, "Missing the required parameter 'id' when calling AntecipacaoApi.configurar_taxa_antecipacao_using_post" if id.nil?
      
      
      
      
      
      
      # verify the required parameter 'taxa_antecipacao_request' is set
      fail ArgumentError, "Missing the required parameter 'taxa_antecipacao_request' when calling AntecipacaoApi.configurar_taxa_antecipacao_using_post" if taxa_antecipacao_request.nil?
      
      
      
      
      
      # resource path
      local_var_path = "/api/produtos/{id}/configurar-taxa-antecipacao".sub('{format}','json').sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}

      # HTTP header 'Accept' (if needed)
      local_header_accept = ['application/json']
      local_header_accept_result = @api_client.select_header_accept(local_header_accept) and header_params['Accept'] = local_header_accept_result

      # HTTP header 'Content-Type'
      local_header_content_type = ['application/json']
      header_params['Content-Type'] = @api_client.select_header_content_type(local_header_content_type)

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(taxa_antecipacao_request)
      
      auth_names = []
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'ParametroProdutoResponse')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AntecipacaoApi#configurar_taxa_antecipacao_using_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Consulta a Taxa de Antecipa\u00E7\u00E3o de um Produto
    # Este recurso permite consultar a Taxa de Antecipa\u00E7\u00E3o de um Produto, a partir do seu c\u00F3digo de identifica\u00E7\u00E3o (id).
    # @param id Id Produto
    # @param tipo_transacao Tipo da Transa\u00E7\u00E3o (ON-US ou OFF-US)
    # @param [Hash] opts the optional parameters
    # @return [ParametroProdutoResponse]
    def consultar_taxa_antecipacao_using_get(id, tipo_transacao, opts = {})
      data, _status_code, _headers = consultar_taxa_antecipacao_using_get_with_http_info(id, tipo_transacao, opts)
      return data
    end

    # Consulta a Taxa de Antecipa\u00E7\u00E3o de um Produto
    # Este recurso permite consultar a Taxa de Antecipa\u00E7\u00E3o de um Produto, a partir do seu c\u00F3digo de identifica\u00E7\u00E3o (id).
    # @param id Id Produto
    # @param tipo_transacao Tipo da Transa\u00E7\u00E3o (ON-US ou OFF-US)
    # @param [Hash] opts the optional parameters
    # @return [Array<(ParametroProdutoResponse, Fixnum, Hash)>] ParametroProdutoResponse data, response status code and response headers
    def consultar_taxa_antecipacao_using_get_with_http_info(id, tipo_transacao, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: AntecipacaoApi.consultar_taxa_antecipacao_using_get ..."
      end
      
      
      # verify the required parameter 'id' is set
      fail ArgumentError, "Missing the required parameter 'id' when calling AntecipacaoApi.consultar_taxa_antecipacao_using_get" if id.nil?
      
      
      
      
      
      
      # verify the required parameter 'tipo_transacao' is set
      fail ArgumentError, "Missing the required parameter 'tipo_transacao' when calling AntecipacaoApi.consultar_taxa_antecipacao_using_get" if tipo_transacao.nil?
      
      # verify enum value
      unless ['ON_US', 'OFF_US'].include?(tipo_transacao)
        fail ArgumentError, "invalid value for 'tipo_transacao', must be one of ON_US, OFF_US"
      end
      
      
      
      
      
      # resource path
      local_var_path = "/api/produtos/{id}/consultar-taxa-antecipacao".sub('{format}','json').sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = {}
      query_params[:'tipoTransacao'] = tipo_transacao

      # header parameters
      header_params = {}

      # HTTP header 'Accept' (if needed)
      local_header_accept = ['application/json']
      local_header_accept_result = @api_client.select_header_accept(local_header_accept) and header_params['Accept'] = local_header_accept_result

      # HTTP header 'Content-Type'
      local_header_content_type = ['application/json']
      header_params['Content-Type'] = @api_client.select_header_content_type(local_header_content_type)

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      
      auth_names = []
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'ParametroProdutoResponse')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AntecipacaoApi#consultar_taxa_antecipacao_using_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Faz a efetiva\u00E7\u00E3o da antecipa\u00E7\u00E3o
    # M\u00E9todo responsavel pela efetiva\u00E7\u00E3o da antecipa\u00E7\u00E3o, cujo desconto \u00E9 calculado baseado na data da \u00FAltima parcela em aberto.
    # @param id_conta C\u00F3digo de Identifica\u00E7\u00E3o da Conta.
    # @param id C\u00F3digo de Identifica\u00E7\u00E3o do evento.
    # @param quantidade_parcelas Quantidade de parcelas para serem antecipadas.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :complemento Dados complementares sobre a realiza\u00E7\u00E3o da transa\u00E7\u00E3o.
    # @return [AntecipacaoResponse]
    def efetivar_antecipacao_using_post(id_conta, id, quantidade_parcelas, opts = {})
      data, _status_code, _headers = efetivar_antecipacao_using_post_with_http_info(id_conta, id, quantidade_parcelas, opts)
      return data
    end

    # Faz a efetiva\u00E7\u00E3o da antecipa\u00E7\u00E3o
    # M\u00E9todo responsavel pela efetiva\u00E7\u00E3o da antecipa\u00E7\u00E3o, cujo desconto \u00E9 calculado baseado na data da \u00FAltima parcela em aberto.
    # @param id_conta C\u00F3digo de Identifica\u00E7\u00E3o da Conta.
    # @param id C\u00F3digo de Identifica\u00E7\u00E3o do evento.
    # @param quantidade_parcelas Quantidade de parcelas para serem antecipadas.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :complemento Dados complementares sobre a realiza\u00E7\u00E3o da transa\u00E7\u00E3o.
    # @return [Array<(AntecipacaoResponse, Fixnum, Hash)>] AntecipacaoResponse data, response status code and response headers
    def efetivar_antecipacao_using_post_with_http_info(id_conta, id, quantidade_parcelas, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: AntecipacaoApi.efetivar_antecipacao_using_post ..."
      end
      
      
      # verify the required parameter 'id_conta' is set
      fail ArgumentError, "Missing the required parameter 'id_conta' when calling AntecipacaoApi.efetivar_antecipacao_using_post" if id_conta.nil?
      
      
      
      
      
      
      # verify the required parameter 'id' is set
      fail ArgumentError, "Missing the required parameter 'id' when calling AntecipacaoApi.efetivar_antecipacao_using_post" if id.nil?
      
      
      
      
      
      
      # verify the required parameter 'quantidade_parcelas' is set
      fail ArgumentError, "Missing the required parameter 'quantidade_parcelas' when calling AntecipacaoApi.efetivar_antecipacao_using_post" if quantidade_parcelas.nil?
      
      
      
      
      
      
      
      
      
      
      
      # resource path
      local_var_path = "/api/compras-antecipaveis/{id}/efetivar-antecipacao".sub('{format}','json').sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = {}
      query_params[:'idConta'] = id_conta
      query_params[:'quantidadeParcelas'] = quantidade_parcelas
      query_params[:'complemento'] = opts[:'complemento'] if opts[:'complemento']

      # header parameters
      header_params = {}

      # HTTP header 'Accept' (if needed)
      local_header_accept = ['application/json']
      local_header_accept_result = @api_client.select_header_accept(local_header_accept) and header_params['Accept'] = local_header_accept_result

      # HTTP header 'Content-Type'
      local_header_content_type = ['application/json']
      header_params['Content-Type'] = @api_client.select_header_content_type(local_header_content_type)

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      
      auth_names = []
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'AntecipacaoResponse')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AntecipacaoApi#efetivar_antecipacao_using_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Faz a efetiva\u00E7\u00E3o da antecipa\u00E7\u00E3o
    # M\u00E9todo responsavel pela efetiva\u00E7\u00E3o de todas as compras antecip\u00E1veis com todas as parcelas de uma conta.
    # @param id_conta C\u00F3digo de Identifica\u00E7\u00E3o da Conta.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :complemento Dados complementares sobre a realiza\u00E7\u00E3o da transa\u00E7\u00E3o.
    # @return [AntecipacaoResponse]
    def efetivar_antecipacoes_using_post(id_conta, opts = {})
      data, _status_code, _headers = efetivar_antecipacoes_using_post_with_http_info(id_conta, opts)
      return data
    end

    # Faz a efetiva\u00E7\u00E3o da antecipa\u00E7\u00E3o
    # M\u00E9todo responsavel pela efetiva\u00E7\u00E3o de todas as compras antecip\u00E1veis com todas as parcelas de uma conta.
    # @param id_conta C\u00F3digo de Identifica\u00E7\u00E3o da Conta.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :complemento Dados complementares sobre a realiza\u00E7\u00E3o da transa\u00E7\u00E3o.
    # @return [Array<(AntecipacaoResponse, Fixnum, Hash)>] AntecipacaoResponse data, response status code and response headers
    def efetivar_antecipacoes_using_post_with_http_info(id_conta, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: AntecipacaoApi.efetivar_antecipacoes_using_post ..."
      end
      
      
      # verify the required parameter 'id_conta' is set
      fail ArgumentError, "Missing the required parameter 'id_conta' when calling AntecipacaoApi.efetivar_antecipacoes_using_post" if id_conta.nil?
      
      
      
      
      
      
      
      
      
      
      
      # resource path
      local_var_path = "/api/compras-antecipaveis/efetivar-antecipacao".sub('{format}','json')

      # query parameters
      query_params = {}
      query_params[:'idConta'] = id_conta
      query_params[:'complemento'] = opts[:'complemento'] if opts[:'complemento']

      # header parameters
      header_params = {}

      # HTTP header 'Accept' (if needed)
      local_header_accept = ['application/json']
      local_header_accept_result = @api_client.select_header_accept(local_header_accept) and header_params['Accept'] = local_header_accept_result

      # HTTP header 'Content-Type'
      local_header_content_type = ['application/json']
      header_params['Content-Type'] = @api_client.select_header_content_type(local_header_content_type)

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      
      auth_names = []
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'AntecipacaoResponse')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AntecipacaoApi#efetivar_antecipacoes_using_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Listar compras com parcelas antecip\u00E1veis
    # Lista as compras antecip\u00E1veis de uma conta.
    # @param id_conta C\u00F3digo identificador da conta da Compra.
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :sort Tipo de ordena\u00E7\u00E3o dos registros.
    # @option opts [Integer] :page P\u00E1gina solicitada (Default = 0)
    # @option opts [Integer] :limit Limite de elementos por solicita\u00E7\u00E3o (Default = 50, Max = 50)
    # @option opts [Integer] :id_compra C\u00F3digo identificador da Compra.
    # @option opts [BOOLEAN] :parcelada Indica se a compra \u00E9 parcelada.
    # @option opts [BOOLEAN] :juros Indica se a compra \u00E9 com ou sem juros.
    # @option opts [String] :tipo_origem_transacao Indica se a compra \u00E9 ON-US ou OFF-US
    # @return [PageCompraResponse]
    def listar_using_get12(id_conta, opts = {})
      data, _status_code, _headers = listar_using_get12_with_http_info(id_conta, opts)
      return data
    end

    # Listar compras com parcelas antecip\u00E1veis
    # Lista as compras antecip\u00E1veis de uma conta.
    # @param id_conta C\u00F3digo identificador da conta da Compra.
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :sort Tipo de ordena\u00E7\u00E3o dos registros.
    # @option opts [Integer] :page P\u00E1gina solicitada (Default = 0)
    # @option opts [Integer] :limit Limite de elementos por solicita\u00E7\u00E3o (Default = 50, Max = 50)
    # @option opts [Integer] :id_compra C\u00F3digo identificador da Compra.
    # @option opts [BOOLEAN] :parcelada Indica se a compra \u00E9 parcelada.
    # @option opts [BOOLEAN] :juros Indica se a compra \u00E9 com ou sem juros.
    # @option opts [String] :tipo_origem_transacao Indica se a compra \u00E9 ON-US ou OFF-US
    # @return [Array<(PageCompraResponse, Fixnum, Hash)>] PageCompraResponse data, response status code and response headers
    def listar_using_get12_with_http_info(id_conta, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: AntecipacaoApi.listar_using_get12 ..."
      end
      
      
      # verify the required parameter 'id_conta' is set
      fail ArgumentError, "Missing the required parameter 'id_conta' when calling AntecipacaoApi.listar_using_get12" if id_conta.nil?
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      if opts[:'tipo_origem_transacao'] && !['ON_US', 'OFF_US'].include?(opts[:'tipo_origem_transacao'])
        fail ArgumentError, 'invalid value for "tipo_origem_transacao", must be one of ON_US, OFF_US'
      end
      
      
      
      
      # resource path
      local_var_path = "/api/compras-antecipaveis".sub('{format}','json')

      # query parameters
      query_params = {}
      query_params[:'idConta'] = id_conta
      query_params[:'sort'] = @api_client.build_collection_param(opts[:'sort'], :multi) if opts[:'sort']
      query_params[:'page'] = opts[:'page'] if opts[:'page']
      query_params[:'limit'] = opts[:'limit'] if opts[:'limit']
      query_params[:'idCompra'] = opts[:'id_compra'] if opts[:'id_compra']
      query_params[:'parcelada'] = opts[:'parcelada'] if opts[:'parcelada']
      query_params[:'juros'] = opts[:'juros'] if opts[:'juros']
      query_params[:'tipoOrigemTransacao'] = opts[:'tipo_origem_transacao'] if opts[:'tipo_origem_transacao']

      # header parameters
      header_params = {}

      # HTTP header 'Accept' (if needed)
      local_header_accept = ['application/json']
      local_header_accept_result = @api_client.select_header_accept(local_header_accept) and header_params['Accept'] = local_header_accept_result

      # HTTP header 'Content-Type'
      local_header_content_type = ['application/json']
      header_params['Content-Type'] = @api_client.select_header_content_type(local_header_content_type)

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      
      auth_names = []
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'PageCompraResponse')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AntecipacaoApi#listar_using_get12\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Simular antecipa\u00E7\u00E3o de parcelas
    # Simula a antecipa\u00E7\u00E3o de parcelas de um evento, listando todos os planos de parcelamento dispon\u00EDveis, cujo desconto \u00E9 calculado baseado na data da \u00FAltima parcela em aberto.
    # @param id_conta C\u00F3digo de identifica\u00E7\u00E3o da conta.
    # @param id C\u00F3digo de Identifica\u00E7\u00E3o do evento.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :complemento Dados complementares sobre a realiza\u00E7\u00E3o da transa\u00E7\u00E3o.
    # @return [AntecipacaoSimuladaResponse]
    def simular_antecipacao_using_get(id_conta, id, opts = {})
      data, _status_code, _headers = simular_antecipacao_using_get_with_http_info(id_conta, id, opts)
      return data
    end

    # Simular antecipa\u00E7\u00E3o de parcelas
    # Simula a antecipa\u00E7\u00E3o de parcelas de um evento, listando todos os planos de parcelamento dispon\u00EDveis, cujo desconto \u00E9 calculado baseado na data da \u00FAltima parcela em aberto.
    # @param id_conta C\u00F3digo de identifica\u00E7\u00E3o da conta.
    # @param id C\u00F3digo de Identifica\u00E7\u00E3o do evento.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :complemento Dados complementares sobre a realiza\u00E7\u00E3o da transa\u00E7\u00E3o.
    # @return [Array<(AntecipacaoSimuladaResponse, Fixnum, Hash)>] AntecipacaoSimuladaResponse data, response status code and response headers
    def simular_antecipacao_using_get_with_http_info(id_conta, id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: AntecipacaoApi.simular_antecipacao_using_get ..."
      end
      
      
      # verify the required parameter 'id_conta' is set
      fail ArgumentError, "Missing the required parameter 'id_conta' when calling AntecipacaoApi.simular_antecipacao_using_get" if id_conta.nil?
      
      
      
      
      
      
      # verify the required parameter 'id' is set
      fail ArgumentError, "Missing the required parameter 'id' when calling AntecipacaoApi.simular_antecipacao_using_get" if id.nil?
      
      
      
      
      
      
      
      
      
      
      
      # resource path
      local_var_path = "/api/compras-antecipaveis/{id}/simular-antecipacao".sub('{format}','json').sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = {}
      query_params[:'idConta'] = id_conta
      query_params[:'complemento'] = opts[:'complemento'] if opts[:'complemento']

      # header parameters
      header_params = {}

      # HTTP header 'Accept' (if needed)
      local_header_accept = ['application/json']
      local_header_accept_result = @api_client.select_header_accept(local_header_accept) and header_params['Accept'] = local_header_accept_result

      # HTTP header 'Content-Type'
      local_header_content_type = ['application/json']
      header_params['Content-Type'] = @api_client.select_header_content_type(local_header_content_type)

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      
      auth_names = []
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'AntecipacaoSimuladaResponse')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AntecipacaoApi#simular_antecipacao_using_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Simular antecipa\u00E7\u00E3o de todas as parcelas antecip\u00E1veis
    # O recurso permite realizar a simula\u00E7\u00E3o da antecipa\u00E7\u00E3o de todas as compras antecip\u00E1veis de todas as parcelas de uma determinada conta.
    # @param id_conta C\u00F3digo de identifica\u00E7\u00E3o da conta.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :complemento Dados complementares sobre a realiza\u00E7\u00E3o da transa\u00E7\u00E3o.
    # @return [AntecipacaoSimuladaLoteResponse]
    def simular_antecipacoes_using_get(id_conta, opts = {})
      data, _status_code, _headers = simular_antecipacoes_using_get_with_http_info(id_conta, opts)
      return data
    end

    # Simular antecipa\u00E7\u00E3o de todas as parcelas antecip\u00E1veis
    # O recurso permite realizar a simula\u00E7\u00E3o da antecipa\u00E7\u00E3o de todas as compras antecip\u00E1veis de todas as parcelas de uma determinada conta.
    # @param id_conta C\u00F3digo de identifica\u00E7\u00E3o da conta.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :complemento Dados complementares sobre a realiza\u00E7\u00E3o da transa\u00E7\u00E3o.
    # @return [Array<(AntecipacaoSimuladaLoteResponse, Fixnum, Hash)>] AntecipacaoSimuladaLoteResponse data, response status code and response headers
    def simular_antecipacoes_using_get_with_http_info(id_conta, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: AntecipacaoApi.simular_antecipacoes_using_get ..."
      end
      
      
      # verify the required parameter 'id_conta' is set
      fail ArgumentError, "Missing the required parameter 'id_conta' when calling AntecipacaoApi.simular_antecipacoes_using_get" if id_conta.nil?
      
      
      
      
      
      
      
      
      
      
      
      # resource path
      local_var_path = "/api/compras-antecipaveis/simular-antecipacao".sub('{format}','json')

      # query parameters
      query_params = {}
      query_params[:'idConta'] = id_conta
      query_params[:'complemento'] = opts[:'complemento'] if opts[:'complemento']

      # header parameters
      header_params = {}

      # HTTP header 'Accept' (if needed)
      local_header_accept = ['application/json']
      local_header_accept_result = @api_client.select_header_accept(local_header_accept) and header_params['Accept'] = local_header_accept_result

      # HTTP header 'Content-Type'
      local_header_content_type = ['application/json']
      header_params['Content-Type'] = @api_client.select_header_content_type(local_header_content_type)

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      
      auth_names = []
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'AntecipacaoSimuladaLoteResponse')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AntecipacaoApi#simular_antecipacoes_using_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
