=begin
CaaS - Conductor as a Service

Gest\u00C3\u00A3o de pagamento eletr\u00C3\u00B4nicos como servi\u00C3\u00A7o

OpenAPI spec version: 0.0.1
Contact: contato@conductor.com.br
Generated by: https://github.com/swagger-api/swagger-codegen.git

License: Apache 2.0
http://www.apache.org/licenses/LICENSE-2.0.html

Terms of Service: http://dev.conductor.com.br/terms/

=end

require "uri"

module Pier
  class CartaoResponseApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end

    # /contas/{idConta}/cartoes/{idCartao}/cancelar
    # Cancelar um determinado cart\u00C3\u00A3o
    # @param id_emissor ID do Emissor
    # @param id_conta ID da Conta
    # @param id_cartao ID do Cart\u00C3\u00A3o que deseja cancelar
    # @param motivo Motivo do cancelamento
    # @param observacao Alguma observa\u00C3\u00A7\u00C3\u00A3o para o cancelamento
    # @param [Hash] opts the optional parameters
    # @return [CancelarCartaoResponse]
    def cancelar_cartao_using_post(id_emissor, id_conta, id_cartao, motivo, observacao, opts = {})
      data, _status_code, _headers = cancelar_cartao_using_post_with_http_info(id_emissor, id_conta, id_cartao, motivo, observacao, opts)
      return data
    end

    # /contas/{idConta}/cartoes/{idCartao}/cancelar
    # Cancelar um determinado cart\u00C3\u00A3o
    # @param id_emissor ID do Emissor
    # @param id_conta ID da Conta
    # @param id_cartao ID do Cart\u00C3\u00A3o que deseja cancelar
    # @param motivo Motivo do cancelamento
    # @param observacao Alguma observa\u00C3\u00A7\u00C3\u00A3o para o cancelamento
    # @param [Hash] opts the optional parameters
    # @return [Array<(CancelarCartaoResponse, Fixnum, Hash)>] CancelarCartaoResponse data, response status code and response headers
    def cancelar_cartao_using_post_with_http_info(id_emissor, id_conta, id_cartao, motivo, observacao, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: CartaoResponseApi.cancelar_cartao_using_post ..."
      end
      
      
      # verify the required parameter 'id_emissor' is set
      fail ArgumentError, "Missing the required parameter 'id_emissor' when calling CartaoResponseApi.cancelar_cartao_using_post" if id_emissor.nil?
      
      
      
      
      
      
      # verify the required parameter 'id_conta' is set
      fail ArgumentError, "Missing the required parameter 'id_conta' when calling CartaoResponseApi.cancelar_cartao_using_post" if id_conta.nil?
      
      
      
      
      
      
      # verify the required parameter 'id_cartao' is set
      fail ArgumentError, "Missing the required parameter 'id_cartao' when calling CartaoResponseApi.cancelar_cartao_using_post" if id_cartao.nil?
      
      
      
      
      
      
      # verify the required parameter 'motivo' is set
      fail ArgumentError, "Missing the required parameter 'motivo' when calling CartaoResponseApi.cancelar_cartao_using_post" if motivo.nil?
      
      
      
      
      
      
      # verify the required parameter 'observacao' is set
      fail ArgumentError, "Missing the required parameter 'observacao' when calling CartaoResponseApi.cancelar_cartao_using_post" if observacao.nil?
      
      
      
      
      
      # resource path
      local_var_path = "/api/v1/contas/{idConta}/cartoes/{idCartao}/cancelar".sub('{format}','json').sub('{' + 'idConta' + '}', id_conta.to_s).sub('{' + 'idCartao' + '}', id_cartao.to_s)

      # query parameters
      query_params = {}
      query_params[:'motivo'] = motivo
      query_params[:'observacao'] = observacao

      # header parameters
      header_params = {}

      # HTTP header 'Accept' (if needed)
      local_header_accept = ['application/json']
      local_header_accept_result = @api_client.select_header_accept(local_header_accept) and header_params['Accept'] = local_header_accept_result

      # HTTP header 'Content-Type'
      local_header_content_type = ['application/json']
      header_params['Content-Type'] = @api_client.select_header_content_type(local_header_content_type)
      header_params[:'idEmissor'] = id_emissor

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      
      auth_names = ['access_token']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'CancelarCartaoResponse')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CartaoResponseApi#cancelar_cartao_using_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # /contas/{idConta}/cartoes/{idCartao}
    # Consultar as informa\u00C3\u00A7\u00C3\u00B5es de um determinado cart\u00C3\u00A3o de uma conta
    # @param id_emissor ID do Emissor
    # @param id_conta ID da Conta que pertence o cart\u00C3\u00A3o
    # @param id_cartao ID do Cart\u00C3\u00A3o que deseja consultar
    # @param [Hash] opts the optional parameters
    # @option opts [String] :numero_cartao N\u00C3\u00BAmero do Cart\u00C3\u00A3o que deseja consultar (opcional)
    # @return [ConsultarCartaoResponse]
    def consultar_cartao_using_get(id_emissor, id_conta, id_cartao, opts = {})
      data, _status_code, _headers = consultar_cartao_using_get_with_http_info(id_emissor, id_conta, id_cartao, opts)
      return data
    end

    # /contas/{idConta}/cartoes/{idCartao}
    # Consultar as informa\u00C3\u00A7\u00C3\u00B5es de um determinado cart\u00C3\u00A3o de uma conta
    # @param id_emissor ID do Emissor
    # @param id_conta ID da Conta que pertence o cart\u00C3\u00A3o
    # @param id_cartao ID do Cart\u00C3\u00A3o que deseja consultar
    # @param [Hash] opts the optional parameters
    # @option opts [String] :numero_cartao N\u00C3\u00BAmero do Cart\u00C3\u00A3o que deseja consultar (opcional)
    # @return [Array<(ConsultarCartaoResponse, Fixnum, Hash)>] ConsultarCartaoResponse data, response status code and response headers
    def consultar_cartao_using_get_with_http_info(id_emissor, id_conta, id_cartao, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: CartaoResponseApi.consultar_cartao_using_get ..."
      end
      
      
      # verify the required parameter 'id_emissor' is set
      fail ArgumentError, "Missing the required parameter 'id_emissor' when calling CartaoResponseApi.consultar_cartao_using_get" if id_emissor.nil?
      
      
      
      
      
      
      # verify the required parameter 'id_conta' is set
      fail ArgumentError, "Missing the required parameter 'id_conta' when calling CartaoResponseApi.consultar_cartao_using_get" if id_conta.nil?
      
      
      
      
      
      
      # verify the required parameter 'id_cartao' is set
      fail ArgumentError, "Missing the required parameter 'id_cartao' when calling CartaoResponseApi.consultar_cartao_using_get" if id_cartao.nil?
      
      
      
      
      
      
      
      
      
      
      
      # resource path
      local_var_path = "/api/v1/contas/{idConta}/cartoes/{idCartao}".sub('{format}','json').sub('{' + 'idConta' + '}', id_conta.to_s).sub('{' + 'idCartao' + '}', id_cartao.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}

      # HTTP header 'Accept' (if needed)
      local_header_accept = ['application/json']
      local_header_accept_result = @api_client.select_header_accept(local_header_accept) and header_params['Accept'] = local_header_accept_result

      # HTTP header 'Content-Type'
      local_header_content_type = ['application/json']
      header_params['Content-Type'] = @api_client.select_header_content_type(local_header_content_type)
      header_params[:'idEmissor'] = id_emissor
      header_params[:'numeroCartao'] = opts[:'numero_cartao'] if opts[:'numero_cartao']

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      
      auth_names = ['access_token']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'ConsultarCartaoResponse')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CartaoResponseApi#consultar_cartao_using_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # /contas/{idConta}/cartoes
    # Consultar todos os cart\u00C3\u00B5es de uma determinada conta
    # @param id_emissor ID do Emissor
    # @param id_conta ID da Conta
    # @param [Hash] opts the optional parameters
    # @return [ConsultarCartaoResponse]
    def consultar_cartoes_using_get(id_emissor, id_conta, opts = {})
      data, _status_code, _headers = consultar_cartoes_using_get_with_http_info(id_emissor, id_conta, opts)
      return data
    end

    # /contas/{idConta}/cartoes
    # Consultar todos os cart\u00C3\u00B5es de uma determinada conta
    # @param id_emissor ID do Emissor
    # @param id_conta ID da Conta
    # @param [Hash] opts the optional parameters
    # @return [Array<(ConsultarCartaoResponse, Fixnum, Hash)>] ConsultarCartaoResponse data, response status code and response headers
    def consultar_cartoes_using_get_with_http_info(id_emissor, id_conta, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: CartaoResponseApi.consultar_cartoes_using_get ..."
      end
      
      
      # verify the required parameter 'id_emissor' is set
      fail ArgumentError, "Missing the required parameter 'id_emissor' when calling CartaoResponseApi.consultar_cartoes_using_get" if id_emissor.nil?
      
      
      
      
      
      
      # verify the required parameter 'id_conta' is set
      fail ArgumentError, "Missing the required parameter 'id_conta' when calling CartaoResponseApi.consultar_cartoes_using_get" if id_conta.nil?
      
      
      
      
      
      # resource path
      local_var_path = "/api/v1/contas/{idConta}/cartoes".sub('{format}','json').sub('{' + 'idConta' + '}', id_conta.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}

      # HTTP header 'Accept' (if needed)
      local_header_accept = ['application/json']
      local_header_accept_result = @api_client.select_header_accept(local_header_accept) and header_params['Accept'] = local_header_accept_result

      # HTTP header 'Content-Type'
      local_header_content_type = ['application/json']
      header_params['Content-Type'] = @api_client.select_header_content_type(local_header_content_type)
      header_params[:'idEmissor'] = id_emissor

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      
      auth_names = ['access_token']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'ConsultarCartaoResponse')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CartaoResponseApi#consultar_cartoes_using_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # /contas/{idConta}/cartoes/{idCartao}/faturas
    # Consulte os extratos/faturas do cart\u00C3\u00A3o de uma determinada conta
    # @param id_emissor ID do Emissor
    # @param id_conta ID da Conta
    # @param id_cartao ID do Cart\u00C3\u00A3o que deseja consultar o extrato
    # @param data_vencimento Data limite para o vencimento das transa\u00C3\u00A7\u00C3\u00B5es
    # @param [Hash] opts the optional parameters
    # @return [ConsultarExtratoContaResponse]
    def consultar_extrato_faturas_using_get(id_emissor, id_conta, id_cartao, data_vencimento, opts = {})
      data, _status_code, _headers = consultar_extrato_faturas_using_get_with_http_info(id_emissor, id_conta, id_cartao, data_vencimento, opts)
      return data
    end

    # /contas/{idConta}/cartoes/{idCartao}/faturas
    # Consulte os extratos/faturas do cart\u00C3\u00A3o de uma determinada conta
    # @param id_emissor ID do Emissor
    # @param id_conta ID da Conta
    # @param id_cartao ID do Cart\u00C3\u00A3o que deseja consultar o extrato
    # @param data_vencimento Data limite para o vencimento das transa\u00C3\u00A7\u00C3\u00B5es
    # @param [Hash] opts the optional parameters
    # @return [Array<(ConsultarExtratoContaResponse, Fixnum, Hash)>] ConsultarExtratoContaResponse data, response status code and response headers
    def consultar_extrato_faturas_using_get_with_http_info(id_emissor, id_conta, id_cartao, data_vencimento, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: CartaoResponseApi.consultar_extrato_faturas_using_get ..."
      end
      
      
      # verify the required parameter 'id_emissor' is set
      fail ArgumentError, "Missing the required parameter 'id_emissor' when calling CartaoResponseApi.consultar_extrato_faturas_using_get" if id_emissor.nil?
      
      
      
      
      
      
      # verify the required parameter 'id_conta' is set
      fail ArgumentError, "Missing the required parameter 'id_conta' when calling CartaoResponseApi.consultar_extrato_faturas_using_get" if id_conta.nil?
      
      
      
      
      
      
      # verify the required parameter 'id_cartao' is set
      fail ArgumentError, "Missing the required parameter 'id_cartao' when calling CartaoResponseApi.consultar_extrato_faturas_using_get" if id_cartao.nil?
      
      
      
      
      
      
      # verify the required parameter 'data_vencimento' is set
      fail ArgumentError, "Missing the required parameter 'data_vencimento' when calling CartaoResponseApi.consultar_extrato_faturas_using_get" if data_vencimento.nil?
      
      
      
      
      
      # resource path
      local_var_path = "/api/v1/contas/{idConta}/cartoes/{idCartao}/faturas".sub('{format}','json').sub('{' + 'idConta' + '}', id_conta.to_s).sub('{' + 'idCartao' + '}', id_cartao.to_s)

      # query parameters
      query_params = {}
      query_params[:'dataVencimento'] = data_vencimento

      # header parameters
      header_params = {}

      # HTTP header 'Accept' (if needed)
      local_header_accept = ['application/json']
      local_header_accept_result = @api_client.select_header_accept(local_header_accept) and header_params['Accept'] = local_header_accept_result

      # HTTP header 'Content-Type'
      local_header_content_type = ['application/json']
      header_params['Content-Type'] = @api_client.select_header_content_type(local_header_content_type)
      header_params[:'idEmissor'] = id_emissor

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      
      auth_names = ['access_token']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'ConsultarExtratoContaResponse')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CartaoResponseApi#consultar_extrato_faturas_using_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # /contas/{idConta}/cartoes/{idCartao}/limites
    # Consulte os limites de um determinado cart\u00C3\u00A3o
    # @param id_emissor ID do Emissor
    # @param id_conta ID da Conta
    # @param id_cartao ID do Cart\u00C3\u00A3o que deseja consultar o saldo/limite
    # @param [Hash] opts the optional parameters
    # @return [ConsultarSaldoLimitesResponse]
    def consultar_saldos_limites_using_get(id_emissor, id_conta, id_cartao, opts = {})
      data, _status_code, _headers = consultar_saldos_limites_using_get_with_http_info(id_emissor, id_conta, id_cartao, opts)
      return data
    end

    # /contas/{idConta}/cartoes/{idCartao}/limites
    # Consulte os limites de um determinado cart\u00C3\u00A3o
    # @param id_emissor ID do Emissor
    # @param id_conta ID da Conta
    # @param id_cartao ID do Cart\u00C3\u00A3o que deseja consultar o saldo/limite
    # @param [Hash] opts the optional parameters
    # @return [Array<(ConsultarSaldoLimitesResponse, Fixnum, Hash)>] ConsultarSaldoLimitesResponse data, response status code and response headers
    def consultar_saldos_limites_using_get_with_http_info(id_emissor, id_conta, id_cartao, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: CartaoResponseApi.consultar_saldos_limites_using_get ..."
      end
      
      
      # verify the required parameter 'id_emissor' is set
      fail ArgumentError, "Missing the required parameter 'id_emissor' when calling CartaoResponseApi.consultar_saldos_limites_using_get" if id_emissor.nil?
      
      
      
      
      
      
      # verify the required parameter 'id_conta' is set
      fail ArgumentError, "Missing the required parameter 'id_conta' when calling CartaoResponseApi.consultar_saldos_limites_using_get" if id_conta.nil?
      
      
      
      
      
      
      # verify the required parameter 'id_cartao' is set
      fail ArgumentError, "Missing the required parameter 'id_cartao' when calling CartaoResponseApi.consultar_saldos_limites_using_get" if id_cartao.nil?
      
      
      
      
      
      # resource path
      local_var_path = "/api/v1/contas/{idConta}/cartoes/{idCartao}/limites".sub('{format}','json').sub('{' + 'idConta' + '}', id_conta.to_s).sub('{' + 'idCartao' + '}', id_cartao.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}

      # HTTP header 'Accept' (if needed)
      local_header_accept = ['application/json']
      local_header_accept_result = @api_client.select_header_accept(local_header_accept) and header_params['Accept'] = local_header_accept_result

      # HTTP header 'Content-Type'
      local_header_content_type = ['application/json']
      header_params['Content-Type'] = @api_client.select_header_content_type(local_header_content_type)
      header_params[:'idEmissor'] = id_emissor

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      
      auth_names = ['access_token']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'ConsultarSaldoLimitesResponse')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CartaoResponseApi#consultar_saldos_limites_using_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # /contas/{idConta}/cartoes/{idCartao}/desbloquear
    # Desbloquear cart\u00C3\u00A3o de uma determinada conta
    # @param id_emissor ID do Emissor
    # @param id_conta ID da Conta
    # @param id_cartao ID do Cart\u00C3\u00A3o que deseja consultar o saldo/limite
    # @param codigo_segurancao C\u00C3\u00B3digo seguran\u00C3\u00A7a do cart\u00C3\u00A3o
    # @param [Hash] opts the optional parameters
    # @return [DesbloquearCartaoResponse]
    def desbloquear_cartao_using_post(id_emissor, id_conta, id_cartao, codigo_segurancao, opts = {})
      data, _status_code, _headers = desbloquear_cartao_using_post_with_http_info(id_emissor, id_conta, id_cartao, codigo_segurancao, opts)
      return data
    end

    # /contas/{idConta}/cartoes/{idCartao}/desbloquear
    # Desbloquear cart\u00C3\u00A3o de uma determinada conta
    # @param id_emissor ID do Emissor
    # @param id_conta ID da Conta
    # @param id_cartao ID do Cart\u00C3\u00A3o que deseja consultar o saldo/limite
    # @param codigo_segurancao C\u00C3\u00B3digo seguran\u00C3\u00A7a do cart\u00C3\u00A3o
    # @param [Hash] opts the optional parameters
    # @return [Array<(DesbloquearCartaoResponse, Fixnum, Hash)>] DesbloquearCartaoResponse data, response status code and response headers
    def desbloquear_cartao_using_post_with_http_info(id_emissor, id_conta, id_cartao, codigo_segurancao, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: CartaoResponseApi.desbloquear_cartao_using_post ..."
      end
      
      
      # verify the required parameter 'id_emissor' is set
      fail ArgumentError, "Missing the required parameter 'id_emissor' when calling CartaoResponseApi.desbloquear_cartao_using_post" if id_emissor.nil?
      
      
      
      
      
      
      # verify the required parameter 'id_conta' is set
      fail ArgumentError, "Missing the required parameter 'id_conta' when calling CartaoResponseApi.desbloquear_cartao_using_post" if id_conta.nil?
      
      
      
      
      
      
      # verify the required parameter 'id_cartao' is set
      fail ArgumentError, "Missing the required parameter 'id_cartao' when calling CartaoResponseApi.desbloquear_cartao_using_post" if id_cartao.nil?
      
      
      
      
      
      
      # verify the required parameter 'codigo_segurancao' is set
      fail ArgumentError, "Missing the required parameter 'codigo_segurancao' when calling CartaoResponseApi.desbloquear_cartao_using_post" if codigo_segurancao.nil?
      
      
      
      
      
      # resource path
      local_var_path = "/api/v1/contas/{idConta}/cartoes/{idCartao}/desbloquear".sub('{format}','json').sub('{' + 'idConta' + '}', id_conta.to_s).sub('{' + 'idCartao' + '}', id_cartao.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}

      # HTTP header 'Accept' (if needed)
      local_header_accept = ['application/json']
      local_header_accept_result = @api_client.select_header_accept(local_header_accept) and header_params['Accept'] = local_header_accept_result

      # HTTP header 'Content-Type'
      local_header_content_type = ['application/json']
      header_params['Content-Type'] = @api_client.select_header_content_type(local_header_content_type)
      header_params[:'idEmissor'] = id_emissor
      header_params[:'codigoSegurancao'] = codigo_segurancao

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      
      auth_names = ['access_token']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'DesbloquearCartaoResponse')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CartaoResponseApi#desbloquear_cartao_using_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
