=begin
PIER Labs


Gest\u00C3\u00A3o de pagamento eletr\u00C3\u00B4nicos como servi\u00C3\u00A7o


OpenAPI spec version: 0.0.1
Contact: pierlabs@conductor.com.br
Generated by: https://github.com/swagger-api/swagger-codegen.git


License: Apache 2.0
http://www.apache.org/licenses/LICENSE-2.0.html



Terms of Service: http://pierlabs.io/terms/


=end

require "uri"

module Pier

  class DocumentosApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end


    # Cadastra documentos
    # Esse recurso permite cadastrar documentos.
    # @param persist persist
    # @param [Hash] opts the optional parameters
    # @return [DocumentoResponse]
    def salvar_using_post5(persist, opts = {})
      data, _status_code, _headers = salvar_using_post5_with_http_info(persist, opts)
      return data
    end

    # Cadastra documentos
    # Esse recurso permite cadastrar documentos.
    # @param persist persist
    # @param [Hash] opts the optional parameters
    # @return [Array<(DocumentoResponse, Fixnum, Hash)>] DocumentoResponse data, response status code and response headers
    def salvar_using_post5_with_http_info(persist, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: DocumentosApi.salvar_using_post5 ..."
      end
      
      
      # verify the required parameter 'persist' is set
      fail ArgumentError, "Missing the required parameter 'persist' when calling DocumentosApi.salvar_using_post5" if persist.nil?
      
      
      
      
      
      # resource path
      local_var_path = "/api/documentos".sub('{format}','json')

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}

      # HTTP header 'Accept' (if needed)
      local_header_accept = ['application/json']
      local_header_accept_result = @api_client.select_header_accept(local_header_accept) and header_params['Accept'] = local_header_accept_result

      # HTTP header 'Content-Type'
      local_header_content_type = ['application/json']
      header_params['Content-Type'] = @api_client.select_header_content_type(local_header_content_type)

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(persist)
      
      auth_names = []
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'DocumentoResponse')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DocumentosApi#salvar_using_post5\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end


    # Cadastra os templates dos documentos
    # Esse recurso permite cadastrar templates dos documentos.
    # @param persist persist
    # @param [Hash] opts the optional parameters
    # @return [DocumentoTemplateResponse]
    def salvar_using_post6(persist, opts = {})
      data, _status_code, _headers = salvar_using_post6_with_http_info(persist, opts)
      return data
    end

    # Cadastra os templates dos documentos
    # Esse recurso permite cadastrar templates dos documentos.
    # @param persist persist
    # @param [Hash] opts the optional parameters
    # @return [Array<(DocumentoTemplateResponse, Fixnum, Hash)>] DocumentoTemplateResponse data, response status code and response headers
    def salvar_using_post6_with_http_info(persist, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: DocumentosApi.salvar_using_post6 ..."
      end
      
      
      # verify the required parameter 'persist' is set
      fail ArgumentError, "Missing the required parameter 'persist' when calling DocumentosApi.salvar_using_post6" if persist.nil?
      
      
      
      
      
      # resource path
      local_var_path = "/api/templates-documentos".sub('{format}','json')

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}

      # HTTP header 'Accept' (if needed)
      local_header_accept = ['application/json']
      local_header_accept_result = @api_client.select_header_accept(local_header_accept) and header_params['Accept'] = local_header_accept_result

      # HTTP header 'Content-Type'
      local_header_content_type = ['application/json']
      header_params['Content-Type'] = @api_client.select_header_content_type(local_header_content_type)

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(persist)
      
      auth_names = []
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'DocumentoTemplateResponse')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DocumentosApi#salvar_using_post6\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end


    # Cadastra os tipos de documentos
    # Esse recurso permite cadastrar tipos de documentos.
    # @param persist persist
    # @param [Hash] opts the optional parameters
    # @return [DocumentoTipoResponse]
    def salvar_using_post7(persist, opts = {})
      data, _status_code, _headers = salvar_using_post7_with_http_info(persist, opts)
      return data
    end

    # Cadastra os tipos de documentos
    # Esse recurso permite cadastrar tipos de documentos.
    # @param persist persist
    # @param [Hash] opts the optional parameters
    # @return [Array<(DocumentoTipoResponse, Fixnum, Hash)>] DocumentoTipoResponse data, response status code and response headers
    def salvar_using_post7_with_http_info(persist, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: DocumentosApi.salvar_using_post7 ..."
      end
      
      
      # verify the required parameter 'persist' is set
      fail ArgumentError, "Missing the required parameter 'persist' when calling DocumentosApi.salvar_using_post7" if persist.nil?
      
      
      
      
      
      # resource path
      local_var_path = "/api/tipos-documentos".sub('{format}','json')

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}

      # HTTP header 'Accept' (if needed)
      local_header_accept = ['application/json']
      local_header_accept_result = @api_client.select_header_accept(local_header_accept) and header_params['Accept'] = local_header_accept_result

      # HTTP header 'Content-Type'
      local_header_content_type = ['application/json']
      header_params['Content-Type'] = @api_client.select_header_content_type(local_header_content_type)

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(persist)
      
      auth_names = []
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'DocumentoTipoResponse')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DocumentosApi#salvar_using_post7\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

  end

end
