=begin
PIER Labs


Gest\u00E3o de pagamento eletr\u00F4nicos como servi\u00E7o


OpenAPI spec version: 0.0.1
Contact: pierlabs@conductor.com.br
Generated by: https://github.com/swagger-api/swagger-codegen.git


License: Apache 2.0
http://www.apache.org/licenses/LICENSE-2.0.html



Terms of Service: http://pierlabs.io/terms/


=end

require "uri"

module Pier

  class GlobaltagfaturaApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end


    # {{{fatura_resource_consultar_fatura}}}
    # {{{fatura_resource_consultar_fatura_notes}}}
    # @param data_vencimento {{{fatura_resource_consultar_fatura_param_data_vencimento}}}
    # @param id_conta {{{fatura_resource_consultar_fatura_param_id_conta}}}
    # @param [Hash] opts the optional parameters
    # @return [FaturaDetalheResponse]
    def consultar_fatura_using_get1(data_vencimento, id_conta, opts = {})
      data, _status_code, _headers = consultar_fatura_using_get1_with_http_info(data_vencimento, id_conta, opts)
      return data
    end

    # {{{fatura_resource_consultar_fatura}}}
    # {{{fatura_resource_consultar_fatura_notes}}}
    # @param data_vencimento {{{fatura_resource_consultar_fatura_param_data_vencimento}}}
    # @param id_conta {{{fatura_resource_consultar_fatura_param_id_conta}}}
    # @param [Hash] opts the optional parameters
    # @return [Array<(FaturaDetalheResponse, Fixnum, Hash)>] FaturaDetalheResponse data, response status code and response headers
    def consultar_fatura_using_get1_with_http_info(data_vencimento, id_conta, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: GlobaltagfaturaApi.consultar_fatura_using_get1 ..."
      end
      
      
      # verify the required parameter 'data_vencimento' is set
      fail ArgumentError, "Missing the required parameter 'data_vencimento' when calling GlobaltagfaturaApi.consultar_fatura_using_get1" if data_vencimento.nil?
      
      
      
      
      
      
      # verify the required parameter 'id_conta' is set
      fail ArgumentError, "Missing the required parameter 'id_conta' when calling GlobaltagfaturaApi.consultar_fatura_using_get1" if id_conta.nil?
      
      
      
      
      
      # resource path
      local_var_path = "/api/faturas/{dataVencimento}".sub('{format}','json').sub('{' + 'dataVencimento' + '}', data_vencimento.to_s)

      # query parameters
      query_params = {}
      query_params[:'idConta'] = id_conta

      # header parameters
      header_params = {}

      # HTTP header 'Accept' (if needed)
      local_header_accept = ['application/json']
      local_header_accept_result = @api_client.select_header_accept(local_header_accept) and header_params['Accept'] = local_header_accept_result

      # HTTP header 'Content-Type'
      local_header_content_type = ['application/json']
      header_params['Content-Type'] = @api_client.select_header_content_type(local_header_content_type)

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      
      auth_names = []
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'FaturaDetalheResponse')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GlobaltagfaturaApi#consultar_fatura_using_get1\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end


    # {{{fatura_conta_resource_consultar_lancamentos_futuros_fatura}}}
    # {{{fatura_conta_resource_consultar_lancamentos_futuros_fatura_notes}}}
    # @param id {{{fatura_conta_resource_consultar_lancamentos_futuros_fatura_param_id_conta}}}
    # @param data_vencimento_padrao {{{plano_parcelamento_request_data_vencimento_padrao_value}}}
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :sort {{{global_menssagem_sort_sort}}}
    # @option opts [Integer] :page {{{global_menssagem_sort_page_value}}}
    # @option opts [Integer] :limit {{{global_menssagem_sort_limit}}}
    # @return [PagePlanoParcelamentoResponse]
    def consultar_lancamentos_futuros_fatura_using_get1(id, data_vencimento_padrao, opts = {})
      data, _status_code, _headers = consultar_lancamentos_futuros_fatura_using_get1_with_http_info(id, data_vencimento_padrao, opts)
      return data
    end

    # {{{fatura_conta_resource_consultar_lancamentos_futuros_fatura}}}
    # {{{fatura_conta_resource_consultar_lancamentos_futuros_fatura_notes}}}
    # @param id {{{fatura_conta_resource_consultar_lancamentos_futuros_fatura_param_id_conta}}}
    # @param data_vencimento_padrao {{{plano_parcelamento_request_data_vencimento_padrao_value}}}
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :sort {{{global_menssagem_sort_sort}}}
    # @option opts [Integer] :page {{{global_menssagem_sort_page_value}}}
    # @option opts [Integer] :limit {{{global_menssagem_sort_limit}}}
    # @return [Array<(PagePlanoParcelamentoResponse, Fixnum, Hash)>] PagePlanoParcelamentoResponse data, response status code and response headers
    def consultar_lancamentos_futuros_fatura_using_get1_with_http_info(id, data_vencimento_padrao, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: GlobaltagfaturaApi.consultar_lancamentos_futuros_fatura_using_get1 ..."
      end
      
      
      # verify the required parameter 'id' is set
      fail ArgumentError, "Missing the required parameter 'id' when calling GlobaltagfaturaApi.consultar_lancamentos_futuros_fatura_using_get1" if id.nil?
      
      
      
      
      
      
      # verify the required parameter 'data_vencimento_padrao' is set
      fail ArgumentError, "Missing the required parameter 'data_vencimento_padrao' when calling GlobaltagfaturaApi.consultar_lancamentos_futuros_fatura_using_get1" if data_vencimento_padrao.nil?
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      # resource path
      local_var_path = "/api/contas/{id}/faturas/planos-parcelamento".sub('{format}','json').sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = {}
      query_params[:'dataVencimentoPadrao'] = data_vencimento_padrao
      query_params[:'sort'] = @api_client.build_collection_param(opts[:'sort'], :multi) if opts[:'sort']
      query_params[:'page'] = opts[:'page'] if opts[:'page']
      query_params[:'limit'] = opts[:'limit'] if opts[:'limit']

      # header parameters
      header_params = {}

      # HTTP header 'Accept' (if needed)
      local_header_accept = ['application/json']
      local_header_accept_result = @api_client.select_header_accept(local_header_accept) and header_params['Accept'] = local_header_accept_result

      # HTTP header 'Content-Type'
      local_header_content_type = ['application/json']
      header_params['Content-Type'] = @api_client.select_header_content_type(local_header_content_type)

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      
      auth_names = []
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'PagePlanoParcelamentoResponse')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GlobaltagfaturaApi#consultar_lancamentos_futuros_fatura_using_get1\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end


    # {{{fatura_conta_resource_enviar_fatura_email}}}
    # {{{fatura_conta_resource_enviar_fatura_email_notes}}}
    # @param id {{{fatura_conta_resource_enviar_fatura_email_param_id_conta}}}
    # @param data_vencimento {{{fatura_conta_resource_enviar_fatura_email_param_data_vencimento}}}
    # @param [Hash] opts the optional parameters
    # @option opts [String] :email {{{fatura_conta_resource_enviar_fatura_email_param_email}}}
    # @return [Object]
    def enviar_fatura_email_using_post(id, data_vencimento, opts = {})
      data, _status_code, _headers = enviar_fatura_email_using_post_with_http_info(id, data_vencimento, opts)
      return data
    end

    # {{{fatura_conta_resource_enviar_fatura_email}}}
    # {{{fatura_conta_resource_enviar_fatura_email_notes}}}
    # @param id {{{fatura_conta_resource_enviar_fatura_email_param_id_conta}}}
    # @param data_vencimento {{{fatura_conta_resource_enviar_fatura_email_param_data_vencimento}}}
    # @param [Hash] opts the optional parameters
    # @option opts [String] :email {{{fatura_conta_resource_enviar_fatura_email_param_email}}}
    # @return [Array<(Object, Fixnum, Hash)>] Object data, response status code and response headers
    def enviar_fatura_email_using_post_with_http_info(id, data_vencimento, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: GlobaltagfaturaApi.enviar_fatura_email_using_post ..."
      end
      
      
      # verify the required parameter 'id' is set
      fail ArgumentError, "Missing the required parameter 'id' when calling GlobaltagfaturaApi.enviar_fatura_email_using_post" if id.nil?
      
      
      
      
      
      
      # verify the required parameter 'data_vencimento' is set
      fail ArgumentError, "Missing the required parameter 'data_vencimento' when calling GlobaltagfaturaApi.enviar_fatura_email_using_post" if data_vencimento.nil?
      
      
      
      
      
      
      
      
      
      
      
      # resource path
      local_var_path = "/api/contas/{id}/faturas/{dataVencimento}/enviar-email".sub('{format}','json').sub('{' + 'id' + '}', id.to_s).sub('{' + 'dataVencimento' + '}', data_vencimento.to_s)

      # query parameters
      query_params = {}
      query_params[:'email'] = opts[:'email'] if opts[:'email']

      # header parameters
      header_params = {}

      # HTTP header 'Accept' (if needed)
      local_header_accept = ['application/json']
      local_header_accept_result = @api_client.select_header_accept(local_header_accept) and header_params['Accept'] = local_header_accept_result

      # HTTP header 'Content-Type'
      local_header_content_type = ['application/json']
      header_params['Content-Type'] = @api_client.select_header_content_type(local_header_content_type)

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      
      auth_names = []
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'Object')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GlobaltagfaturaApi#enviar_fatura_email_using_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end


    # {{{fatura_resource_listar_faturas}}}
    # {{{fatura_resource_listar_faturas_notes}}}
    # @param id_conta {{{fatura_resource_listar_faturas_param_id_conta}}}
    # @param [Hash] opts the optional parameters
    # @option opts [String] :situacao_processamento {{{fatura_resource_listar_faturas_param_situacao_processamento}}} (default to TODAS)
    # @option opts [Array<String>] :sort {{{global_menssagem_sort_sort}}}
    # @option opts [Integer] :page {{{global_menssagem_sort_page_value}}}
    # @option opts [Integer] :limit {{{global_menssagem_sort_limit}}}
    # @return [PageFaturaResponse]
    def listar_faturas_using_get1(id_conta, opts = {})
      data, _status_code, _headers = listar_faturas_using_get1_with_http_info(id_conta, opts)
      return data
    end

    # {{{fatura_resource_listar_faturas}}}
    # {{{fatura_resource_listar_faturas_notes}}}
    # @param id_conta {{{fatura_resource_listar_faturas_param_id_conta}}}
    # @param [Hash] opts the optional parameters
    # @option opts [String] :situacao_processamento {{{fatura_resource_listar_faturas_param_situacao_processamento}}}
    # @option opts [Array<String>] :sort {{{global_menssagem_sort_sort}}}
    # @option opts [Integer] :page {{{global_menssagem_sort_page_value}}}
    # @option opts [Integer] :limit {{{global_menssagem_sort_limit}}}
    # @return [Array<(PageFaturaResponse, Fixnum, Hash)>] PageFaturaResponse data, response status code and response headers
    def listar_faturas_using_get1_with_http_info(id_conta, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: GlobaltagfaturaApi.listar_faturas_using_get1 ..."
      end
      
      
      # verify the required parameter 'id_conta' is set
      fail ArgumentError, "Missing the required parameter 'id_conta' when calling GlobaltagfaturaApi.listar_faturas_using_get1" if id_conta.nil?
      
      
      
      
      
      
      
      
      if opts[:'situacao_processamento'] && !['ABERTA', 'FECHADA', 'TODAS'].include?(opts[:'situacao_processamento'])
        fail ArgumentError, 'invalid value for "situacao_processamento", must be one of ABERTA, FECHADA, TODAS'
      end
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      # resource path
      local_var_path = "/api/faturas".sub('{format}','json')

      # query parameters
      query_params = {}
      query_params[:'idConta'] = id_conta
      query_params[:'situacaoProcessamento'] = opts[:'situacao_processamento'] if opts[:'situacao_processamento']
      query_params[:'sort'] = @api_client.build_collection_param(opts[:'sort'], :multi) if opts[:'sort']
      query_params[:'page'] = opts[:'page'] if opts[:'page']
      query_params[:'limit'] = opts[:'limit'] if opts[:'limit']

      # header parameters
      header_params = {}

      # HTTP header 'Accept' (if needed)
      local_header_accept = ['application/json']
      local_header_accept_result = @api_client.select_header_accept(local_header_accept) and header_params['Accept'] = local_header_accept_result

      # HTTP header 'Content-Type'
      local_header_content_type = ['application/json']
      header_params['Content-Type'] = @api_client.select_header_content_type(local_header_content_type)

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      
      auth_names = []
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'PageFaturaResponse')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GlobaltagfaturaApi#listar_faturas_using_get1\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end


    # {{{fatura_conta_resource_visualizar_documento}}}
    # {{{fatura_conta_resource_visualizar_documento_notes}}}
    # @param id {{{fatura_conta_resource_visualizar_documento_param_id_conta}}}
    # @param data_vencimento {{{fatura_conta_resource_visualizar_documento_param_data_vencimento}}}
    # @param [Hash] opts the optional parameters
    # @option opts [BOOLEAN] :flag_apenas_demostrativo {{{fatura_conta_resource_enviar_fatura_email_param_flag_apenas_demostrativo}}}
    # @option opts [BOOLEAN] :flag_registra_boleto {{{fatura_conta_resource_enviar_fatura_email_param_flag_registra_boleto}}}
    # @return [Object]
    def visualizar_documento_using_get(id, data_vencimento, opts = {})
      data, _status_code, _headers = visualizar_documento_using_get_with_http_info(id, data_vencimento, opts)
      return data
    end

    # {{{fatura_conta_resource_visualizar_documento}}}
    # {{{fatura_conta_resource_visualizar_documento_notes}}}
    # @param id {{{fatura_conta_resource_visualizar_documento_param_id_conta}}}
    # @param data_vencimento {{{fatura_conta_resource_visualizar_documento_param_data_vencimento}}}
    # @param [Hash] opts the optional parameters
    # @option opts [BOOLEAN] :flag_apenas_demostrativo {{{fatura_conta_resource_enviar_fatura_email_param_flag_apenas_demostrativo}}}
    # @option opts [BOOLEAN] :flag_registra_boleto {{{fatura_conta_resource_enviar_fatura_email_param_flag_registra_boleto}}}
    # @return [Array<(Object, Fixnum, Hash)>] Object data, response status code and response headers
    def visualizar_documento_using_get_with_http_info(id, data_vencimento, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: GlobaltagfaturaApi.visualizar_documento_using_get ..."
      end
      
      
      # verify the required parameter 'id' is set
      fail ArgumentError, "Missing the required parameter 'id' when calling GlobaltagfaturaApi.visualizar_documento_using_get" if id.nil?
      
      
      
      
      
      
      # verify the required parameter 'data_vencimento' is set
      fail ArgumentError, "Missing the required parameter 'data_vencimento' when calling GlobaltagfaturaApi.visualizar_documento_using_get" if data_vencimento.nil?
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      # resource path
      local_var_path = "/api/contas/{id}/faturas/{dataVencimento}/arquivo.pdf".sub('{format}','json').sub('{' + 'id' + '}', id.to_s).sub('{' + 'dataVencimento' + '}', data_vencimento.to_s)

      # query parameters
      query_params = {}
      query_params[:'flagApenasDemostrativo'] = opts[:'flag_apenas_demostrativo'] if opts[:'flag_apenas_demostrativo']
      query_params[:'flagRegistraBoleto'] = opts[:'flag_registra_boleto'] if opts[:'flag_registra_boleto']

      # header parameters
      header_params = {}

      # HTTP header 'Accept' (if needed)
      local_header_accept = ['application/pdf']
      local_header_accept_result = @api_client.select_header_accept(local_header_accept) and header_params['Accept'] = local_header_accept_result

      # HTTP header 'Content-Type'
      local_header_content_type = ['application/json']
      header_params['Content-Type'] = @api_client.select_header_content_type(local_header_content_type)

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      
      auth_names = []
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'Object')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GlobaltagfaturaApi#visualizar_documento_using_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

  end

end
