=begin
PIER Labs


Gest\u00E3o de pagamento eletr\u00F4nicos como servi\u00E7o


OpenAPI spec version: 0.0.1
Contact: pierlabs@conductor.com.br
Generated by: https://github.com/swagger-api/swagger-codegen.git


License: Apache 2.0
http://www.apache.org/licenses/LICENSE-2.0.html



Terms of Service: http://pierlabs.io/terms/


=end

require "uri"

module Pier

  class GlobaltagjobApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end


    # {{{job_resource_ativar_job}}}
    # {{{job_resource_ativar_job_notes}}}
    # @param id {{{job_resource_ativar_job_param_id}}}
    # @param [Hash] opts the optional parameters
    # @return [JobResponse]
    def ativar_job_using_post(id, opts = {})
      data, _status_code, _headers = ativar_job_using_post_with_http_info(id, opts)
      return data
    end

    # {{{job_resource_ativar_job}}}
    # {{{job_resource_ativar_job_notes}}}
    # @param id {{{job_resource_ativar_job_param_id}}}
    # @param [Hash] opts the optional parameters
    # @return [Array<(JobResponse, Fixnum, Hash)>] JobResponse data, response status code and response headers
    def ativar_job_using_post_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: GlobaltagjobApi.ativar_job_using_post ..."
      end
      
      
      # verify the required parameter 'id' is set
      fail ArgumentError, "Missing the required parameter 'id' when calling GlobaltagjobApi.ativar_job_using_post" if id.nil?
      
      
      
      
      
      # resource path
      local_var_path = "/api/jobs/{id}/ativar-job".sub('{format}','json').sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}

      # HTTP header 'Accept' (if needed)
      local_header_accept = ['application/json']
      local_header_accept_result = @api_client.select_header_accept(local_header_accept) and header_params['Accept'] = local_header_accept_result

      # HTTP header 'Content-Type'
      local_header_content_type = ['application/json']
      header_params['Content-Type'] = @api_client.select_header_content_type(local_header_content_type)

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      
      auth_names = []
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'JobResponse')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GlobaltagjobApi#ativar_job_using_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end


    # {{{job_resource_atualizar}}}
    # {{{job_resource_atualizar_notes}}}
    # @param id {{{job_resource_atualizar_param_id}}}
    # @param descricao {{{job_resource_atualizar_param_descricao}}}
    # @param cron {{{job_resource_atualizar_param_cron}}}
    # @param groovy groovy
    # @param [Hash] opts the optional parameters
    # @return [JobResponse]
    def atualizar_using_put4(id, descricao, cron, groovy, opts = {})
      data, _status_code, _headers = atualizar_using_put4_with_http_info(id, descricao, cron, groovy, opts)
      return data
    end

    # {{{job_resource_atualizar}}}
    # {{{job_resource_atualizar_notes}}}
    # @param id {{{job_resource_atualizar_param_id}}}
    # @param descricao {{{job_resource_atualizar_param_descricao}}}
    # @param cron {{{job_resource_atualizar_param_cron}}}
    # @param groovy groovy
    # @param [Hash] opts the optional parameters
    # @return [Array<(JobResponse, Fixnum, Hash)>] JobResponse data, response status code and response headers
    def atualizar_using_put4_with_http_info(id, descricao, cron, groovy, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: GlobaltagjobApi.atualizar_using_put4 ..."
      end
      
      
      # verify the required parameter 'id' is set
      fail ArgumentError, "Missing the required parameter 'id' when calling GlobaltagjobApi.atualizar_using_put4" if id.nil?
      
      
      
      
      
      
      # verify the required parameter 'descricao' is set
      fail ArgumentError, "Missing the required parameter 'descricao' when calling GlobaltagjobApi.atualizar_using_put4" if descricao.nil?
      
      
      
      
      
      
      # verify the required parameter 'cron' is set
      fail ArgumentError, "Missing the required parameter 'cron' when calling GlobaltagjobApi.atualizar_using_put4" if cron.nil?
      
      
      
      
      
      
      # verify the required parameter 'groovy' is set
      fail ArgumentError, "Missing the required parameter 'groovy' when calling GlobaltagjobApi.atualizar_using_put4" if groovy.nil?
      
      
      
      
      
      # resource path
      local_var_path = "/api/jobs/{id}".sub('{format}','json').sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = {}
      query_params[:'descricao'] = descricao
      query_params[:'cron'] = cron

      # header parameters
      header_params = {}

      # HTTP header 'Accept' (if needed)
      local_header_accept = ['application/json']
      local_header_accept_result = @api_client.select_header_accept(local_header_accept) and header_params['Accept'] = local_header_accept_result

      # HTTP header 'Content-Type'
      local_header_content_type = ['text/plain']
      header_params['Content-Type'] = @api_client.select_header_content_type(local_header_content_type)

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(groovy)
      
      auth_names = []
      data, status_code, headers = @api_client.call_api(:PUT, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'JobResponse')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GlobaltagjobApi#atualizar_using_put4\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end


    # {{{job_resource_desativar_job}}}
    # {{{job_resource_desativar_job_notes}}}
    # @param id {{{job_resource_desativar_job_param_id}}}
    # @param [Hash] opts the optional parameters
    # @return [JobResponse]
    def desativar_job_using_post(id, opts = {})
      data, _status_code, _headers = desativar_job_using_post_with_http_info(id, opts)
      return data
    end

    # {{{job_resource_desativar_job}}}
    # {{{job_resource_desativar_job_notes}}}
    # @param id {{{job_resource_desativar_job_param_id}}}
    # @param [Hash] opts the optional parameters
    # @return [Array<(JobResponse, Fixnum, Hash)>] JobResponse data, response status code and response headers
    def desativar_job_using_post_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: GlobaltagjobApi.desativar_job_using_post ..."
      end
      
      
      # verify the required parameter 'id' is set
      fail ArgumentError, "Missing the required parameter 'id' when calling GlobaltagjobApi.desativar_job_using_post" if id.nil?
      
      
      
      
      
      # resource path
      local_var_path = "/api/jobs/{id}/desativar-job".sub('{format}','json').sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}

      # HTTP header 'Accept' (if needed)
      local_header_accept = ['application/json']
      local_header_accept_result = @api_client.select_header_accept(local_header_accept) and header_params['Accept'] = local_header_accept_result

      # HTTP header 'Content-Type'
      local_header_content_type = ['application/json']
      header_params['Content-Type'] = @api_client.select_header_content_type(local_header_content_type)

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      
      auth_names = []
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'JobResponse')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GlobaltagjobApi#desativar_job_using_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end


    # {{{job_resource_listar}}}
    # {{{job_resource_listar_notes}}}
    # @param [Hash] opts the optional parameters
    # @option opts [String] :groovy {{{job_d_t_o_groovy_value}}}
    # @option opts [String] :descricao {{{job_d_t_o_descricao_value}}}
    # @option opts [String] :cron {{{job_d_t_o_cron_value}}}
    # @option opts [String] :status {{{job_d_t_o_status_value}}}
    # @option opts [Integer] :page P\u00E1gina solicitada (Default = 0)
    # @option opts [Integer] :limit Limite de elementos por solicita\u00E7\u00E3o (Default = 50, Max = 50)
    # @return [PageJobResponse]
    def listar_using_get31(opts = {})
      data, _status_code, _headers = listar_using_get31_with_http_info(opts)
      return data
    end

    # {{{job_resource_listar}}}
    # {{{job_resource_listar_notes}}}
    # @param [Hash] opts the optional parameters
    # @option opts [String] :groovy {{{job_d_t_o_groovy_value}}}
    # @option opts [String] :descricao {{{job_d_t_o_descricao_value}}}
    # @option opts [String] :cron {{{job_d_t_o_cron_value}}}
    # @option opts [String] :status {{{job_d_t_o_status_value}}}
    # @option opts [Integer] :page P\u00E1gina solicitada (Default = 0)
    # @option opts [Integer] :limit Limite de elementos por solicita\u00E7\u00E3o (Default = 50, Max = 50)
    # @return [Array<(PageJobResponse, Fixnum, Hash)>] PageJobResponse data, response status code and response headers
    def listar_using_get31_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: GlobaltagjobApi.listar_using_get31 ..."
      end
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      if opts[:'status'] && !['INATIVO', 'ATIVO'].include?(opts[:'status'])
        fail ArgumentError, 'invalid value for "status", must be one of INATIVO, ATIVO'
      end
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      # resource path
      local_var_path = "/api/jobs".sub('{format}','json')

      # query parameters
      query_params = {}
      query_params[:'groovy'] = opts[:'groovy'] if opts[:'groovy']
      query_params[:'descricao'] = opts[:'descricao'] if opts[:'descricao']
      query_params[:'cron'] = opts[:'cron'] if opts[:'cron']
      query_params[:'status'] = opts[:'status'] if opts[:'status']
      query_params[:'page'] = opts[:'page'] if opts[:'page']
      query_params[:'limit'] = opts[:'limit'] if opts[:'limit']

      # header parameters
      header_params = {}

      # HTTP header 'Accept' (if needed)
      local_header_accept = ['application/json']
      local_header_accept_result = @api_client.select_header_accept(local_header_accept) and header_params['Accept'] = local_header_accept_result

      # HTTP header 'Content-Type'
      local_header_content_type = ['application/json']
      header_params['Content-Type'] = @api_client.select_header_content_type(local_header_content_type)

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      
      auth_names = []
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'PageJobResponse')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GlobaltagjobApi#listar_using_get31\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end


    # {{{job_resource_salvar}}}
    # {{{job_resource_salvar_notes}}}
    # @param descricao {{{job_resource_salvar_param_descricao}}}
    # @param cron {{{job_resource_salvar_param_cron}}}
    # @param groovy groovy
    # @param [Hash] opts the optional parameters
    # @return [JobResponse]
    def salvar_using_post17(descricao, cron, groovy, opts = {})
      data, _status_code, _headers = salvar_using_post17_with_http_info(descricao, cron, groovy, opts)
      return data
    end

    # {{{job_resource_salvar}}}
    # {{{job_resource_salvar_notes}}}
    # @param descricao {{{job_resource_salvar_param_descricao}}}
    # @param cron {{{job_resource_salvar_param_cron}}}
    # @param groovy groovy
    # @param [Hash] opts the optional parameters
    # @return [Array<(JobResponse, Fixnum, Hash)>] JobResponse data, response status code and response headers
    def salvar_using_post17_with_http_info(descricao, cron, groovy, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: GlobaltagjobApi.salvar_using_post17 ..."
      end
      
      
      # verify the required parameter 'descricao' is set
      fail ArgumentError, "Missing the required parameter 'descricao' when calling GlobaltagjobApi.salvar_using_post17" if descricao.nil?
      
      
      
      
      
      
      # verify the required parameter 'cron' is set
      fail ArgumentError, "Missing the required parameter 'cron' when calling GlobaltagjobApi.salvar_using_post17" if cron.nil?
      
      
      
      
      
      
      # verify the required parameter 'groovy' is set
      fail ArgumentError, "Missing the required parameter 'groovy' when calling GlobaltagjobApi.salvar_using_post17" if groovy.nil?
      
      
      
      
      
      # resource path
      local_var_path = "/api/jobs".sub('{format}','json')

      # query parameters
      query_params = {}
      query_params[:'descricao'] = descricao
      query_params[:'cron'] = cron

      # header parameters
      header_params = {}

      # HTTP header 'Accept' (if needed)
      local_header_accept = ['application/json']
      local_header_accept_result = @api_client.select_header_accept(local_header_accept) and header_params['Accept'] = local_header_accept_result

      # HTTP header 'Content-Type'
      local_header_content_type = ['text/plain']
      header_params['Content-Type'] = @api_client.select_header_content_type(local_header_content_type)

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(groovy)
      
      auth_names = []
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'JobResponse')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GlobaltagjobApi#salvar_using_post17\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

  end

end
