=begin
PIER Labs

Gest\u00E3o de pagamento eletr\u00F4nicos como servi\u00E7o

OpenAPI spec version: 0.0.1
Contact: pierlabs@conductor.com.br
Generated by: https://github.com/swagger-api/swagger-codegen.git

License: Apache 2.0
http://www.apache.org/licenses/LICENSE-2.0.html

Terms of Service: http://pierlabs.io/terms/

=end

require "uri"

module Pier
  class GlobaltagsmsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end

    # {{{sms_resource_listar_sms}}}
    # {{{sms_resource_listar_sms_notes}}}
    # @param id_conta {{{sms_envio_request_id_conta_value}}}
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :sort {{{global_menssagem_sort_sort}}}
    # @option opts [Integer] :page {{{global_menssagem_sort_page_value}}}
    # @option opts [Integer] :limit {{{global_menssagem_sort_limit}}}
    # @option opts [String] :data_inicio {{{sms_envio_request_data_inicio_value}}}
    # @option opts [String] :data_fim {{{sms_envio_request_data_fim_value}}}
    # @return [PageSMSEnvioResponse]
    def listar_sms_using_get1(id_conta, opts = {})
      data, _status_code, _headers = listar_sms_using_get1_with_http_info(id_conta, opts)
      return data
    end

    # {{{sms_resource_listar_sms}}}
    # {{{sms_resource_listar_sms_notes}}}
    # @param id_conta {{{sms_envio_request_id_conta_value}}}
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :sort {{{global_menssagem_sort_sort}}}
    # @option opts [Integer] :page {{{global_menssagem_sort_page_value}}}
    # @option opts [Integer] :limit {{{global_menssagem_sort_limit}}}
    # @option opts [String] :data_inicio {{{sms_envio_request_data_inicio_value}}}
    # @option opts [String] :data_fim {{{sms_envio_request_data_fim_value}}}
    # @return [Array<(PageSMSEnvioResponse, Fixnum, Hash)>] PageSMSEnvioResponse data, response status code and response headers
    def listar_sms_using_get1_with_http_info(id_conta, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: GlobaltagsmsApi.listar_sms_using_get1 ..."
      end
      
      
      # verify the required parameter 'id_conta' is set
      fail ArgumentError, "Missing the required parameter 'id_conta' when calling GlobaltagsmsApi.listar_sms_using_get1" if id_conta.nil?
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      # resource path
      local_var_path = "/api/sms".sub('{format}','json')

      # query parameters
      query_params = {}
      query_params[:'idConta'] = id_conta
      query_params[:'sort'] = @api_client.build_collection_param(opts[:'sort'], :multi) if opts[:'sort']
      query_params[:'page'] = opts[:'page'] if opts[:'page']
      query_params[:'limit'] = opts[:'limit'] if opts[:'limit']
      query_params[:'dataInicio'] = opts[:'data_inicio'] if opts[:'data_inicio']
      query_params[:'dataFim'] = opts[:'data_fim'] if opts[:'data_fim']

      # header parameters
      header_params = {}

      # HTTP header 'Accept' (if needed)
      local_header_accept = ['application/json']
      local_header_accept_result = @api_client.select_header_accept(local_header_accept) and header_params['Accept'] = local_header_accept_result

      # HTTP header 'Content-Type'
      local_header_content_type = ['application/json']
      header_params['Content-Type'] = @api_client.select_header_content_type(local_header_content_type)

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      
      auth_names = []
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'PageSMSEnvioResponse')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GlobaltagsmsApi#listar_sms_using_get1\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
