=begin
PIER Labs


Gest\u00E3o de pagamento eletr\u00F4nicos como servi\u00E7o


OpenAPI spec version: 0.0.1
Contact: pierlabs@conductor.com.br
Generated by: https://github.com/swagger-api/swagger-codegen.git


License: Apache 2.0
http://www.apache.org/licenses/LICENSE-2.0.html



Terms of Service: http://pierlabs.io/terms/


=end

require "uri"

module Pier

  class GlobaltagpayApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end


    # {{{cartao_pay_resource_atualizar_chave}}}
    # {{{cartao_pay_resource_atualizar_chave_notes}}}
    # @param device_id {{{cartao_pay_resource_atualizar_chave_param_device_id}}}
    # @param id {{{cartao_pay_resource_atualizar_chave_param_id}}}
    # @param [Hash] opts the optional parameters
    # @return [CartaoPayAtualizarChaveResponse]
    def atualizar_chave_using_post(device_id, id, opts = {})
      data, _status_code, _headers = atualizar_chave_using_post_with_http_info(device_id, id, opts)
      return data
    end

    # {{{cartao_pay_resource_atualizar_chave}}}
    # {{{cartao_pay_resource_atualizar_chave_notes}}}
    # @param device_id {{{cartao_pay_resource_atualizar_chave_param_device_id}}}
    # @param id {{{cartao_pay_resource_atualizar_chave_param_id}}}
    # @param [Hash] opts the optional parameters
    # @return [Array<(CartaoPayAtualizarChaveResponse, Fixnum, Hash)>] CartaoPayAtualizarChaveResponse data, response status code and response headers
    def atualizar_chave_using_post_with_http_info(device_id, id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: GlobaltagpayApi.atualizar_chave_using_post ..."
      end
      
      
      # verify the required parameter 'device_id' is set
      fail ArgumentError, "Missing the required parameter 'device_id' when calling GlobaltagpayApi.atualizar_chave_using_post" if device_id.nil?
      
      
      
      
      
      
      # verify the required parameter 'id' is set
      fail ArgumentError, "Missing the required parameter 'id' when calling GlobaltagpayApi.atualizar_chave_using_post" if id.nil?
      
      
      
      
      
      # resource path
      local_var_path = "/api/cartoes-tokenizados/{id}/atualizar-chave".sub('{format}','json').sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}

      # HTTP header 'Accept' (if needed)
      local_header_accept = ['application/json']
      local_header_accept_result = @api_client.select_header_accept(local_header_accept) and header_params['Accept'] = local_header_accept_result

      # HTTP header 'Content-Type'
      local_header_content_type = ['application/json']
      header_params['Content-Type'] = @api_client.select_header_content_type(local_header_content_type)
      header_params[:'device_id'] = device_id

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      
      auth_names = []
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'CartaoPayAtualizarChaveResponse')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GlobaltagpayApi#atualizar_chave_using_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end


    # {{{cartao_pay_resource_atualizar}}}
    # {{{cartao_pay_resource_atualizar_notes}}}
    # @param device_id {{{cartao_pay_resource_atualizar_param_device_id}}}
    # @param id {{{cartao_pay_resource_atualizar_param_id}}}
    # @param update update
    # @param [Hash] opts the optional parameters
    # @return [CartaoPayResponse]
    def atualizar_using_put(device_id, id, update, opts = {})
      data, _status_code, _headers = atualizar_using_put_with_http_info(device_id, id, update, opts)
      return data
    end

    # {{{cartao_pay_resource_atualizar}}}
    # {{{cartao_pay_resource_atualizar_notes}}}
    # @param device_id {{{cartao_pay_resource_atualizar_param_device_id}}}
    # @param id {{{cartao_pay_resource_atualizar_param_id}}}
    # @param update update
    # @param [Hash] opts the optional parameters
    # @return [Array<(CartaoPayResponse, Fixnum, Hash)>] CartaoPayResponse data, response status code and response headers
    def atualizar_using_put_with_http_info(device_id, id, update, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: GlobaltagpayApi.atualizar_using_put ..."
      end
      
      
      # verify the required parameter 'device_id' is set
      fail ArgumentError, "Missing the required parameter 'device_id' when calling GlobaltagpayApi.atualizar_using_put" if device_id.nil?
      
      
      
      
      
      
      # verify the required parameter 'id' is set
      fail ArgumentError, "Missing the required parameter 'id' when calling GlobaltagpayApi.atualizar_using_put" if id.nil?
      
      
      
      
      
      
      # verify the required parameter 'update' is set
      fail ArgumentError, "Missing the required parameter 'update' when calling GlobaltagpayApi.atualizar_using_put" if update.nil?
      
      
      
      
      
      # resource path
      local_var_path = "/api/cartoes-tokenizados/{id}".sub('{format}','json').sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}

      # HTTP header 'Accept' (if needed)
      local_header_accept = ['application/json']
      local_header_accept_result = @api_client.select_header_accept(local_header_accept) and header_params['Accept'] = local_header_accept_result

      # HTTP header 'Content-Type'
      local_header_content_type = ['application/json']
      header_params['Content-Type'] = @api_client.select_header_content_type(local_header_content_type)
      header_params[:'device_id'] = device_id

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(update)
      
      auth_names = []
      data, status_code, headers = @api_client.call_api(:PUT, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'CartaoPayResponse')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GlobaltagpayApi#atualizar_using_put\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end


    # {{{cartao_pay_resource_confirma_atualizacao_chave}}}
    # {{{cartao_pay_resource_confirma_atualizacao_chave_notes}}}
    # @param device_id {{{cartao_pay_resource_confirma_atualizacao_chave_param_device_id}}}
    # @param id {{{cartao_pay_resource_confirma_atualizacao_chave_param_id}}}
    # @param update update
    # @param [Hash] opts the optional parameters
    # @return [CartaoPayConfirmarChaveResponse]
    def confirma_atualizacao_chave_using_post(device_id, id, update, opts = {})
      data, _status_code, _headers = confirma_atualizacao_chave_using_post_with_http_info(device_id, id, update, opts)
      return data
    end

    # {{{cartao_pay_resource_confirma_atualizacao_chave}}}
    # {{{cartao_pay_resource_confirma_atualizacao_chave_notes}}}
    # @param device_id {{{cartao_pay_resource_confirma_atualizacao_chave_param_device_id}}}
    # @param id {{{cartao_pay_resource_confirma_atualizacao_chave_param_id}}}
    # @param update update
    # @param [Hash] opts the optional parameters
    # @return [Array<(CartaoPayConfirmarChaveResponse, Fixnum, Hash)>] CartaoPayConfirmarChaveResponse data, response status code and response headers
    def confirma_atualizacao_chave_using_post_with_http_info(device_id, id, update, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: GlobaltagpayApi.confirma_atualizacao_chave_using_post ..."
      end
      
      
      # verify the required parameter 'device_id' is set
      fail ArgumentError, "Missing the required parameter 'device_id' when calling GlobaltagpayApi.confirma_atualizacao_chave_using_post" if device_id.nil?
      
      
      
      
      
      
      # verify the required parameter 'id' is set
      fail ArgumentError, "Missing the required parameter 'id' when calling GlobaltagpayApi.confirma_atualizacao_chave_using_post" if id.nil?
      
      
      
      
      
      
      # verify the required parameter 'update' is set
      fail ArgumentError, "Missing the required parameter 'update' when calling GlobaltagpayApi.confirma_atualizacao_chave_using_post" if update.nil?
      
      
      
      
      
      # resource path
      local_var_path = "/api/cartoes-tokenizados/{id}/confirmar-chave".sub('{format}','json').sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}

      # HTTP header 'Accept' (if needed)
      local_header_accept = ['application/json']
      local_header_accept_result = @api_client.select_header_accept(local_header_accept) and header_params['Accept'] = local_header_accept_result

      # HTTP header 'Content-Type'
      local_header_content_type = ['application/json']
      header_params['Content-Type'] = @api_client.select_header_content_type(local_header_content_type)
      header_params[:'device_id'] = device_id

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(update)
      
      auth_names = []
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'CartaoPayConfirmarChaveResponse')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GlobaltagpayApi#confirma_atualizacao_chave_using_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end


    # {{{cartao_pay_resource_consultar}}}
    # {{{cartao_pay_resource_consultar_notes}}}
    # @param device_id {{{cartao_pay_resource_consultar_param_device_id}}}
    # @param id {{{cartao_pay_resource_consultar_param_id}}}
    # @param [Hash] opts the optional parameters
    # @return [CartaoPayDetalheResponse]
    def consultar_using_get9(device_id, id, opts = {})
      data, _status_code, _headers = consultar_using_get9_with_http_info(device_id, id, opts)
      return data
    end

    # {{{cartao_pay_resource_consultar}}}
    # {{{cartao_pay_resource_consultar_notes}}}
    # @param device_id {{{cartao_pay_resource_consultar_param_device_id}}}
    # @param id {{{cartao_pay_resource_consultar_param_id}}}
    # @param [Hash] opts the optional parameters
    # @return [Array<(CartaoPayDetalheResponse, Fixnum, Hash)>] CartaoPayDetalheResponse data, response status code and response headers
    def consultar_using_get9_with_http_info(device_id, id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: GlobaltagpayApi.consultar_using_get9 ..."
      end
      
      
      # verify the required parameter 'device_id' is set
      fail ArgumentError, "Missing the required parameter 'device_id' when calling GlobaltagpayApi.consultar_using_get9" if device_id.nil?
      
      
      
      
      
      
      # verify the required parameter 'id' is set
      fail ArgumentError, "Missing the required parameter 'id' when calling GlobaltagpayApi.consultar_using_get9" if id.nil?
      
      
      
      
      
      # resource path
      local_var_path = "/api/cartoes-tokenizados/{id}".sub('{format}','json').sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}

      # HTTP header 'Accept' (if needed)
      local_header_accept = ['application/json']
      local_header_accept_result = @api_client.select_header_accept(local_header_accept) and header_params['Accept'] = local_header_accept_result

      # HTTP header 'Content-Type'
      local_header_content_type = ['application/json']
      header_params['Content-Type'] = @api_client.select_header_content_type(local_header_content_type)
      header_params[:'device_id'] = device_id

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      
      auth_names = []
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'CartaoPayDetalheResponse')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GlobaltagpayApi#consultar_using_get9\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end


    # {{{enum_pay_resource_listar_codigos_resposta}}}
    # {{{enum_pay_resource_listar_codigos_resposta_notes}}}
    # @param [Hash] opts the optional parameters
    # @return [Array<Object>]
    def listar_codigos_resposta_using_get(opts = {})
      data, _status_code, _headers = listar_codigos_resposta_using_get_with_http_info(opts)
      return data
    end

    # {{{enum_pay_resource_listar_codigos_resposta}}}
    # {{{enum_pay_resource_listar_codigos_resposta_notes}}}
    # @param [Hash] opts the optional parameters
    # @return [Array<(Array<Object>, Fixnum, Hash)>] Array<Object> data, response status code and response headers
    def listar_codigos_resposta_using_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: GlobaltagpayApi.listar_codigos_resposta_using_get ..."
      end
      
      # resource path
      local_var_path = "/api/codigos-resposta".sub('{format}','json')

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}

      # HTTP header 'Accept' (if needed)
      local_header_accept = ['application/json']
      local_header_accept_result = @api_client.select_header_accept(local_header_accept) and header_params['Accept'] = local_header_accept_result

      # HTTP header 'Content-Type'
      local_header_content_type = ['application/json']
      header_params['Content-Type'] = @api_client.select_header_content_type(local_header_content_type)

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      
      auth_names = []
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'Array<Object>')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GlobaltagpayApi#listar_codigos_resposta_using_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end


    # {{{enum_pay_resource_listar_modos_entrada}}}
    # {{{enum_pay_resource_listar_modos_entrada_notes}}}
    # @param [Hash] opts the optional parameters
    # @return [Array<Object>]
    def listar_modos_entrada_using_get(opts = {})
      data, _status_code, _headers = listar_modos_entrada_using_get_with_http_info(opts)
      return data
    end

    # {{{enum_pay_resource_listar_modos_entrada}}}
    # {{{enum_pay_resource_listar_modos_entrada_notes}}}
    # @param [Hash] opts the optional parameters
    # @return [Array<(Array<Object>, Fixnum, Hash)>] Array<Object> data, response status code and response headers
    def listar_modos_entrada_using_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: GlobaltagpayApi.listar_modos_entrada_using_get ..."
      end
      
      # resource path
      local_var_path = "/api/modos-entrada".sub('{format}','json')

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}

      # HTTP header 'Accept' (if needed)
      local_header_accept = ['application/json']
      local_header_accept_result = @api_client.select_header_accept(local_header_accept) and header_params['Accept'] = local_header_accept_result

      # HTTP header 'Content-Type'
      local_header_content_type = ['application/json']
      header_params['Content-Type'] = @api_client.select_header_content_type(local_header_content_type)

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      
      auth_names = []
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'Array<Object>')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GlobaltagpayApi#listar_modos_entrada_using_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end


    # {{{enum_pay_resource_listar_operacoes}}}
    # {{{enum_pay_resource_listar_operacoes_notes}}}
    # @param [Hash] opts the optional parameters
    # @return [Array<Object>]
    def listar_operacoes_using_get(opts = {})
      data, _status_code, _headers = listar_operacoes_using_get_with_http_info(opts)
      return data
    end

    # {{{enum_pay_resource_listar_operacoes}}}
    # {{{enum_pay_resource_listar_operacoes_notes}}}
    # @param [Hash] opts the optional parameters
    # @return [Array<(Array<Object>, Fixnum, Hash)>] Array<Object> data, response status code and response headers
    def listar_operacoes_using_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: GlobaltagpayApi.listar_operacoes_using_get ..."
      end
      
      # resource path
      local_var_path = "/api/operacoes".sub('{format}','json')

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}

      # HTTP header 'Accept' (if needed)
      local_header_accept = ['application/json']
      local_header_accept_result = @api_client.select_header_accept(local_header_accept) and header_params['Accept'] = local_header_accept_result

      # HTTP header 'Content-Type'
      local_header_content_type = ['application/json']
      header_params['Content-Type'] = @api_client.select_header_content_type(local_header_content_type)

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      
      auth_names = []
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'Array<Object>')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GlobaltagpayApi#listar_operacoes_using_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end


    # {{{enum_pay_resource_listar_tipos_terminais}}}
    # {{{enum_pay_resource_listar_tipos_terminais_notes}}}
    # @param [Hash] opts the optional parameters
    # @return [Array<Object>]
    def listar_tipos_terminais_using_get(opts = {})
      data, _status_code, _headers = listar_tipos_terminais_using_get_with_http_info(opts)
      return data
    end

    # {{{enum_pay_resource_listar_tipos_terminais}}}
    # {{{enum_pay_resource_listar_tipos_terminais_notes}}}
    # @param [Hash] opts the optional parameters
    # @return [Array<(Array<Object>, Fixnum, Hash)>] Array<Object> data, response status code and response headers
    def listar_tipos_terminais_using_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: GlobaltagpayApi.listar_tipos_terminais_using_get ..."
      end
      
      # resource path
      local_var_path = "/api/tipos-terminais".sub('{format}','json')

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}

      # HTTP header 'Accept' (if needed)
      local_header_accept = ['application/json']
      local_header_accept_result = @api_client.select_header_accept(local_header_accept) and header_params['Accept'] = local_header_accept_result

      # HTTP header 'Content-Type'
      local_header_content_type = ['application/json']
      header_params['Content-Type'] = @api_client.select_header_content_type(local_header_content_type)

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      
      auth_names = []
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'Array<Object>')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GlobaltagpayApi#listar_tipos_terminais_using_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end


    # {{{enum_pay_resource_listar_tipos_transacoes}}}
    # {{{enum_pay_resource_listar_tipos_transacoes_notes}}}
    # @param [Hash] opts the optional parameters
    # @return [Array<Object>]
    def listar_tipos_transacoes_using_get(opts = {})
      data, _status_code, _headers = listar_tipos_transacoes_using_get_with_http_info(opts)
      return data
    end

    # {{{enum_pay_resource_listar_tipos_transacoes}}}
    # {{{enum_pay_resource_listar_tipos_transacoes_notes}}}
    # @param [Hash] opts the optional parameters
    # @return [Array<(Array<Object>, Fixnum, Hash)>] Array<Object> data, response status code and response headers
    def listar_tipos_transacoes_using_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: GlobaltagpayApi.listar_tipos_transacoes_using_get ..."
      end
      
      # resource path
      local_var_path = "/api/tipos-transacoes".sub('{format}','json')

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}

      # HTTP header 'Accept' (if needed)
      local_header_accept = ['application/json']
      local_header_accept_result = @api_client.select_header_accept(local_header_accept) and header_params['Accept'] = local_header_accept_result

      # HTTP header 'Content-Type'
      local_header_content_type = ['application/json']
      header_params['Content-Type'] = @api_client.select_header_content_type(local_header_content_type)

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      
      auth_names = []
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'Array<Object>')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GlobaltagpayApi#listar_tipos_transacoes_using_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end


    # {{{cartao_pay_resource_listar}}}
    # {{{cartao_pay_resource_listar_notes}}}
    # @param [Hash] opts the optional parameters
    # @option opts [String] :device_id {{{cartao_pay_resource_listar_param_device_id}}}
    # @option opts [Array<String>] :sort {{{global_menssagem_sort_sort}}}
    # @option opts [Integer] :page {{{global_menssagem_sort_page_value}}}
    # @option opts [Integer] :limit {{{global_menssagem_sort_limit}}}
    # @option opts [String] :status {{{cartao_pay_request_status_value}}}
    # @option opts [String] :numero_cartao {{{cartao_pay_request_numero_cartao_value}}}
    # @return [PageCartaoPayResponse]
    def listar_using_get10(opts = {})
      data, _status_code, _headers = listar_using_get10_with_http_info(opts)
      return data
    end

    # {{{cartao_pay_resource_listar}}}
    # {{{cartao_pay_resource_listar_notes}}}
    # @param [Hash] opts the optional parameters
    # @option opts [String] :device_id {{{cartao_pay_resource_listar_param_device_id}}}
    # @option opts [Array<String>] :sort {{{global_menssagem_sort_sort}}}
    # @option opts [Integer] :page {{{global_menssagem_sort_page_value}}}
    # @option opts [Integer] :limit {{{global_menssagem_sort_limit}}}
    # @option opts [String] :status {{{cartao_pay_request_status_value}}}
    # @option opts [String] :numero_cartao {{{cartao_pay_request_numero_cartao_value}}}
    # @return [Array<(PageCartaoPayResponse, Fixnum, Hash)>] PageCartaoPayResponse data, response status code and response headers
    def listar_using_get10_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: GlobaltagpayApi.listar_using_get10 ..."
      end
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      if opts[:'status'] && !['ATIVO', 'INATIVO', 'BLOQUEADO'].include?(opts[:'status'])
        fail ArgumentError, 'invalid value for "status", must be one of ATIVO, INATIVO, BLOQUEADO'
      end
      
      
      
      
      
      
      
      
      
      
      # resource path
      local_var_path = "/api/cartoes-tokenizados".sub('{format}','json')

      # query parameters
      query_params = {}
      query_params[:'sort'] = @api_client.build_collection_param(opts[:'sort'], :multi) if opts[:'sort']
      query_params[:'page'] = opts[:'page'] if opts[:'page']
      query_params[:'limit'] = opts[:'limit'] if opts[:'limit']
      query_params[:'status'] = opts[:'status'] if opts[:'status']
      query_params[:'numeroCartao'] = opts[:'numero_cartao'] if opts[:'numero_cartao']

      # header parameters
      header_params = {}

      # HTTP header 'Accept' (if needed)
      local_header_accept = ['application/json']
      local_header_accept_result = @api_client.select_header_accept(local_header_accept) and header_params['Accept'] = local_header_accept_result

      # HTTP header 'Content-Type'
      local_header_content_type = ['application/json']
      header_params['Content-Type'] = @api_client.select_header_content_type(local_header_content_type)
      header_params[:'device_id'] = opts[:'device_id'] if opts[:'device_id']

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      
      auth_names = []
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'PageCartaoPayResponse')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GlobaltagpayApi#listar_using_get10\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end


    # {{{cartao_pay_resource_salvar}}}
    # {{{cartao_pay_resource_salvar_notes}}}
    # @param device_id {{{cartao_pay_resource_salvar_param_device_id}}}
    # @param persist persist
    # @param [Hash] opts the optional parameters
    # @return [CartaoPayCadastroResponse]
    def salvar_using_post5(device_id, persist, opts = {})
      data, _status_code, _headers = salvar_using_post5_with_http_info(device_id, persist, opts)
      return data
    end

    # {{{cartao_pay_resource_salvar}}}
    # {{{cartao_pay_resource_salvar_notes}}}
    # @param device_id {{{cartao_pay_resource_salvar_param_device_id}}}
    # @param persist persist
    # @param [Hash] opts the optional parameters
    # @return [Array<(CartaoPayCadastroResponse, Fixnum, Hash)>] CartaoPayCadastroResponse data, response status code and response headers
    def salvar_using_post5_with_http_info(device_id, persist, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: GlobaltagpayApi.salvar_using_post5 ..."
      end
      
      
      # verify the required parameter 'device_id' is set
      fail ArgumentError, "Missing the required parameter 'device_id' when calling GlobaltagpayApi.salvar_using_post5" if device_id.nil?
      
      
      
      
      
      
      # verify the required parameter 'persist' is set
      fail ArgumentError, "Missing the required parameter 'persist' when calling GlobaltagpayApi.salvar_using_post5" if persist.nil?
      
      
      
      
      
      # resource path
      local_var_path = "/api/cartoes-tokenizados".sub('{format}','json')

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}

      # HTTP header 'Accept' (if needed)
      local_header_accept = ['application/json']
      local_header_accept_result = @api_client.select_header_accept(local_header_accept) and header_params['Accept'] = local_header_accept_result

      # HTTP header 'Content-Type'
      local_header_content_type = ['application/json']
      header_params['Content-Type'] = @api_client.select_header_content_type(local_header_content_type)
      header_params[:'device_id'] = device_id

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(persist)
      
      auth_names = []
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'CartaoPayCadastroResponse')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GlobaltagpayApi#salvar_using_post5\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

  end

end
