=begin
PIER Labs

Gest\u00E3o de pagamento eletr\u00F4nicos como servi\u00E7o

OpenAPI spec version: 0.0.1
Contact: pierlabs@conductor.com.br
Generated by: https://github.com/swagger-api/swagger-codegen.git

License: Apache 2.0
http://www.apache.org/licenses/LICENSE-2.0.html

Terms of Service: http://pierlabs.io/terms/

=end

require "uri"

module Pier
  class GlobaltagpagamentoApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end

    # {{{acordo_resource_consultar}}}
    # {{{acordo_resource_consultar_notes}}}
    # @param id {{{acordo_resource_consultar_param_id}}}
    # @param [Hash] opts the optional parameters
    # @return [AcordoDetalheResponse]
    def consultar_using_get(id, opts = {})
      data, _status_code, _headers = consultar_using_get_with_http_info(id, opts)
      return data
    end

    # {{{acordo_resource_consultar}}}
    # {{{acordo_resource_consultar_notes}}}
    # @param id {{{acordo_resource_consultar_param_id}}}
    # @param [Hash] opts the optional parameters
    # @return [Array<(AcordoDetalheResponse, Fixnum, Hash)>] AcordoDetalheResponse data, response status code and response headers
    def consultar_using_get_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: GlobaltagpagamentoApi.consultar_using_get ..."
      end
      
      
      # verify the required parameter 'id' is set
      fail ArgumentError, "Missing the required parameter 'id' when calling GlobaltagpagamentoApi.consultar_using_get" if id.nil?
      
      
      
      
      
      # resource path
      local_var_path = "/api/acordos/{id}".sub('{format}','json').sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}

      # HTTP header 'Accept' (if needed)
      local_header_accept = ['application/json']
      local_header_accept_result = @api_client.select_header_accept(local_header_accept) and header_params['Accept'] = local_header_accept_result

      # HTTP header 'Content-Type'
      local_header_content_type = ['application/json']
      header_params['Content-Type'] = @api_client.select_header_content_type(local_header_content_type)

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      
      auth_names = []
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'AcordoDetalheResponse')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GlobaltagpagamentoApi#consultar_using_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # {{{pagamento_resource_listar_pagamentos}}}
    # {{{pagamento_resource_listar_pagamentos_notes}}}
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :sort {{{global_menssagem_sort_sort}}}
    # @option opts [Integer] :page {{{global_menssagem_sort_page_value}}}
    # @option opts [Integer] :limit {{{global_menssagem_sort_limit}}}
    # @option opts [Integer] :id_conta {{{historico_pagamento_request_id_conta_value}}}
    # @option opts [Integer] :id_pagamento {{{historico_pagamento_request_id_pagamento_value}}}
    # @option opts [Integer] :id_estabelecimento {{{historico_pagamento_request_id_estabelecimento_value}}}
    # @option opts [Integer] :id_banco {{{historico_pagamento_request_id_banco_value}}}
    # @option opts [Integer] :id_cartao {{{historico_pagamento_request_id_cartao_value}}}
    # @option opts [String] :data_hora_pagamento {{{historico_pagamento_request_data_hora_pagamento_value}}}
    # @option opts [Integer] :status {{{historico_pagamento_request_status_value}}}
    # @return [PageHistoricoPagamentoResponse]
    def listar_pagamentos_using_get1(opts = {})
      data, _status_code, _headers = listar_pagamentos_using_get1_with_http_info(opts)
      return data
    end

    # {{{pagamento_resource_listar_pagamentos}}}
    # {{{pagamento_resource_listar_pagamentos_notes}}}
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :sort {{{global_menssagem_sort_sort}}}
    # @option opts [Integer] :page {{{global_menssagem_sort_page_value}}}
    # @option opts [Integer] :limit {{{global_menssagem_sort_limit}}}
    # @option opts [Integer] :id_conta {{{historico_pagamento_request_id_conta_value}}}
    # @option opts [Integer] :id_pagamento {{{historico_pagamento_request_id_pagamento_value}}}
    # @option opts [Integer] :id_estabelecimento {{{historico_pagamento_request_id_estabelecimento_value}}}
    # @option opts [Integer] :id_banco {{{historico_pagamento_request_id_banco_value}}}
    # @option opts [Integer] :id_cartao {{{historico_pagamento_request_id_cartao_value}}}
    # @option opts [String] :data_hora_pagamento {{{historico_pagamento_request_data_hora_pagamento_value}}}
    # @option opts [Integer] :status {{{historico_pagamento_request_status_value}}}
    # @return [Array<(PageHistoricoPagamentoResponse, Fixnum, Hash)>] PageHistoricoPagamentoResponse data, response status code and response headers
    def listar_pagamentos_using_get1_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: GlobaltagpagamentoApi.listar_pagamentos_using_get1 ..."
      end
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      # resource path
      local_var_path = "/api/pagamentos".sub('{format}','json')

      # query parameters
      query_params = {}
      query_params[:'sort'] = @api_client.build_collection_param(opts[:'sort'], :multi) if opts[:'sort']
      query_params[:'page'] = opts[:'page'] if opts[:'page']
      query_params[:'limit'] = opts[:'limit'] if opts[:'limit']
      query_params[:'idConta'] = opts[:'id_conta'] if opts[:'id_conta']
      query_params[:'idPagamento'] = opts[:'id_pagamento'] if opts[:'id_pagamento']
      query_params[:'idEstabelecimento'] = opts[:'id_estabelecimento'] if opts[:'id_estabelecimento']
      query_params[:'idBanco'] = opts[:'id_banco'] if opts[:'id_banco']
      query_params[:'idCartao'] = opts[:'id_cartao'] if opts[:'id_cartao']
      query_params[:'dataHoraPagamento'] = opts[:'data_hora_pagamento'] if opts[:'data_hora_pagamento']
      query_params[:'status'] = opts[:'status'] if opts[:'status']

      # header parameters
      header_params = {}

      # HTTP header 'Accept' (if needed)
      local_header_accept = ['application/json']
      local_header_accept_result = @api_client.select_header_accept(local_header_accept) and header_params['Accept'] = local_header_accept_result

      # HTTP header 'Content-Type'
      local_header_content_type = ['application/json']
      header_params['Content-Type'] = @api_client.select_header_content_type(local_header_content_type)

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      
      auth_names = []
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'PageHistoricoPagamentoResponse')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GlobaltagpagamentoApi#listar_pagamentos_using_get1\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # {{{acordo_resource_listar}}}
    # {{{acordo_resource_listar_notes}}}
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :sort {{{global_menssagem_sort_sort}}}
    # @option opts [Integer] :page {{{global_menssagem_sort_page_value}}}
    # @option opts [Integer] :limit {{{global_menssagem_sort_limit}}}
    # @option opts [Integer] :id_conta {{{acordo_request_id_conta_value}}}
    # @option opts [Integer] :status_acordo {{{acordo_request_status_acordo_value}}}
    # @option opts [String] :data_acordo {{{acordo_request_data_acordo_value}}}
    # @option opts [Integer] :quantidade_parcelas {{{acordo_request_quantidade_parcelas_value}}}
    # @return [PageAcordoResponse]
    def listar_using_get(opts = {})
      data, _status_code, _headers = listar_using_get_with_http_info(opts)
      return data
    end

    # {{{acordo_resource_listar}}}
    # {{{acordo_resource_listar_notes}}}
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :sort {{{global_menssagem_sort_sort}}}
    # @option opts [Integer] :page {{{global_menssagem_sort_page_value}}}
    # @option opts [Integer] :limit {{{global_menssagem_sort_limit}}}
    # @option opts [Integer] :id_conta {{{acordo_request_id_conta_value}}}
    # @option opts [Integer] :status_acordo {{{acordo_request_status_acordo_value}}}
    # @option opts [String] :data_acordo {{{acordo_request_data_acordo_value}}}
    # @option opts [Integer] :quantidade_parcelas {{{acordo_request_quantidade_parcelas_value}}}
    # @return [Array<(PageAcordoResponse, Fixnum, Hash)>] PageAcordoResponse data, response status code and response headers
    def listar_using_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: GlobaltagpagamentoApi.listar_using_get ..."
      end
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      # resource path
      local_var_path = "/api/acordos".sub('{format}','json')

      # query parameters
      query_params = {}
      query_params[:'sort'] = @api_client.build_collection_param(opts[:'sort'], :multi) if opts[:'sort']
      query_params[:'page'] = opts[:'page'] if opts[:'page']
      query_params[:'limit'] = opts[:'limit'] if opts[:'limit']
      query_params[:'idConta'] = opts[:'id_conta'] if opts[:'id_conta']
      query_params[:'statusAcordo'] = opts[:'status_acordo'] if opts[:'status_acordo']
      query_params[:'dataAcordo'] = opts[:'data_acordo'] if opts[:'data_acordo']
      query_params[:'quantidadeParcelas'] = opts[:'quantidade_parcelas'] if opts[:'quantidade_parcelas']

      # header parameters
      header_params = {}

      # HTTP header 'Accept' (if needed)
      local_header_accept = ['application/json']
      local_header_accept_result = @api_client.select_header_accept(local_header_accept) and header_params['Accept'] = local_header_accept_result

      # HTTP header 'Content-Type'
      local_header_content_type = ['application/json']
      header_params['Content-Type'] = @api_client.select_header_content_type(local_header_content_type)

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      
      auth_names = []
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'PageAcordoResponse')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GlobaltagpagamentoApi#listar_using_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
