=begin
PIER Labs

Gest\u00E3o de pagamento eletr\u00F4nicos como servi\u00E7o

OpenAPI spec version: 0.0.1
Contact: pierlabs@conductor.com.br
Generated by: https://github.com/swagger-api/swagger-codegen.git

License: Apache 2.0
http://www.apache.org/licenses/LICENSE-2.0.html

Terms of Service: http://pierlabs.io/terms/

=end

require "uri"

module Pier
  class GlobaltaxasrefinanciamentoApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end

    # {{{taxas_refinanciamento_listar}}}
    # {{{taxas_refinanciamento_listar_notes}}}
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :sort {{{global_menssagem_sort_sort}}}
    # @option opts [Integer] :page {{{global_menssagem_sort_page_value}}}
    # @option opts [Integer] :limit {{{global_menssagem_sort_limit}}}
    # @option opts [Integer] :id {{{taxas_refinanciamento_request_id_value}}}
    # @option opts [Integer] :id_produto {{{taxas_refinanciamento_request_id_produto_value}}}
    # @option opts [String] :data_entrada {{{taxas_refinanciamento_request_data_entrada_value}}}
    # @option opts [String] :vencimento {{{taxas_refinanciamento_request_vencimento_value}}}
    # @return [PageTaxasRefinanciamentoResponse]
    def listar_using_get51(opts = {})
      data, _status_code, _headers = listar_using_get51_with_http_info(opts)
      return data
    end

    # {{{taxas_refinanciamento_listar}}}
    # {{{taxas_refinanciamento_listar_notes}}}
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :sort {{{global_menssagem_sort_sort}}}
    # @option opts [Integer] :page {{{global_menssagem_sort_page_value}}}
    # @option opts [Integer] :limit {{{global_menssagem_sort_limit}}}
    # @option opts [Integer] :id {{{taxas_refinanciamento_request_id_value}}}
    # @option opts [Integer] :id_produto {{{taxas_refinanciamento_request_id_produto_value}}}
    # @option opts [String] :data_entrada {{{taxas_refinanciamento_request_data_entrada_value}}}
    # @option opts [String] :vencimento {{{taxas_refinanciamento_request_vencimento_value}}}
    # @return [Array<(PageTaxasRefinanciamentoResponse, Fixnum, Hash)>] PageTaxasRefinanciamentoResponse data, response status code and response headers
    def listar_using_get51_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: GlobaltaxasrefinanciamentoApi.listar_using_get51 ..."
      end
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      # resource path
      local_var_path = "/api/taxas-refinanciamento".sub('{format}','json')

      # query parameters
      query_params = {}
      query_params[:'sort'] = @api_client.build_collection_param(opts[:'sort'], :multi) if opts[:'sort']
      query_params[:'page'] = opts[:'page'] if opts[:'page']
      query_params[:'limit'] = opts[:'limit'] if opts[:'limit']
      query_params[:'id'] = opts[:'id'] if opts[:'id']
      query_params[:'idProduto'] = opts[:'id_produto'] if opts[:'id_produto']
      query_params[:'dataEntrada'] = opts[:'data_entrada'] if opts[:'data_entrada']
      query_params[:'vencimento'] = opts[:'vencimento'] if opts[:'vencimento']

      # header parameters
      header_params = {}

      # HTTP header 'Accept' (if needed)
      local_header_accept = ['application/json']
      local_header_accept_result = @api_client.select_header_accept(local_header_accept) and header_params['Accept'] = local_header_accept_result

      # HTTP header 'Content-Type'
      local_header_content_type = ['application/json']
      header_params['Content-Type'] = @api_client.select_header_content_type(local_header_content_type)

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      
      auth_names = []
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'PageTaxasRefinanciamentoResponse')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GlobaltaxasrefinanciamentoApi#listar_using_get51\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
