=begin
PIER Labs


Gest\u00E3o de pagamento eletr\u00F4nicos como servi\u00E7o


OpenAPI spec version: 0.0.1
Contact: pierlabs@conductor.com.br
Generated by: https://github.com/swagger-api/swagger-codegen.git


License: Apache 2.0
http://www.apache.org/licenses/LICENSE-2.0.html



Terms of Service: http://pierlabs.io/terms/


=end

require "uri"

module Pier

  class GlobaltagestabelecimentoApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end


    # {{{origem_comercial_resource_alterar_origem_comercial}}}
    # {{{origem_comercial_resource_alterar_origem_comercial_notes}}}
    # @param id {{{origem_comercial_resource_alterar_origem_comercial_param_id}}}
    # @param origem_comercial_update origemComercialUpdate
    # @param [Hash] opts the optional parameters
    # @return [OrigemComercialResponse]
    def alterar_origem_comercial_using_put(id, origem_comercial_update, opts = {})
      data, _status_code, _headers = alterar_origem_comercial_using_put_with_http_info(id, origem_comercial_update, opts)
      return data
    end

    # {{{origem_comercial_resource_alterar_origem_comercial}}}
    # {{{origem_comercial_resource_alterar_origem_comercial_notes}}}
    # @param id {{{origem_comercial_resource_alterar_origem_comercial_param_id}}}
    # @param origem_comercial_update origemComercialUpdate
    # @param [Hash] opts the optional parameters
    # @return [Array<(OrigemComercialResponse, Fixnum, Hash)>] OrigemComercialResponse data, response status code and response headers
    def alterar_origem_comercial_using_put_with_http_info(id, origem_comercial_update, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: GlobaltagestabelecimentoApi.alterar_origem_comercial_using_put ..."
      end
      
      
      # verify the required parameter 'id' is set
      fail ArgumentError, "Missing the required parameter 'id' when calling GlobaltagestabelecimentoApi.alterar_origem_comercial_using_put" if id.nil?
      
      
      
      
      
      
      # verify the required parameter 'origem_comercial_update' is set
      fail ArgumentError, "Missing the required parameter 'origem_comercial_update' when calling GlobaltagestabelecimentoApi.alterar_origem_comercial_using_put" if origem_comercial_update.nil?
      
      
      
      
      
      # resource path
      local_var_path = "/api/origens-comerciais/{id}".sub('{format}','json').sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}

      # HTTP header 'Accept' (if needed)
      local_header_accept = ['application/json']
      local_header_accept_result = @api_client.select_header_accept(local_header_accept) and header_params['Accept'] = local_header_accept_result

      # HTTP header 'Content-Type'
      local_header_content_type = ['application/json']
      header_params['Content-Type'] = @api_client.select_header_content_type(local_header_content_type)

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(origem_comercial_update)
      
      auth_names = []
      data, status_code, headers = @api_client.call_api(:PUT, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'OrigemComercialResponse')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GlobaltagestabelecimentoApi#alterar_origem_comercial_using_put\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end


    # {{{maquineta_resource_alterar}}}
    # {{{maquineta_resource_alterar_notes}}}
    # @param id {{{maquineta_resource_alterar_param_id}}}
    # @param maquineta_update maquinetaUpdate
    # @param [Hash] opts the optional parameters
    # @return [MaquinetaResponse]
    def alterar_using_put10(id, maquineta_update, opts = {})
      data, _status_code, _headers = alterar_using_put10_with_http_info(id, maquineta_update, opts)
      return data
    end

    # {{{maquineta_resource_alterar}}}
    # {{{maquineta_resource_alterar_notes}}}
    # @param id {{{maquineta_resource_alterar_param_id}}}
    # @param maquineta_update maquinetaUpdate
    # @param [Hash] opts the optional parameters
    # @return [Array<(MaquinetaResponse, Fixnum, Hash)>] MaquinetaResponse data, response status code and response headers
    def alterar_using_put10_with_http_info(id, maquineta_update, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: GlobaltagestabelecimentoApi.alterar_using_put10 ..."
      end
      
      
      # verify the required parameter 'id' is set
      fail ArgumentError, "Missing the required parameter 'id' when calling GlobaltagestabelecimentoApi.alterar_using_put10" if id.nil?
      
      
      
      
      
      
      # verify the required parameter 'maquineta_update' is set
      fail ArgumentError, "Missing the required parameter 'maquineta_update' when calling GlobaltagestabelecimentoApi.alterar_using_put10" if maquineta_update.nil?
      
      
      
      
      
      # resource path
      local_var_path = "/api/maquinetas/{id}".sub('{format}','json').sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}

      # HTTP header 'Accept' (if needed)
      local_header_accept = ['application/json']
      local_header_accept_result = @api_client.select_header_accept(local_header_accept) and header_params['Accept'] = local_header_accept_result

      # HTTP header 'Content-Type'
      local_header_content_type = ['application/json']
      header_params['Content-Type'] = @api_client.select_header_content_type(local_header_content_type)

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(maquineta_update)
      
      auth_names = []
      data, status_code, headers = @api_client.call_api(:PUT, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'MaquinetaResponse')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GlobaltagestabelecimentoApi#alterar_using_put10\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end


    # {{{operacao_credor_resource_alterar}}}
    # {{{operacao_credor_resource_alterar_notes}}}
    # @param id {{{operacao_credor_resource_alterar_param_id}}}
    # @param operacao_credor_update operacaoCredorUpdate
    # @param [Hash] opts the optional parameters
    # @return [OperacaoCredorResponse]
    def alterar_using_put11(id, operacao_credor_update, opts = {})
      data, _status_code, _headers = alterar_using_put11_with_http_info(id, operacao_credor_update, opts)
      return data
    end

    # {{{operacao_credor_resource_alterar}}}
    # {{{operacao_credor_resource_alterar_notes}}}
    # @param id {{{operacao_credor_resource_alterar_param_id}}}
    # @param operacao_credor_update operacaoCredorUpdate
    # @param [Hash] opts the optional parameters
    # @return [Array<(OperacaoCredorResponse, Fixnum, Hash)>] OperacaoCredorResponse data, response status code and response headers
    def alterar_using_put11_with_http_info(id, operacao_credor_update, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: GlobaltagestabelecimentoApi.alterar_using_put11 ..."
      end
      
      
      # verify the required parameter 'id' is set
      fail ArgumentError, "Missing the required parameter 'id' when calling GlobaltagestabelecimentoApi.alterar_using_put11" if id.nil?
      
      
      
      
      
      
      # verify the required parameter 'operacao_credor_update' is set
      fail ArgumentError, "Missing the required parameter 'operacao_credor_update' when calling GlobaltagestabelecimentoApi.alterar_using_put11" if operacao_credor_update.nil?
      
      
      
      
      
      # resource path
      local_var_path = "/api/regras-operacoes-estabelecimentos/{id}".sub('{format}','json').sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}

      # HTTP header 'Accept' (if needed)
      local_header_accept = ['application/json']
      local_header_accept_result = @api_client.select_header_accept(local_header_accept) and header_params['Accept'] = local_header_accept_result

      # HTTP header 'Content-Type'
      local_header_content_type = ['application/json']
      header_params['Content-Type'] = @api_client.select_header_content_type(local_header_content_type)

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(operacao_credor_update)
      
      auth_names = []
      data, status_code, headers = @api_client.call_api(:PUT, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'OperacaoCredorResponse')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GlobaltagestabelecimentoApi#alterar_using_put11\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end


    # {{{telefone_estabelecimento_resource_alterar}}}
    # {{{telefone_estabelecimento_resource_alterar_notes}}}
    # @param id {{{telefone_estabelecimento_resource_alterar_param_id}}}
    # @param telefone_estabelecimento_update telefoneEstabelecimentoUpdate
    # @param [Hash] opts the optional parameters
    # @return [TelefoneEstabelecimentoResponse]
    def alterar_using_put17(id, telefone_estabelecimento_update, opts = {})
      data, _status_code, _headers = alterar_using_put17_with_http_info(id, telefone_estabelecimento_update, opts)
      return data
    end

    # {{{telefone_estabelecimento_resource_alterar}}}
    # {{{telefone_estabelecimento_resource_alterar_notes}}}
    # @param id {{{telefone_estabelecimento_resource_alterar_param_id}}}
    # @param telefone_estabelecimento_update telefoneEstabelecimentoUpdate
    # @param [Hash] opts the optional parameters
    # @return [Array<(TelefoneEstabelecimentoResponse, Fixnum, Hash)>] TelefoneEstabelecimentoResponse data, response status code and response headers
    def alterar_using_put17_with_http_info(id, telefone_estabelecimento_update, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: GlobaltagestabelecimentoApi.alterar_using_put17 ..."
      end
      
      
      # verify the required parameter 'id' is set
      fail ArgumentError, "Missing the required parameter 'id' when calling GlobaltagestabelecimentoApi.alterar_using_put17" if id.nil?
      
      
      
      
      
      
      # verify the required parameter 'telefone_estabelecimento_update' is set
      fail ArgumentError, "Missing the required parameter 'telefone_estabelecimento_update' when calling GlobaltagestabelecimentoApi.alterar_using_put17" if telefone_estabelecimento_update.nil?
      
      
      
      
      
      # resource path
      local_var_path = "/api/telefones-estabelecimentos/{id}".sub('{format}','json').sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}

      # HTTP header 'Accept' (if needed)
      local_header_accept = ['application/json']
      local_header_accept_result = @api_client.select_header_accept(local_header_accept) and header_params['Accept'] = local_header_accept_result

      # HTTP header 'Content-Type'
      local_header_content_type = ['application/json']
      header_params['Content-Type'] = @api_client.select_header_content_type(local_header_content_type)

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(telefone_estabelecimento_update)
      
      auth_names = []
      data, status_code, headers = @api_client.call_api(:PUT, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'TelefoneEstabelecimentoResponse')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GlobaltagestabelecimentoApi#alterar_using_put17\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end


    # {{{terminal_resource_alterar}}}
    # {{{terminal_resource_alterar_notes}}}
    # @param id {{{terminal_resource_alterar_param_id}}}
    # @param terminal_update terminalUpdate
    # @param [Hash] opts the optional parameters
    # @return [TerminalResponse]
    def alterar_using_put19(id, terminal_update, opts = {})
      data, _status_code, _headers = alterar_using_put19_with_http_info(id, terminal_update, opts)
      return data
    end

    # {{{terminal_resource_alterar}}}
    # {{{terminal_resource_alterar_notes}}}
    # @param id {{{terminal_resource_alterar_param_id}}}
    # @param terminal_update terminalUpdate
    # @param [Hash] opts the optional parameters
    # @return [Array<(TerminalResponse, Fixnum, Hash)>] TerminalResponse data, response status code and response headers
    def alterar_using_put19_with_http_info(id, terminal_update, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: GlobaltagestabelecimentoApi.alterar_using_put19 ..."
      end
      
      
      # verify the required parameter 'id' is set
      fail ArgumentError, "Missing the required parameter 'id' when calling GlobaltagestabelecimentoApi.alterar_using_put19" if id.nil?
      
      
      
      
      
      
      # verify the required parameter 'terminal_update' is set
      fail ArgumentError, "Missing the required parameter 'terminal_update' when calling GlobaltagestabelecimentoApi.alterar_using_put19" if terminal_update.nil?
      
      
      
      
      
      # resource path
      local_var_path = "/api/terminais/{id}".sub('{format}','json').sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}

      # HTTP header 'Accept' (if needed)
      local_header_accept = ['application/json']
      local_header_accept_result = @api_client.select_header_accept(local_header_accept) and header_params['Accept'] = local_header_accept_result

      # HTTP header 'Content-Type'
      local_header_content_type = ['application/json']
      header_params['Content-Type'] = @api_client.select_header_content_type(local_header_content_type)

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(terminal_update)
      
      auth_names = []
      data, status_code, headers = @api_client.call_api(:PUT, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'TerminalResponse')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GlobaltagestabelecimentoApi#alterar_using_put19\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end


    # {{{estabelecimento_resource_alterar}}}
    # {{{estabelecimento_resource_alterar_notes}}}
    # @param id {{{estabelecimento_resource_alterar_param_id_estabelecimento}}}
    # @param update update
    # @param [Hash] opts the optional parameters
    # @return [EstabelecimentoResponse]
    def alterar_using_put6(id, update, opts = {})
      data, _status_code, _headers = alterar_using_put6_with_http_info(id, update, opts)
      return data
    end

    # {{{estabelecimento_resource_alterar}}}
    # {{{estabelecimento_resource_alterar_notes}}}
    # @param id {{{estabelecimento_resource_alterar_param_id_estabelecimento}}}
    # @param update update
    # @param [Hash] opts the optional parameters
    # @return [Array<(EstabelecimentoResponse, Fixnum, Hash)>] EstabelecimentoResponse data, response status code and response headers
    def alterar_using_put6_with_http_info(id, update, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: GlobaltagestabelecimentoApi.alterar_using_put6 ..."
      end
      
      
      # verify the required parameter 'id' is set
      fail ArgumentError, "Missing the required parameter 'id' when calling GlobaltagestabelecimentoApi.alterar_using_put6" if id.nil?
      
      
      
      
      
      
      # verify the required parameter 'update' is set
      fail ArgumentError, "Missing the required parameter 'update' when calling GlobaltagestabelecimentoApi.alterar_using_put6" if update.nil?
      
      
      
      
      
      # resource path
      local_var_path = "/api/estabelecimentos/{id}".sub('{format}','json').sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}

      # HTTP header 'Accept' (if needed)
      local_header_accept = ['application/json']
      local_header_accept_result = @api_client.select_header_accept(local_header_accept) and header_params['Accept'] = local_header_accept_result

      # HTTP header 'Content-Type'
      local_header_content_type = ['application/json']
      header_params['Content-Type'] = @api_client.select_header_content_type(local_header_content_type)

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(update)
      
      auth_names = []
      data, status_code, headers = @api_client.call_api(:PUT, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'EstabelecimentoResponse')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GlobaltagestabelecimentoApi#alterar_using_put6\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end


    # {{{grupo_economico_resource_alterar}}}
    # {{{grupo_economico_resource_alterar_notes}}}
    # @param id {{{grupo_economico_resource_alterar_param_id}}}
    # @param grupo_economico_dto grupoEconomicoDTO
    # @param [Hash] opts the optional parameters
    # @return [GrupoEconomicoResponse]
    def alterar_using_put8(id, grupo_economico_dto, opts = {})
      data, _status_code, _headers = alterar_using_put8_with_http_info(id, grupo_economico_dto, opts)
      return data
    end

    # {{{grupo_economico_resource_alterar}}}
    # {{{grupo_economico_resource_alterar_notes}}}
    # @param id {{{grupo_economico_resource_alterar_param_id}}}
    # @param grupo_economico_dto grupoEconomicoDTO
    # @param [Hash] opts the optional parameters
    # @return [Array<(GrupoEconomicoResponse, Fixnum, Hash)>] GrupoEconomicoResponse data, response status code and response headers
    def alterar_using_put8_with_http_info(id, grupo_economico_dto, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: GlobaltagestabelecimentoApi.alterar_using_put8 ..."
      end
      
      
      # verify the required parameter 'id' is set
      fail ArgumentError, "Missing the required parameter 'id' when calling GlobaltagestabelecimentoApi.alterar_using_put8" if id.nil?
      
      
      
      
      
      
      # verify the required parameter 'grupo_economico_dto' is set
      fail ArgumentError, "Missing the required parameter 'grupo_economico_dto' when calling GlobaltagestabelecimentoApi.alterar_using_put8" if grupo_economico_dto.nil?
      
      
      
      
      
      # resource path
      local_var_path = "/api/grupos-economicos/{id}".sub('{format}','json').sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}

      # HTTP header 'Accept' (if needed)
      local_header_accept = ['application/json']
      local_header_accept_result = @api_client.select_header_accept(local_header_accept) and header_params['Accept'] = local_header_accept_result

      # HTTP header 'Content-Type'
      local_header_content_type = ['application/json']
      header_params['Content-Type'] = @api_client.select_header_content_type(local_header_content_type)

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(grupo_economico_dto)
      
      auth_names = []
      data, status_code, headers = @api_client.call_api(:PUT, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'GrupoEconomicoResponse')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GlobaltagestabelecimentoApi#alterar_using_put8\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end


    # {{{origem_comercial_resource_cadastrar_origem_comercial}}}
    # {{{origem_comercial_resource_cadastrar_origem_comercial_notes}}}
    # @param origem_comercial_persist origemComercialPersist
    # @param [Hash] opts the optional parameters
    # @return [OrigemComercialResponse]
    def cadastrar_origem_comercial_using_post(origem_comercial_persist, opts = {})
      data, _status_code, _headers = cadastrar_origem_comercial_using_post_with_http_info(origem_comercial_persist, opts)
      return data
    end

    # {{{origem_comercial_resource_cadastrar_origem_comercial}}}
    # {{{origem_comercial_resource_cadastrar_origem_comercial_notes}}}
    # @param origem_comercial_persist origemComercialPersist
    # @param [Hash] opts the optional parameters
    # @return [Array<(OrigemComercialResponse, Fixnum, Hash)>] OrigemComercialResponse data, response status code and response headers
    def cadastrar_origem_comercial_using_post_with_http_info(origem_comercial_persist, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: GlobaltagestabelecimentoApi.cadastrar_origem_comercial_using_post ..."
      end
      
      
      # verify the required parameter 'origem_comercial_persist' is set
      fail ArgumentError, "Missing the required parameter 'origem_comercial_persist' when calling GlobaltagestabelecimentoApi.cadastrar_origem_comercial_using_post" if origem_comercial_persist.nil?
      
      
      
      
      
      # resource path
      local_var_path = "/api/origens-comerciais".sub('{format}','json')

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}

      # HTTP header 'Accept' (if needed)
      local_header_accept = ['application/json']
      local_header_accept_result = @api_client.select_header_accept(local_header_accept) and header_params['Accept'] = local_header_accept_result

      # HTTP header 'Content-Type'
      local_header_content_type = ['application/json']
      header_params['Content-Type'] = @api_client.select_header_content_type(local_header_content_type)

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(origem_comercial_persist)
      
      auth_names = []
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'OrigemComercialResponse')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GlobaltagestabelecimentoApi#cadastrar_origem_comercial_using_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end


    # {{{estabelecimento_resource_cadastrar}}}
    # {{{estabelecimento_resource_cadastrar_notes}}}
    # @param persist persist
    # @param [Hash] opts the optional parameters
    # @return [EstabelecimentoResponse]
    def cadastrar_using_post2(persist, opts = {})
      data, _status_code, _headers = cadastrar_using_post2_with_http_info(persist, opts)
      return data
    end

    # {{{estabelecimento_resource_cadastrar}}}
    # {{{estabelecimento_resource_cadastrar_notes}}}
    # @param persist persist
    # @param [Hash] opts the optional parameters
    # @return [Array<(EstabelecimentoResponse, Fixnum, Hash)>] EstabelecimentoResponse data, response status code and response headers
    def cadastrar_using_post2_with_http_info(persist, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: GlobaltagestabelecimentoApi.cadastrar_using_post2 ..."
      end
      
      
      # verify the required parameter 'persist' is set
      fail ArgumentError, "Missing the required parameter 'persist' when calling GlobaltagestabelecimentoApi.cadastrar_using_post2" if persist.nil?
      
      
      
      
      
      # resource path
      local_var_path = "/api/estabelecimentos".sub('{format}','json')

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}

      # HTTP header 'Accept' (if needed)
      local_header_accept = ['application/json']
      local_header_accept_result = @api_client.select_header_accept(local_header_accept) and header_params['Accept'] = local_header_accept_result

      # HTTP header 'Content-Type'
      local_header_content_type = ['application/json']
      header_params['Content-Type'] = @api_client.select_header_content_type(local_header_content_type)

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(persist)
      
      auth_names = []
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'EstabelecimentoResponse')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GlobaltagestabelecimentoApi#cadastrar_using_post2\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end


    # {{{grupo_economico_resource_cadastrar}}}
    # {{{grupo_economico_resource_cadastrar_notes}}}
    # @param grupo_economico_dto GrupoEconomicoDTO
    # @param [Hash] opts the optional parameters
    # @return [GrupoEconomicoResponse]
    def cadastrar_using_post3(grupo_economico_dto, opts = {})
      data, _status_code, _headers = cadastrar_using_post3_with_http_info(grupo_economico_dto, opts)
      return data
    end

    # {{{grupo_economico_resource_cadastrar}}}
    # {{{grupo_economico_resource_cadastrar_notes}}}
    # @param grupo_economico_dto GrupoEconomicoDTO
    # @param [Hash] opts the optional parameters
    # @return [Array<(GrupoEconomicoResponse, Fixnum, Hash)>] GrupoEconomicoResponse data, response status code and response headers
    def cadastrar_using_post3_with_http_info(grupo_economico_dto, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: GlobaltagestabelecimentoApi.cadastrar_using_post3 ..."
      end
      
      
      # verify the required parameter 'grupo_economico_dto' is set
      fail ArgumentError, "Missing the required parameter 'grupo_economico_dto' when calling GlobaltagestabelecimentoApi.cadastrar_using_post3" if grupo_economico_dto.nil?
      
      
      
      
      
      # resource path
      local_var_path = "/api/grupos-economicos".sub('{format}','json')

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}

      # HTTP header 'Accept' (if needed)
      local_header_accept = ['application/json']
      local_header_accept_result = @api_client.select_header_accept(local_header_accept) and header_params['Accept'] = local_header_accept_result

      # HTTP header 'Content-Type'
      local_header_content_type = ['application/json']
      header_params['Content-Type'] = @api_client.select_header_content_type(local_header_content_type)

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(grupo_economico_dto)
      
      auth_names = []
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'GrupoEconomicoResponse')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GlobaltagestabelecimentoApi#cadastrar_using_post3\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end


    # {{{operacao_resource_consulta_operacao}}}
    # {{{operacao_resource_consulta_operacao_notes}}}
    # @param id {{{operacao_resource_consulta_operacao_param_id_operacao}}}
    # @param [Hash] opts the optional parameters
    # @return [DetalheOperacaoResponse]
    def consulta_operacao_using_get(id, opts = {})
      data, _status_code, _headers = consulta_operacao_using_get_with_http_info(id, opts)
      return data
    end

    # {{{operacao_resource_consulta_operacao}}}
    # {{{operacao_resource_consulta_operacao_notes}}}
    # @param id {{{operacao_resource_consulta_operacao_param_id_operacao}}}
    # @param [Hash] opts the optional parameters
    # @return [Array<(DetalheOperacaoResponse, Fixnum, Hash)>] DetalheOperacaoResponse data, response status code and response headers
    def consulta_operacao_using_get_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: GlobaltagestabelecimentoApi.consulta_operacao_using_get ..."
      end
      
      
      # verify the required parameter 'id' is set
      fail ArgumentError, "Missing the required parameter 'id' when calling GlobaltagestabelecimentoApi.consulta_operacao_using_get" if id.nil?
      
      
      
      
      
      # resource path
      local_var_path = "/api/tipos-operacoes-estabelecimentos/{id}".sub('{format}','json').sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}

      # HTTP header 'Accept' (if needed)
      local_header_accept = ['application/json']
      local_header_accept_result = @api_client.select_header_accept(local_header_accept) and header_params['Accept'] = local_header_accept_result

      # HTTP header 'Content-Type'
      local_header_content_type = ['application/json']
      header_params['Content-Type'] = @api_client.select_header_content_type(local_header_content_type)

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      
      auth_names = []
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'DetalheOperacaoResponse')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GlobaltagestabelecimentoApi#consulta_operacao_using_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end


    # {{{origem_comercial_resource_consultar_origem_comercial}}}
    # {{{origem_comercial_resource_consultar_origem_comercial_notes}}}
    # @param id {{{origem_comercial_resource_consultar_origem_comercial_param_id}}}
    # @param [Hash] opts the optional parameters
    # @return [OrigemComercialResponse]
    def consultar_origem_comercial_using_get(id, opts = {})
      data, _status_code, _headers = consultar_origem_comercial_using_get_with_http_info(id, opts)
      return data
    end

    # {{{origem_comercial_resource_consultar_origem_comercial}}}
    # {{{origem_comercial_resource_consultar_origem_comercial_notes}}}
    # @param id {{{origem_comercial_resource_consultar_origem_comercial_param_id}}}
    # @param [Hash] opts the optional parameters
    # @return [Array<(OrigemComercialResponse, Fixnum, Hash)>] OrigemComercialResponse data, response status code and response headers
    def consultar_origem_comercial_using_get_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: GlobaltagestabelecimentoApi.consultar_origem_comercial_using_get ..."
      end
      
      
      # verify the required parameter 'id' is set
      fail ArgumentError, "Missing the required parameter 'id' when calling GlobaltagestabelecimentoApi.consultar_origem_comercial_using_get" if id.nil?
      
      
      
      
      
      # resource path
      local_var_path = "/api/origens-comerciais/{id}".sub('{format}','json').sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}

      # HTTP header 'Accept' (if needed)
      local_header_accept = ['application/json']
      local_header_accept_result = @api_client.select_header_accept(local_header_accept) and header_params['Accept'] = local_header_accept_result

      # HTTP header 'Content-Type'
      local_header_content_type = ['application/json']
      header_params['Content-Type'] = @api_client.select_header_content_type(local_header_content_type)

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      
      auth_names = []
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'OrigemComercialResponse')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GlobaltagestabelecimentoApi#consultar_origem_comercial_using_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end


    # {{{estabelecimento_resource_consultar}}}
    # {{{estabelecimento_resource_consultar_notes}}}
    # @param id {{{estabelecimento_resource_consultar_param_id_estabelecimento}}}
    # @param [Hash] opts the optional parameters
    # @return [EstabelecimentoResponse]
    def consultar_using_get19(id, opts = {})
      data, _status_code, _headers = consultar_using_get19_with_http_info(id, opts)
      return data
    end

    # {{{estabelecimento_resource_consultar}}}
    # {{{estabelecimento_resource_consultar_notes}}}
    # @param id {{{estabelecimento_resource_consultar_param_id_estabelecimento}}}
    # @param [Hash] opts the optional parameters
    # @return [Array<(EstabelecimentoResponse, Fixnum, Hash)>] EstabelecimentoResponse data, response status code and response headers
    def consultar_using_get19_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: GlobaltagestabelecimentoApi.consultar_using_get19 ..."
      end
      
      
      # verify the required parameter 'id' is set
      fail ArgumentError, "Missing the required parameter 'id' when calling GlobaltagestabelecimentoApi.consultar_using_get19" if id.nil?
      
      
      
      
      
      # resource path
      local_var_path = "/api/estabelecimentos/{id}".sub('{format}','json').sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}

      # HTTP header 'Accept' (if needed)
      local_header_accept = ['application/json']
      local_header_accept_result = @api_client.select_header_accept(local_header_accept) and header_params['Accept'] = local_header_accept_result

      # HTTP header 'Content-Type'
      local_header_content_type = ['application/json']
      header_params['Content-Type'] = @api_client.select_header_content_type(local_header_content_type)

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      
      auth_names = []
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'EstabelecimentoResponse')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GlobaltagestabelecimentoApi#consultar_using_get19\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end


    # {{{grupo_economico_resource_consultar}}}
    # {{{grupo_economico_resource_consultar_notes}}}
    # @param id {{{grupo_economico_resource_consultar_param_id}}}
    # @param [Hash] opts the optional parameters
    # @return [GrupoEconomicoResponse]
    def consultar_using_get21(id, opts = {})
      data, _status_code, _headers = consultar_using_get21_with_http_info(id, opts)
      return data
    end

    # {{{grupo_economico_resource_consultar}}}
    # {{{grupo_economico_resource_consultar_notes}}}
    # @param id {{{grupo_economico_resource_consultar_param_id}}}
    # @param [Hash] opts the optional parameters
    # @return [Array<(GrupoEconomicoResponse, Fixnum, Hash)>] GrupoEconomicoResponse data, response status code and response headers
    def consultar_using_get21_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: GlobaltagestabelecimentoApi.consultar_using_get21 ..."
      end
      
      
      # verify the required parameter 'id' is set
      fail ArgumentError, "Missing the required parameter 'id' when calling GlobaltagestabelecimentoApi.consultar_using_get21" if id.nil?
      
      
      
      
      
      # resource path
      local_var_path = "/api/grupos-economicos/{id}".sub('{format}','json').sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}

      # HTTP header 'Accept' (if needed)
      local_header_accept = ['application/json']
      local_header_accept_result = @api_client.select_header_accept(local_header_accept) and header_params['Accept'] = local_header_accept_result

      # HTTP header 'Content-Type'
      local_header_content_type = ['application/json']
      header_params['Content-Type'] = @api_client.select_header_content_type(local_header_content_type)

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      
      auth_names = []
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'GrupoEconomicoResponse')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GlobaltagestabelecimentoApi#consultar_using_get21\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end


    # {{{maquineta_resource_consultar}}}
    # {{{maquineta_resource_consultar_notes}}}
    # @param id {{{maquineta_resource_consultar_param_id}}}
    # @param [Hash] opts the optional parameters
    # @return [MaquinetaResponse]
    def consultar_using_get23(id, opts = {})
      data, _status_code, _headers = consultar_using_get23_with_http_info(id, opts)
      return data
    end

    # {{{maquineta_resource_consultar}}}
    # {{{maquineta_resource_consultar_notes}}}
    # @param id {{{maquineta_resource_consultar_param_id}}}
    # @param [Hash] opts the optional parameters
    # @return [Array<(MaquinetaResponse, Fixnum, Hash)>] MaquinetaResponse data, response status code and response headers
    def consultar_using_get23_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: GlobaltagestabelecimentoApi.consultar_using_get23 ..."
      end
      
      
      # verify the required parameter 'id' is set
      fail ArgumentError, "Missing the required parameter 'id' when calling GlobaltagestabelecimentoApi.consultar_using_get23" if id.nil?
      
      
      
      
      
      # resource path
      local_var_path = "/api/maquinetas/{id}".sub('{format}','json').sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}

      # HTTP header 'Accept' (if needed)
      local_header_accept = ['application/json']
      local_header_accept_result = @api_client.select_header_accept(local_header_accept) and header_params['Accept'] = local_header_accept_result

      # HTTP header 'Content-Type'
      local_header_content_type = ['application/json']
      header_params['Content-Type'] = @api_client.select_header_content_type(local_header_content_type)

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      
      auth_names = []
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'MaquinetaResponse')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GlobaltagestabelecimentoApi#consultar_using_get23\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end


    # {{{operacao_credor_resource_consultar}}}
    # {{{operacao_credor_resource_consultar_notes}}}
    # @param id {{{operacao_credor_resource_consultar_param_id}}}
    # @param [Hash] opts the optional parameters
    # @return [OperacaoCredorResponse]
    def consultar_using_get24(id, opts = {})
      data, _status_code, _headers = consultar_using_get24_with_http_info(id, opts)
      return data
    end

    # {{{operacao_credor_resource_consultar}}}
    # {{{operacao_credor_resource_consultar_notes}}}
    # @param id {{{operacao_credor_resource_consultar_param_id}}}
    # @param [Hash] opts the optional parameters
    # @return [Array<(OperacaoCredorResponse, Fixnum, Hash)>] OperacaoCredorResponse data, response status code and response headers
    def consultar_using_get24_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: GlobaltagestabelecimentoApi.consultar_using_get24 ..."
      end
      
      
      # verify the required parameter 'id' is set
      fail ArgumentError, "Missing the required parameter 'id' when calling GlobaltagestabelecimentoApi.consultar_using_get24" if id.nil?
      
      
      
      
      
      # resource path
      local_var_path = "/api/regras-operacoes-estabelecimentos/{id}".sub('{format}','json').sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}

      # HTTP header 'Accept' (if needed)
      local_header_accept = ['application/json']
      local_header_accept_result = @api_client.select_header_accept(local_header_accept) and header_params['Accept'] = local_header_accept_result

      # HTTP header 'Content-Type'
      local_header_content_type = ['application/json']
      header_params['Content-Type'] = @api_client.select_header_content_type(local_header_content_type)

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      
      auth_names = []
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'OperacaoCredorResponse')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GlobaltagestabelecimentoApi#consultar_using_get24\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end


    # {{{telefone_estabelecimento_resource_consultar}}}
    # {{{telefone_estabelecimento_resource_consultar_notes}}}
    # @param id {{{telefone_estabelecimento_resource_consultar_param_id}}}
    # @param [Hash] opts the optional parameters
    # @return [TelefoneEstabelecimentoResponse]
    def consultar_using_get37(id, opts = {})
      data, _status_code, _headers = consultar_using_get37_with_http_info(id, opts)
      return data
    end

    # {{{telefone_estabelecimento_resource_consultar}}}
    # {{{telefone_estabelecimento_resource_consultar_notes}}}
    # @param id {{{telefone_estabelecimento_resource_consultar_param_id}}}
    # @param [Hash] opts the optional parameters
    # @return [Array<(TelefoneEstabelecimentoResponse, Fixnum, Hash)>] TelefoneEstabelecimentoResponse data, response status code and response headers
    def consultar_using_get37_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: GlobaltagestabelecimentoApi.consultar_using_get37 ..."
      end
      
      
      # verify the required parameter 'id' is set
      fail ArgumentError, "Missing the required parameter 'id' when calling GlobaltagestabelecimentoApi.consultar_using_get37" if id.nil?
      
      
      
      
      
      # resource path
      local_var_path = "/api/telefones-estabelecimentos/{id}".sub('{format}','json').sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}

      # HTTP header 'Accept' (if needed)
      local_header_accept = ['application/json']
      local_header_accept_result = @api_client.select_header_accept(local_header_accept) and header_params['Accept'] = local_header_accept_result

      # HTTP header 'Content-Type'
      local_header_content_type = ['application/json']
      header_params['Content-Type'] = @api_client.select_header_content_type(local_header_content_type)

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      
      auth_names = []
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'TelefoneEstabelecimentoResponse')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GlobaltagestabelecimentoApi#consultar_using_get37\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end


    # {{{terminal_resource_consultar}}}
    # {{{terminal_resource_consultar_notes}}}
    # @param id {{{terminal_resource_consultar_param_id}}}
    # @param [Hash] opts the optional parameters
    # @return [TerminalResponse]
    def consultar_using_get39(id, opts = {})
      data, _status_code, _headers = consultar_using_get39_with_http_info(id, opts)
      return data
    end

    # {{{terminal_resource_consultar}}}
    # {{{terminal_resource_consultar_notes}}}
    # @param id {{{terminal_resource_consultar_param_id}}}
    # @param [Hash] opts the optional parameters
    # @return [Array<(TerminalResponse, Fixnum, Hash)>] TerminalResponse data, response status code and response headers
    def consultar_using_get39_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: GlobaltagestabelecimentoApi.consultar_using_get39 ..."
      end
      
      
      # verify the required parameter 'id' is set
      fail ArgumentError, "Missing the required parameter 'id' when calling GlobaltagestabelecimentoApi.consultar_using_get39" if id.nil?
      
      
      
      
      
      # resource path
      local_var_path = "/api/terminais/{id}".sub('{format}','json').sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}

      # HTTP header 'Accept' (if needed)
      local_header_accept = ['application/json']
      local_header_accept_result = @api_client.select_header_accept(local_header_accept) and header_params['Accept'] = local_header_accept_result

      # HTTP header 'Content-Type'
      local_header_content_type = ['application/json']
      header_params['Content-Type'] = @api_client.select_header_content_type(local_header_content_type)

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      
      auth_names = []
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'TerminalResponse')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GlobaltagestabelecimentoApi#consultar_using_get39\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end


    # {{{vinculo_estabelecimento_adquirente_resource_consultar}}}
    # {{{vinculo_estabelecimento_adquirente_resource_consultar_notes}}}
    # @param id {{{vinculo_estabelecimento_adquirente_resource_consultar_param_id}}}
    # @param [Hash] opts the optional parameters
    # @return [VinculoEstabelecimentoAdquirenteResponse]
    def consultar_using_get51(id, opts = {})
      data, _status_code, _headers = consultar_using_get51_with_http_info(id, opts)
      return data
    end

    # {{{vinculo_estabelecimento_adquirente_resource_consultar}}}
    # {{{vinculo_estabelecimento_adquirente_resource_consultar_notes}}}
    # @param id {{{vinculo_estabelecimento_adquirente_resource_consultar_param_id}}}
    # @param [Hash] opts the optional parameters
    # @return [Array<(VinculoEstabelecimentoAdquirenteResponse, Fixnum, Hash)>] VinculoEstabelecimentoAdquirenteResponse data, response status code and response headers
    def consultar_using_get51_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: GlobaltagestabelecimentoApi.consultar_using_get51 ..."
      end
      
      
      # verify the required parameter 'id' is set
      fail ArgumentError, "Missing the required parameter 'id' when calling GlobaltagestabelecimentoApi.consultar_using_get51" if id.nil?
      
      
      
      
      
      # resource path
      local_var_path = "/api/adquirentes-estabelecimento/{id}".sub('{format}','json').sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}

      # HTTP header 'Accept' (if needed)
      local_header_accept = ['application/json']
      local_header_accept_result = @api_client.select_header_accept(local_header_accept) and header_params['Accept'] = local_header_accept_result

      # HTTP header 'Content-Type'
      local_header_content_type = ['application/json']
      header_params['Content-Type'] = @api_client.select_header_content_type(local_header_content_type)

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      
      auth_names = []
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'VinculoEstabelecimentoAdquirenteResponse')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GlobaltagestabelecimentoApi#consultar_using_get51\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end


    # {{{vinculo_estabelecimento_adquirente_resource_desabilitar_vinculo}}}
    # {{{vinculo_estabelecimento_adquirente_resource_desabilitar_vinculo_notes}}}
    # @param id {{{vinculo_estabelecimento_adquirente_resource_desabilitar_vinculo_param_id}}}
    # @param [Hash] opts the optional parameters
    # @return [Object]
    def desabilitar_vinculo_using_post(id, opts = {})
      data, _status_code, _headers = desabilitar_vinculo_using_post_with_http_info(id, opts)
      return data
    end

    # {{{vinculo_estabelecimento_adquirente_resource_desabilitar_vinculo}}}
    # {{{vinculo_estabelecimento_adquirente_resource_desabilitar_vinculo_notes}}}
    # @param id {{{vinculo_estabelecimento_adquirente_resource_desabilitar_vinculo_param_id}}}
    # @param [Hash] opts the optional parameters
    # @return [Array<(Object, Fixnum, Hash)>] Object data, response status code and response headers
    def desabilitar_vinculo_using_post_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: GlobaltagestabelecimentoApi.desabilitar_vinculo_using_post ..."
      end
      
      
      # verify the required parameter 'id' is set
      fail ArgumentError, "Missing the required parameter 'id' when calling GlobaltagestabelecimentoApi.desabilitar_vinculo_using_post" if id.nil?
      
      
      
      
      
      # resource path
      local_var_path = "/api/adquirentes-estabelecimento/{id}/desabilitar".sub('{format}','json').sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}

      # HTTP header 'Accept' (if needed)
      local_header_accept = ['application/json']
      local_header_accept_result = @api_client.select_header_accept(local_header_accept) and header_params['Accept'] = local_header_accept_result

      # HTTP header 'Content-Type'
      local_header_content_type = ['application/json']
      header_params['Content-Type'] = @api_client.select_header_content_type(local_header_content_type)

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      
      auth_names = []
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'Object')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GlobaltagestabelecimentoApi#desabilitar_vinculo_using_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end


    # {{{vinculo_operacao_resource_desabilitar_vinculo}}}
    # {{{vinculo_operacao_resource_desabilitar_vinculo_notes}}}
    # @param id {{{vinculo_operacao_resource_desabilitar_vinculo_param_id}}}
    # @param vinculo_operacao_persist vinculoOperacaoPersist
    # @param [Hash] opts the optional parameters
    # @return [Object]
    def desabilitar_vinculo_using_post1(id, vinculo_operacao_persist, opts = {})
      data, _status_code, _headers = desabilitar_vinculo_using_post1_with_http_info(id, vinculo_operacao_persist, opts)
      return data
    end

    # {{{vinculo_operacao_resource_desabilitar_vinculo}}}
    # {{{vinculo_operacao_resource_desabilitar_vinculo_notes}}}
    # @param id {{{vinculo_operacao_resource_desabilitar_vinculo_param_id}}}
    # @param vinculo_operacao_persist vinculoOperacaoPersist
    # @param [Hash] opts the optional parameters
    # @return [Array<(Object, Fixnum, Hash)>] Object data, response status code and response headers
    def desabilitar_vinculo_using_post1_with_http_info(id, vinculo_operacao_persist, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: GlobaltagestabelecimentoApi.desabilitar_vinculo_using_post1 ..."
      end
      
      
      # verify the required parameter 'id' is set
      fail ArgumentError, "Missing the required parameter 'id' when calling GlobaltagestabelecimentoApi.desabilitar_vinculo_using_post1" if id.nil?
      
      
      
      
      
      
      # verify the required parameter 'vinculo_operacao_persist' is set
      fail ArgumentError, "Missing the required parameter 'vinculo_operacao_persist' when calling GlobaltagestabelecimentoApi.desabilitar_vinculo_using_post1" if vinculo_operacao_persist.nil?
      
      
      
      
      
      # resource path
      local_var_path = "/api/estabelecimentos/{id}/desabilitar-operacao".sub('{format}','json').sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}

      # HTTP header 'Accept' (if needed)
      local_header_accept = ['application/json']
      local_header_accept_result = @api_client.select_header_accept(local_header_accept) and header_params['Accept'] = local_header_accept_result

      # HTTP header 'Content-Type'
      local_header_content_type = ['application/json']
      header_params['Content-Type'] = @api_client.select_header_content_type(local_header_content_type)

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(vinculo_operacao_persist)
      
      auth_names = []
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'Object')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GlobaltagestabelecimentoApi#desabilitar_vinculo_using_post1\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end


    # {{{vinculo_estabelecimento_adquirente_resource_habilitar_vinculo}}}
    # {{{vinculo_estabelecimento_adquirente_resource_habilitar_vinculo_notes}}}
    # @param id {{{vinculo_estabelecimento_adquirente_resource_habilitar_vinculo_param_id}}}
    # @param [Hash] opts the optional parameters
    # @return [Object]
    def habilitar_vinculo_using_post(id, opts = {})
      data, _status_code, _headers = habilitar_vinculo_using_post_with_http_info(id, opts)
      return data
    end

    # {{{vinculo_estabelecimento_adquirente_resource_habilitar_vinculo}}}
    # {{{vinculo_estabelecimento_adquirente_resource_habilitar_vinculo_notes}}}
    # @param id {{{vinculo_estabelecimento_adquirente_resource_habilitar_vinculo_param_id}}}
    # @param [Hash] opts the optional parameters
    # @return [Array<(Object, Fixnum, Hash)>] Object data, response status code and response headers
    def habilitar_vinculo_using_post_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: GlobaltagestabelecimentoApi.habilitar_vinculo_using_post ..."
      end
      
      
      # verify the required parameter 'id' is set
      fail ArgumentError, "Missing the required parameter 'id' when calling GlobaltagestabelecimentoApi.habilitar_vinculo_using_post" if id.nil?
      
      
      
      
      
      # resource path
      local_var_path = "/api/adquirentes-estabelecimento/{id}/habilitar".sub('{format}','json').sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}

      # HTTP header 'Accept' (if needed)
      local_header_accept = ['application/json']
      local_header_accept_result = @api_client.select_header_accept(local_header_accept) and header_params['Accept'] = local_header_accept_result

      # HTTP header 'Content-Type'
      local_header_content_type = ['application/json']
      header_params['Content-Type'] = @api_client.select_header_content_type(local_header_content_type)

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      
      auth_names = []
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'Object')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GlobaltagestabelecimentoApi#habilitar_vinculo_using_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end


    # {{{vinculo_operacao_resource_habilitar_vinculo}}}
    # {{{vinculo_operacao_resource_habilitar_vinculo_notes}}}
    # @param id {{{vinculo_operacao_resource_habilitar_vinculo_param_id}}}
    # @param vinculo_operacao_persist vinculoOperacaoPersist
    # @param [Hash] opts the optional parameters
    # @return [Object]
    def habilitar_vinculo_using_post1(id, vinculo_operacao_persist, opts = {})
      data, _status_code, _headers = habilitar_vinculo_using_post1_with_http_info(id, vinculo_operacao_persist, opts)
      return data
    end

    # {{{vinculo_operacao_resource_habilitar_vinculo}}}
    # {{{vinculo_operacao_resource_habilitar_vinculo_notes}}}
    # @param id {{{vinculo_operacao_resource_habilitar_vinculo_param_id}}}
    # @param vinculo_operacao_persist vinculoOperacaoPersist
    # @param [Hash] opts the optional parameters
    # @return [Array<(Object, Fixnum, Hash)>] Object data, response status code and response headers
    def habilitar_vinculo_using_post1_with_http_info(id, vinculo_operacao_persist, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: GlobaltagestabelecimentoApi.habilitar_vinculo_using_post1 ..."
      end
      
      
      # verify the required parameter 'id' is set
      fail ArgumentError, "Missing the required parameter 'id' when calling GlobaltagestabelecimentoApi.habilitar_vinculo_using_post1" if id.nil?
      
      
      
      
      
      
      # verify the required parameter 'vinculo_operacao_persist' is set
      fail ArgumentError, "Missing the required parameter 'vinculo_operacao_persist' when calling GlobaltagestabelecimentoApi.habilitar_vinculo_using_post1" if vinculo_operacao_persist.nil?
      
      
      
      
      
      # resource path
      local_var_path = "/api/estabelecimentos/{id}/habilitar-operacao".sub('{format}','json').sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}

      # HTTP header 'Accept' (if needed)
      local_header_accept = ['application/json']
      local_header_accept_result = @api_client.select_header_accept(local_header_accept) and header_params['Accept'] = local_header_accept_result

      # HTTP header 'Content-Type'
      local_header_content_type = ['application/json']
      header_params['Content-Type'] = @api_client.select_header_content_type(local_header_content_type)

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(vinculo_operacao_persist)
      
      auth_names = []
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'Object')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GlobaltagestabelecimentoApi#habilitar_vinculo_using_post1\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end


    # {{{operacao_resource_lista_operacao}}}
    # {{{operacao_resource_lista_operacao_notes}}}
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :sort {{{global_menssagem_sort_sort}}}
    # @option opts [Integer] :page {{{global_menssagem_sort_page_value}}}
    # @option opts [Integer] :limit {{{global_menssagem_sort_limit}}}
    # @option opts [Integer] :id_operacao {{{operacao_request_id_operacao_value}}}
    # @option opts [String] :codigo_processamento {{{operacao_request_codigo_processamento_value}}}
    # @return [PageOperacaoResponse]
    def lista_operacao_using_get(opts = {})
      data, _status_code, _headers = lista_operacao_using_get_with_http_info(opts)
      return data
    end

    # {{{operacao_resource_lista_operacao}}}
    # {{{operacao_resource_lista_operacao_notes}}}
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :sort {{{global_menssagem_sort_sort}}}
    # @option opts [Integer] :page {{{global_menssagem_sort_page_value}}}
    # @option opts [Integer] :limit {{{global_menssagem_sort_limit}}}
    # @option opts [Integer] :id_operacao {{{operacao_request_id_operacao_value}}}
    # @option opts [String] :codigo_processamento {{{operacao_request_codigo_processamento_value}}}
    # @return [Array<(PageOperacaoResponse, Fixnum, Hash)>] PageOperacaoResponse data, response status code and response headers
    def lista_operacao_using_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: GlobaltagestabelecimentoApi.lista_operacao_using_get ..."
      end
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      # resource path
      local_var_path = "/api/tipos-operacoes-estabelecimentos".sub('{format}','json')

      # query parameters
      query_params = {}
      query_params[:'sort'] = @api_client.build_collection_param(opts[:'sort'], :multi) if opts[:'sort']
      query_params[:'page'] = opts[:'page'] if opts[:'page']
      query_params[:'limit'] = opts[:'limit'] if opts[:'limit']
      query_params[:'idOperacao'] = opts[:'id_operacao'] if opts[:'id_operacao']
      query_params[:'codigoProcessamento'] = opts[:'codigo_processamento'] if opts[:'codigo_processamento']

      # header parameters
      header_params = {}

      # HTTP header 'Accept' (if needed)
      local_header_accept = ['application/json']
      local_header_accept_result = @api_client.select_header_accept(local_header_accept) and header_params['Accept'] = local_header_accept_result

      # HTTP header 'Content-Type'
      local_header_content_type = ['application/json']
      header_params['Content-Type'] = @api_client.select_header_content_type(local_header_content_type)

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      
      auth_names = []
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'PageOperacaoResponse')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GlobaltagestabelecimentoApi#lista_operacao_using_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end


    # {{{m_c_c_resource_listar_m_c_c}}}
    # {{{m_c_c_resource_listar_m_c_c_notes}}}
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :sort {{{global_menssagem_sort_sort}}}
    # @option opts [Integer] :page {{{global_menssagem_sort_page_value}}}
    # @option opts [Integer] :limit {{{global_menssagem_sort_limit}}}
    # @return [PageMCCResponse]
    def listar_mcc_using_get(opts = {})
      data, _status_code, _headers = listar_mcc_using_get_with_http_info(opts)
      return data
    end

    # {{{m_c_c_resource_listar_m_c_c}}}
    # {{{m_c_c_resource_listar_m_c_c_notes}}}
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :sort {{{global_menssagem_sort_sort}}}
    # @option opts [Integer] :page {{{global_menssagem_sort_page_value}}}
    # @option opts [Integer] :limit {{{global_menssagem_sort_limit}}}
    # @return [Array<(PageMCCResponse, Fixnum, Hash)>] PageMCCResponse data, response status code and response headers
    def listar_mcc_using_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: GlobaltagestabelecimentoApi.listar_mcc_using_get ..."
      end
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      # resource path
      local_var_path = "/api/mcc-estabelecimentos".sub('{format}','json')

      # query parameters
      query_params = {}
      query_params[:'sort'] = @api_client.build_collection_param(opts[:'sort'], :multi) if opts[:'sort']
      query_params[:'page'] = opts[:'page'] if opts[:'page']
      query_params[:'limit'] = opts[:'limit'] if opts[:'limit']

      # header parameters
      header_params = {}

      # HTTP header 'Accept' (if needed)
      local_header_accept = ['application/json']
      local_header_accept_result = @api_client.select_header_accept(local_header_accept) and header_params['Accept'] = local_header_accept_result

      # HTTP header 'Content-Type'
      local_header_content_type = ['application/json']
      header_params['Content-Type'] = @api_client.select_header_content_type(local_header_content_type)

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      
      auth_names = []
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'PageMCCResponse')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GlobaltagestabelecimentoApi#listar_mcc_using_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end


    # {{{origem_comercial_resource_listar_origens_comerciais}}}
    # {{{origem_comercial_resource_listar_origens_comerciais_notes}}}
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :sort {{{global_menssagem_sort_sort}}}
    # @option opts [Integer] :page {{{global_menssagem_sort_page_value}}}
    # @option opts [Integer] :limit {{{global_menssagem_sort_limit}}}
    # @option opts [Integer] :id {{{origem_comercial_request_id_value}}}
    # @option opts [String] :nome {{{origem_comercial_request_nome_value}}}
    # @option opts [Integer] :status {{{origem_comercial_request_status_value}}}
    # @option opts [Integer] :id_estabelecimento {{{origem_comercial_request_id_estabelecimento_value}}}
    # @option opts [Integer] :id_produto {{{origem_comercial_request_id_produto_value}}}
    # @option opts [String] :descricao {{{origem_comercial_request_descricao_value}}}
    # @option opts [Integer] :id_tipo_origem_comercial {{{origem_comercial_request_id_tipo_origem_comercial_value}}}
    # @option opts [Integer] :id_grupo_origem_comercial {{{origem_comercial_request_id_grupo_origem_comercial_value}}}
    # @option opts [BOOLEAN] :flag_pre_aprovado {{{origem_comercial_request_flag_pre_aprovado_value}}}
    # @option opts [BOOLEAN] :flag_aprovacao_imediata {{{origem_comercial_request_flag_aprovacao_imediata_value}}}
    # @option opts [String] :nome_fantasia_plastico {{{origem_comercial_request_nome_fantasia_plastico_value}}}
    # @option opts [BOOLEAN] :flag_cartao_provisorio {{{origem_comercial_request_flag_cartao_provisorio_value}}}
    # @option opts [BOOLEAN] :flag_cartao_definitivo {{{origem_comercial_request_flag_cartao_definitivo_value}}}
    # @option opts [String] :usuario {{{origem_comercial_request_usuario_value}}}
    # @option opts [String] :senha {{{origem_comercial_request_senha_value}}}
    # @option opts [BOOLEAN] :flag_origem_externa {{{origem_comercial_request_flag_origem_externa_value}}}
    # @option opts [BOOLEAN] :flag_modificado {{{origem_comercial_request_flag_modificado_value}}}
    # @option opts [BOOLEAN] :flag_envia_fatura_usuario {{{origem_comercial_request_flag_envia_fatura_usuario_value}}}
    # @option opts [BOOLEAN] :flag_credito_faturamento {{{origem_comercial_request_flag_credito_faturamento_value}}}
    # @option opts [BOOLEAN] :flag_concede_limite_provisorio {{{origem_comercial_request_flag_concede_limite_provisorio_value}}}
    # @option opts [BOOLEAN] :flag_digitalizar_doc {{{origem_comercial_request_flag_digitalizar_doc_value}}}
    # @option opts [BOOLEAN] :flag_embossing_loja {{{origem_comercial_request_flag_embossing_loja_value}}}
    # @option opts [BOOLEAN] :flag_consulta_previa {{{origem_comercial_request_flag_consulta_previa_value}}}
    # @option opts [String] :tipo_pessoa {{{origem_comercial_request_tipo_pessoa_value}}}
    # @return [PageOrigemComercialResponse]
    def listar_origens_comerciais_using_get(opts = {})
      data, _status_code, _headers = listar_origens_comerciais_using_get_with_http_info(opts)
      return data
    end

    # {{{origem_comercial_resource_listar_origens_comerciais}}}
    # {{{origem_comercial_resource_listar_origens_comerciais_notes}}}
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :sort {{{global_menssagem_sort_sort}}}
    # @option opts [Integer] :page {{{global_menssagem_sort_page_value}}}
    # @option opts [Integer] :limit {{{global_menssagem_sort_limit}}}
    # @option opts [Integer] :id {{{origem_comercial_request_id_value}}}
    # @option opts [String] :nome {{{origem_comercial_request_nome_value}}}
    # @option opts [Integer] :status {{{origem_comercial_request_status_value}}}
    # @option opts [Integer] :id_estabelecimento {{{origem_comercial_request_id_estabelecimento_value}}}
    # @option opts [Integer] :id_produto {{{origem_comercial_request_id_produto_value}}}
    # @option opts [String] :descricao {{{origem_comercial_request_descricao_value}}}
    # @option opts [Integer] :id_tipo_origem_comercial {{{origem_comercial_request_id_tipo_origem_comercial_value}}}
    # @option opts [Integer] :id_grupo_origem_comercial {{{origem_comercial_request_id_grupo_origem_comercial_value}}}
    # @option opts [BOOLEAN] :flag_pre_aprovado {{{origem_comercial_request_flag_pre_aprovado_value}}}
    # @option opts [BOOLEAN] :flag_aprovacao_imediata {{{origem_comercial_request_flag_aprovacao_imediata_value}}}
    # @option opts [String] :nome_fantasia_plastico {{{origem_comercial_request_nome_fantasia_plastico_value}}}
    # @option opts [BOOLEAN] :flag_cartao_provisorio {{{origem_comercial_request_flag_cartao_provisorio_value}}}
    # @option opts [BOOLEAN] :flag_cartao_definitivo {{{origem_comercial_request_flag_cartao_definitivo_value}}}
    # @option opts [String] :usuario {{{origem_comercial_request_usuario_value}}}
    # @option opts [String] :senha {{{origem_comercial_request_senha_value}}}
    # @option opts [BOOLEAN] :flag_origem_externa {{{origem_comercial_request_flag_origem_externa_value}}}
    # @option opts [BOOLEAN] :flag_modificado {{{origem_comercial_request_flag_modificado_value}}}
    # @option opts [BOOLEAN] :flag_envia_fatura_usuario {{{origem_comercial_request_flag_envia_fatura_usuario_value}}}
    # @option opts [BOOLEAN] :flag_credito_faturamento {{{origem_comercial_request_flag_credito_faturamento_value}}}
    # @option opts [BOOLEAN] :flag_concede_limite_provisorio {{{origem_comercial_request_flag_concede_limite_provisorio_value}}}
    # @option opts [BOOLEAN] :flag_digitalizar_doc {{{origem_comercial_request_flag_digitalizar_doc_value}}}
    # @option opts [BOOLEAN] :flag_embossing_loja {{{origem_comercial_request_flag_embossing_loja_value}}}
    # @option opts [BOOLEAN] :flag_consulta_previa {{{origem_comercial_request_flag_consulta_previa_value}}}
    # @option opts [String] :tipo_pessoa {{{origem_comercial_request_tipo_pessoa_value}}}
    # @return [Array<(PageOrigemComercialResponse, Fixnum, Hash)>] PageOrigemComercialResponse data, response status code and response headers
    def listar_origens_comerciais_using_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: GlobaltagestabelecimentoApi.listar_origens_comerciais_using_get ..."
      end
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      if opts[:'tipo_pessoa'] && !['PESSOA_FISICA', 'PESSOA_JURIDICA'].include?(opts[:'tipo_pessoa'])
        fail ArgumentError, 'invalid value for "tipo_pessoa", must be one of PESSOA_FISICA, PESSOA_JURIDICA'
      end
      
      
      
      
      # resource path
      local_var_path = "/api/origens-comerciais".sub('{format}','json')

      # query parameters
      query_params = {}
      query_params[:'sort'] = @api_client.build_collection_param(opts[:'sort'], :multi) if opts[:'sort']
      query_params[:'page'] = opts[:'page'] if opts[:'page']
      query_params[:'limit'] = opts[:'limit'] if opts[:'limit']
      query_params[:'id'] = opts[:'id'] if opts[:'id']
      query_params[:'nome'] = opts[:'nome'] if opts[:'nome']
      query_params[:'status'] = opts[:'status'] if opts[:'status']
      query_params[:'idEstabelecimento'] = opts[:'id_estabelecimento'] if opts[:'id_estabelecimento']
      query_params[:'idProduto'] = opts[:'id_produto'] if opts[:'id_produto']
      query_params[:'descricao'] = opts[:'descricao'] if opts[:'descricao']
      query_params[:'idTipoOrigemComercial'] = opts[:'id_tipo_origem_comercial'] if opts[:'id_tipo_origem_comercial']
      query_params[:'idGrupoOrigemComercial'] = opts[:'id_grupo_origem_comercial'] if opts[:'id_grupo_origem_comercial']
      query_params[:'flagPreAprovado'] = opts[:'flag_pre_aprovado'] if opts[:'flag_pre_aprovado']
      query_params[:'flagAprovacaoImediata'] = opts[:'flag_aprovacao_imediata'] if opts[:'flag_aprovacao_imediata']
      query_params[:'nomeFantasiaPlastico'] = opts[:'nome_fantasia_plastico'] if opts[:'nome_fantasia_plastico']
      query_params[:'flagCartaoProvisorio'] = opts[:'flag_cartao_provisorio'] if opts[:'flag_cartao_provisorio']
      query_params[:'flagCartaoDefinitivo'] = opts[:'flag_cartao_definitivo'] if opts[:'flag_cartao_definitivo']
      query_params[:'usuario'] = opts[:'usuario'] if opts[:'usuario']
      query_params[:'senha'] = opts[:'senha'] if opts[:'senha']
      query_params[:'flagOrigemExterna'] = opts[:'flag_origem_externa'] if opts[:'flag_origem_externa']
      query_params[:'flagModificado'] = opts[:'flag_modificado'] if opts[:'flag_modificado']
      query_params[:'flagEnviaFaturaUsuario'] = opts[:'flag_envia_fatura_usuario'] if opts[:'flag_envia_fatura_usuario']
      query_params[:'flagCreditoFaturamento'] = opts[:'flag_credito_faturamento'] if opts[:'flag_credito_faturamento']
      query_params[:'flagConcedeLimiteProvisorio'] = opts[:'flag_concede_limite_provisorio'] if opts[:'flag_concede_limite_provisorio']
      query_params[:'flagDigitalizarDoc'] = opts[:'flag_digitalizar_doc'] if opts[:'flag_digitalizar_doc']
      query_params[:'flagEmbossingLoja'] = opts[:'flag_embossing_loja'] if opts[:'flag_embossing_loja']
      query_params[:'flagConsultaPrevia'] = opts[:'flag_consulta_previa'] if opts[:'flag_consulta_previa']
      query_params[:'tipoPessoa'] = opts[:'tipo_pessoa'] if opts[:'tipo_pessoa']

      # header parameters
      header_params = {}

      # HTTP header 'Accept' (if needed)
      local_header_accept = ['application/json']
      local_header_accept_result = @api_client.select_header_accept(local_header_accept) and header_params['Accept'] = local_header_accept_result

      # HTTP header 'Content-Type'
      local_header_content_type = ['application/json']
      header_params['Content-Type'] = @api_client.select_header_content_type(local_header_content_type)

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      
      auth_names = []
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'PageOrigemComercialResponse')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GlobaltagestabelecimentoApi#listar_origens_comerciais_using_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end


    # {{{vinculo_estabelecimento_adquirente_resource_listar_tipos_adquirentes}}}
    # {{{vinculo_estabelecimento_adquirente_resource_listar_tipos_adquirentes_notes}}}
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :sort {{{global_menssagem_sort_sort}}}
    # @option opts [Integer] :page {{{global_menssagem_sort_page_value}}}
    # @option opts [Integer] :limit {{{global_menssagem_sort_limit}}}
    # @return [PageEntidadeResponse]
    def listar_tipos_adquirentes_using_get(opts = {})
      data, _status_code, _headers = listar_tipos_adquirentes_using_get_with_http_info(opts)
      return data
    end

    # {{{vinculo_estabelecimento_adquirente_resource_listar_tipos_adquirentes}}}
    # {{{vinculo_estabelecimento_adquirente_resource_listar_tipos_adquirentes_notes}}}
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :sort {{{global_menssagem_sort_sort}}}
    # @option opts [Integer] :page {{{global_menssagem_sort_page_value}}}
    # @option opts [Integer] :limit {{{global_menssagem_sort_limit}}}
    # @return [Array<(PageEntidadeResponse, Fixnum, Hash)>] PageEntidadeResponse data, response status code and response headers
    def listar_tipos_adquirentes_using_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: GlobaltagestabelecimentoApi.listar_tipos_adquirentes_using_get ..."
      end
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      # resource path
      local_var_path = "/api/tipos-adquirentes".sub('{format}','json')

      # query parameters
      query_params = {}
      query_params[:'sort'] = @api_client.build_collection_param(opts[:'sort'], :multi) if opts[:'sort']
      query_params[:'page'] = opts[:'page'] if opts[:'page']
      query_params[:'limit'] = opts[:'limit'] if opts[:'limit']

      # header parameters
      header_params = {}

      # HTTP header 'Accept' (if needed)
      local_header_accept = ['application/json']
      local_header_accept_result = @api_client.select_header_accept(local_header_accept) and header_params['Accept'] = local_header_accept_result

      # HTTP header 'Content-Type'
      local_header_content_type = ['application/json']
      header_params['Content-Type'] = @api_client.select_header_content_type(local_header_content_type)

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      
      auth_names = []
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'PageEntidadeResponse')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GlobaltagestabelecimentoApi#listar_tipos_adquirentes_using_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end


    # {{{tipo_estabelecimento_resource_listar_tipos_estabelecimentos}}}
    # {{{tipo_estabelecimento_resource_listar_tipos_estabelecimentos_notes}}}
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :sort {{{global_menssagem_sort_sort}}}
    # @option opts [Integer] :page {{{global_menssagem_sort_page_value}}}
    # @option opts [Integer] :limit {{{global_menssagem_sort_limit}}}
    # @option opts [String] :descricao {{{tipo_estabelecimento_request_descricao_value}}}
    # @return [PageTipoEstabelecimentoResponse]
    def listar_tipos_estabelecimentos_using_get(opts = {})
      data, _status_code, _headers = listar_tipos_estabelecimentos_using_get_with_http_info(opts)
      return data
    end

    # {{{tipo_estabelecimento_resource_listar_tipos_estabelecimentos}}}
    # {{{tipo_estabelecimento_resource_listar_tipos_estabelecimentos_notes}}}
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :sort {{{global_menssagem_sort_sort}}}
    # @option opts [Integer] :page {{{global_menssagem_sort_page_value}}}
    # @option opts [Integer] :limit {{{global_menssagem_sort_limit}}}
    # @option opts [String] :descricao {{{tipo_estabelecimento_request_descricao_value}}}
    # @return [Array<(PageTipoEstabelecimentoResponse, Fixnum, Hash)>] PageTipoEstabelecimentoResponse data, response status code and response headers
    def listar_tipos_estabelecimentos_using_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: GlobaltagestabelecimentoApi.listar_tipos_estabelecimentos_using_get ..."
      end
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      # resource path
      local_var_path = "/api/tipos-estabelecimentos".sub('{format}','json')

      # query parameters
      query_params = {}
      query_params[:'sort'] = @api_client.build_collection_param(opts[:'sort'], :multi) if opts[:'sort']
      query_params[:'page'] = opts[:'page'] if opts[:'page']
      query_params[:'limit'] = opts[:'limit'] if opts[:'limit']
      query_params[:'descricao'] = opts[:'descricao'] if opts[:'descricao']

      # header parameters
      header_params = {}

      # HTTP header 'Accept' (if needed)
      local_header_accept = ['application/json']
      local_header_accept_result = @api_client.select_header_accept(local_header_accept) and header_params['Accept'] = local_header_accept_result

      # HTTP header 'Content-Type'
      local_header_content_type = ['application/json']
      header_params['Content-Type'] = @api_client.select_header_content_type(local_header_content_type)

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      
      auth_names = []
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'PageTipoEstabelecimentoResponse')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GlobaltagestabelecimentoApi#listar_tipos_estabelecimentos_using_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end


    # {{{maquineta_resource_listar_tipos_maquinetas}}}
    # {{{maquineta_resource_listar_tipos_maquinetas_notes}}}
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :sort {{{global_menssagem_sort_sort}}}
    # @option opts [Integer] :page {{{global_menssagem_sort_page_value}}}
    # @option opts [Integer] :limit {{{global_menssagem_sort_limit}}}
    # @return [PageCampoCodificadoDescricaoResponse]
    def listar_tipos_maquinetas_using_get(opts = {})
      data, _status_code, _headers = listar_tipos_maquinetas_using_get_with_http_info(opts)
      return data
    end

    # {{{maquineta_resource_listar_tipos_maquinetas}}}
    # {{{maquineta_resource_listar_tipos_maquinetas_notes}}}
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :sort {{{global_menssagem_sort_sort}}}
    # @option opts [Integer] :page {{{global_menssagem_sort_page_value}}}
    # @option opts [Integer] :limit {{{global_menssagem_sort_limit}}}
    # @return [Array<(PageCampoCodificadoDescricaoResponse, Fixnum, Hash)>] PageCampoCodificadoDescricaoResponse data, response status code and response headers
    def listar_tipos_maquinetas_using_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: GlobaltagestabelecimentoApi.listar_tipos_maquinetas_using_get ..."
      end
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      # resource path
      local_var_path = "/api/tipos-maquinetas".sub('{format}','json')

      # query parameters
      query_params = {}
      query_params[:'sort'] = @api_client.build_collection_param(opts[:'sort'], :multi) if opts[:'sort']
      query_params[:'page'] = opts[:'page'] if opts[:'page']
      query_params[:'limit'] = opts[:'limit'] if opts[:'limit']

      # header parameters
      header_params = {}

      # HTTP header 'Accept' (if needed)
      local_header_accept = ['application/json']
      local_header_accept_result = @api_client.select_header_accept(local_header_accept) and header_params['Accept'] = local_header_accept_result

      # HTTP header 'Content-Type'
      local_header_content_type = ['application/json']
      header_params['Content-Type'] = @api_client.select_header_content_type(local_header_content_type)

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      
      auth_names = []
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'PageCampoCodificadoDescricaoResponse')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GlobaltagestabelecimentoApi#listar_tipos_maquinetas_using_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end


    # {{{tipo_origem_comercial_resource_listar_tipos_origens_comerciais}}}
    # {{{tipo_origem_comercial_resource_listar_tipos_origens_comerciais_notes}}}
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :sort {{{global_menssagem_sort_sort}}}
    # @option opts [Integer] :page {{{global_menssagem_sort_page_value}}}
    # @option opts [Integer] :limit {{{global_menssagem_sort_limit}}}
    # @option opts [String] :nome {{{tipo_origem_comercial_request_nome_value}}}
    # @return [PageTipoOrigemComercialResponse]
    def listar_tipos_origens_comerciais_using_get(opts = {})
      data, _status_code, _headers = listar_tipos_origens_comerciais_using_get_with_http_info(opts)
      return data
    end

    # {{{tipo_origem_comercial_resource_listar_tipos_origens_comerciais}}}
    # {{{tipo_origem_comercial_resource_listar_tipos_origens_comerciais_notes}}}
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :sort {{{global_menssagem_sort_sort}}}
    # @option opts [Integer] :page {{{global_menssagem_sort_page_value}}}
    # @option opts [Integer] :limit {{{global_menssagem_sort_limit}}}
    # @option opts [String] :nome {{{tipo_origem_comercial_request_nome_value}}}
    # @return [Array<(PageTipoOrigemComercialResponse, Fixnum, Hash)>] PageTipoOrigemComercialResponse data, response status code and response headers
    def listar_tipos_origens_comerciais_using_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: GlobaltagestabelecimentoApi.listar_tipos_origens_comerciais_using_get ..."
      end
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      # resource path
      local_var_path = "/api/tipos-origens-comerciais".sub('{format}','json')

      # query parameters
      query_params = {}
      query_params[:'sort'] = @api_client.build_collection_param(opts[:'sort'], :multi) if opts[:'sort']
      query_params[:'page'] = opts[:'page'] if opts[:'page']
      query_params[:'limit'] = opts[:'limit'] if opts[:'limit']
      query_params[:'nome'] = opts[:'nome'] if opts[:'nome']

      # header parameters
      header_params = {}

      # HTTP header 'Accept' (if needed)
      local_header_accept = ['application/json']
      local_header_accept_result = @api_client.select_header_accept(local_header_accept) and header_params['Accept'] = local_header_accept_result

      # HTTP header 'Content-Type'
      local_header_content_type = ['application/json']
      header_params['Content-Type'] = @api_client.select_header_content_type(local_header_content_type)

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      
      auth_names = []
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'PageTipoOrigemComercialResponse')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GlobaltagestabelecimentoApi#listar_tipos_origens_comerciais_using_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end


    # {{{terminal_resource_listar_tipos_terminais}}}
    # {{{terminal_resource_listar_tipos_terminais_notes}}}
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :sort {{{global_menssagem_sort_sort}}}
    # @option opts [Integer] :page {{{global_menssagem_sort_page_value}}}
    # @option opts [Integer] :limit {{{global_menssagem_sort_limit}}}
    # @return [PageTipoTerminalResponse]
    def listar_tipos_terminais_using_get1(opts = {})
      data, _status_code, _headers = listar_tipos_terminais_using_get1_with_http_info(opts)
      return data
    end

    # {{{terminal_resource_listar_tipos_terminais}}}
    # {{{terminal_resource_listar_tipos_terminais_notes}}}
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :sort {{{global_menssagem_sort_sort}}}
    # @option opts [Integer] :page {{{global_menssagem_sort_page_value}}}
    # @option opts [Integer] :limit {{{global_menssagem_sort_limit}}}
    # @return [Array<(PageTipoTerminalResponse, Fixnum, Hash)>] PageTipoTerminalResponse data, response status code and response headers
    def listar_tipos_terminais_using_get1_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: GlobaltagestabelecimentoApi.listar_tipos_terminais_using_get1 ..."
      end
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      # resource path
      local_var_path = "/api/tipos-terminais-estabelecimento".sub('{format}','json')

      # query parameters
      query_params = {}
      query_params[:'sort'] = @api_client.build_collection_param(opts[:'sort'], :multi) if opts[:'sort']
      query_params[:'page'] = opts[:'page'] if opts[:'page']
      query_params[:'limit'] = opts[:'limit'] if opts[:'limit']

      # header parameters
      header_params = {}

      # HTTP header 'Accept' (if needed)
      local_header_accept = ['application/json']
      local_header_accept_result = @api_client.select_header_accept(local_header_accept) and header_params['Accept'] = local_header_accept_result

      # HTTP header 'Content-Type'
      local_header_content_type = ['application/json']
      header_params['Content-Type'] = @api_client.select_header_content_type(local_header_content_type)

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      
      auth_names = []
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
[...]
