=begin
PIER Labs


Gest\u00E3o de pagamento eletr\u00F4nicos como servi\u00E7o


OpenAPI spec version: 0.0.1
Contact: pierlabs@conductor.com.br
Generated by: https://github.com/swagger-api/swagger-codegen.git


License: Apache 2.0
http://www.apache.org/licenses/LICENSE-2.0.html



Terms of Service: http://pierlabs.io/terms/


=end

require "uri"

module Pier

  class GlobaltagbinApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end


    # {{{Bin_resource_listar_bins}}}
    # {{{Bin_resource_listar_Bin_notes}}}
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :sort {{{global_menssagem_sort_sort}}}
    # @option opts [Integer] :page {{{global_menssagem_sort_page_value}}}
    # @option opts [Integer] :limit {{{global_menssagem_sort_limit}}}
    # @option opts [Integer] :id {{{bin_request_id_value}}}
    # @option opts [Integer] :proxima_conta {{{bin_request_proximaconta_value}}}
    # @option opts [Integer] :flag_cartao_virtual {{{bin_request_flagcartaocirtual_value}}}
    # @option opts [Integer] :flag_provisorio {{{bin_request_flagprovisorio_value}}}
    # @option opts [Integer] :service_code {{{bin_request_servicecode_value}}}
    # @return [PageBinResponse]
    def listar_bin_using_get(opts = {})
      data, _status_code, _headers = listar_bin_using_get_with_http_info(opts)
      return data
    end

    # {{{Bin_resource_listar_bins}}}
    # {{{Bin_resource_listar_Bin_notes}}}
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :sort {{{global_menssagem_sort_sort}}}
    # @option opts [Integer] :page {{{global_menssagem_sort_page_value}}}
    # @option opts [Integer] :limit {{{global_menssagem_sort_limit}}}
    # @option opts [Integer] :id {{{bin_request_id_value}}}
    # @option opts [Integer] :proxima_conta {{{bin_request_proximaconta_value}}}
    # @option opts [Integer] :flag_cartao_virtual {{{bin_request_flagcartaocirtual_value}}}
    # @option opts [Integer] :flag_provisorio {{{bin_request_flagprovisorio_value}}}
    # @option opts [Integer] :service_code {{{bin_request_servicecode_value}}}
    # @return [Array<(PageBinResponse, Fixnum, Hash)>] PageBinResponse data, response status code and response headers
    def listar_bin_using_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: GlobaltagbinApi.listar_bin_using_get ..."
      end
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      # resource path
      local_var_path = "/api/bins".sub('{format}','json')

      # query parameters
      query_params = {}
      query_params[:'sort'] = @api_client.build_collection_param(opts[:'sort'], :multi) if opts[:'sort']
      query_params[:'page'] = opts[:'page'] if opts[:'page']
      query_params[:'limit'] = opts[:'limit'] if opts[:'limit']
      query_params[:'id'] = opts[:'id'] if opts[:'id']
      query_params[:'proximaConta'] = opts[:'proxima_conta'] if opts[:'proxima_conta']
      query_params[:'flagCartaoVirtual'] = opts[:'flag_cartao_virtual'] if opts[:'flag_cartao_virtual']
      query_params[:'flagProvisorio'] = opts[:'flag_provisorio'] if opts[:'flag_provisorio']
      query_params[:'serviceCode'] = opts[:'service_code'] if opts[:'service_code']

      # header parameters
      header_params = {}

      # HTTP header 'Accept' (if needed)
      local_header_accept = ['application/json']
      local_header_accept_result = @api_client.select_header_accept(local_header_accept) and header_params['Accept'] = local_header_accept_result

      # HTTP header 'Content-Type'
      local_header_content_type = ['application/json']
      header_params['Content-Type'] = @api_client.select_header_content_type(local_header_content_type)

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      
      auth_names = []
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'PageBinResponse')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GlobaltagbinApi#listar_bin_using_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

  end

end
