=begin
PIER Labs

Gest\u00E3o de pagamento eletr\u00F4nicos como servi\u00E7o

OpenAPI spec version: 0.0.1
Contact: pierlabs@conductor.com.br
Generated by: https://github.com/swagger-api/swagger-codegen.git

License: Apache 2.0
http://www.apache.org/licenses/LICENSE-2.0.html

Terms of Service: http://pierlabs.io/terms/

=end

require "uri"

module Pier
  class GlobaltagajustefinanceiroApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end

    # {{{ajuste_financeiro_resource_ajustar_conta}}}
    # {{{ajuste_financeiro_resource_ajustar_conta_notes}}}
    # @param id_tipo_ajuste {{{ajuste_financeiro_persist_id_tipo_ajuste_value}}}
    # @param data_ajuste {{{ajuste_financeiro_persist_data_ajuste_value}}}
    # @param valor_ajuste {{{ajuste_financeiro_persist_valor_ajuste_value}}}
    # @param id_conta {{{ajuste_financeiro_persist_id_conta_value}}}
    # @param [Hash] opts the optional parameters
    # @option opts [String] :identificador_externo {{{ajuste_financeiro_persist_identificador_externo_value}}}
    # @option opts [Integer] :id_transacao_original {{{ajuste_persist_id_transacao_original}}}
    # @return [AjusteFinanceiroResponse]
    def ajustar_conta_using_post(id_tipo_ajuste, data_ajuste, valor_ajuste, id_conta, opts = {})
      data, _status_code, _headers = ajustar_conta_using_post_with_http_info(id_tipo_ajuste, data_ajuste, valor_ajuste, id_conta, opts)
      return data
    end

    # {{{ajuste_financeiro_resource_ajustar_conta}}}
    # {{{ajuste_financeiro_resource_ajustar_conta_notes}}}
    # @param id_tipo_ajuste {{{ajuste_financeiro_persist_id_tipo_ajuste_value}}}
    # @param data_ajuste {{{ajuste_financeiro_persist_data_ajuste_value}}}
    # @param valor_ajuste {{{ajuste_financeiro_persist_valor_ajuste_value}}}
    # @param id_conta {{{ajuste_financeiro_persist_id_conta_value}}}
    # @param [Hash] opts the optional parameters
    # @option opts [String] :identificador_externo {{{ajuste_financeiro_persist_identificador_externo_value}}}
    # @option opts [Integer] :id_transacao_original {{{ajuste_persist_id_transacao_original}}}
    # @return [Array<(AjusteFinanceiroResponse, Fixnum, Hash)>] AjusteFinanceiroResponse data, response status code and response headers
    def ajustar_conta_using_post_with_http_info(id_tipo_ajuste, data_ajuste, valor_ajuste, id_conta, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: GlobaltagajustefinanceiroApi.ajustar_conta_using_post ..."
      end
      
      
      # verify the required parameter 'id_tipo_ajuste' is set
      fail ArgumentError, "Missing the required parameter 'id_tipo_ajuste' when calling GlobaltagajustefinanceiroApi.ajustar_conta_using_post" if id_tipo_ajuste.nil?
      
      
      
      
      
      
      # verify the required parameter 'data_ajuste' is set
      fail ArgumentError, "Missing the required parameter 'data_ajuste' when calling GlobaltagajustefinanceiroApi.ajustar_conta_using_post" if data_ajuste.nil?
      
      
      
      
      
      
      # verify the required parameter 'valor_ajuste' is set
      fail ArgumentError, "Missing the required parameter 'valor_ajuste' when calling GlobaltagajustefinanceiroApi.ajustar_conta_using_post" if valor_ajuste.nil?
      
      
      
      
      
      
      # verify the required parameter 'id_conta' is set
      fail ArgumentError, "Missing the required parameter 'id_conta' when calling GlobaltagajustefinanceiroApi.ajustar_conta_using_post" if id_conta.nil?
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      # resource path
      local_var_path = "/api/ajustes-financeiros".sub('{format}','json')

      # query parameters
      query_params = {}
      query_params[:'idTipoAjuste'] = id_tipo_ajuste
      query_params[:'dataAjuste'] = data_ajuste
      query_params[:'valorAjuste'] = valor_ajuste
      query_params[:'idConta'] = id_conta
      query_params[:'identificadorExterno'] = opts[:'identificador_externo'] if opts[:'identificador_externo']
      query_params[:'idTransacaoOriginal'] = opts[:'id_transacao_original'] if opts[:'id_transacao_original']

      # header parameters
      header_params = {}

      # HTTP header 'Accept' (if needed)
      local_header_accept = ['application/json']
      local_header_accept_result = @api_client.select_header_accept(local_header_accept) and header_params['Accept'] = local_header_accept_result

      # HTTP header 'Content-Type'
      local_header_content_type = ['application/json']
      header_params['Content-Type'] = @api_client.select_header_content_type(local_header_content_type)

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      
      auth_names = []
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'AjusteFinanceiroResponse')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GlobaltagajustefinanceiroApi#ajustar_conta_using_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # {{{ajuste_financeiro_resource_consultar}}}
    # {{{ajuste_financeiro_resource_consultar_notes}}}
    # @param id {{{ajuste_financeiro_resource_consultar_param_id}}}
    # @param [Hash] opts the optional parameters
    # @return [AjusteFinanceiroResponse]
    def consultar_using_get3(id, opts = {})
      data, _status_code, _headers = consultar_using_get3_with_http_info(id, opts)
      return data
    end

    # {{{ajuste_financeiro_resource_consultar}}}
    # {{{ajuste_financeiro_resource_consultar_notes}}}
    # @param id {{{ajuste_financeiro_resource_consultar_param_id}}}
    # @param [Hash] opts the optional parameters
    # @return [Array<(AjusteFinanceiroResponse, Fixnum, Hash)>] AjusteFinanceiroResponse data, response status code and response headers
    def consultar_using_get3_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: GlobaltagajustefinanceiroApi.consultar_using_get3 ..."
      end
      
      
      # verify the required parameter 'id' is set
      fail ArgumentError, "Missing the required parameter 'id' when calling GlobaltagajustefinanceiroApi.consultar_using_get3" if id.nil?
      
      
      
      
      
      # resource path
      local_var_path = "/api/ajustes-financeiros/{id}".sub('{format}','json').sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}

      # HTTP header 'Accept' (if needed)
      local_header_accept = ['application/json']
      local_header_accept_result = @api_client.select_header_accept(local_header_accept) and header_params['Accept'] = local_header_accept_result

      # HTTP header 'Content-Type'
      local_header_content_type = ['application/json']
      header_params['Content-Type'] = @api_client.select_header_content_type(local_header_content_type)

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      
      auth_names = []
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'AjusteFinanceiroResponse')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GlobaltagajustefinanceiroApi#consultar_using_get3\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # {{{ajuste_financeiro_resource_listar}}}
    # {{{ajuste_financeiro_resource_listar_notes}}}
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :sort {{{global_menssagem_sort_sort}}}
    # @option opts [Integer] :page {{{global_menssagem_sort_page_value}}}
    # @option opts [Integer] :limit {{{global_menssagem_sort_limit}}}
    # @option opts [Integer] :id_tipo_ajuste {{{ajuste_request_id_tipo_ajuste_value}}}
    # @option opts [String] :data_ajuste {{{ajuste_request_data_ajuste_value}}}
    # @option opts [Float] :valor_ajuste {{{ajuste_request_valor_ajuste_value}}}
    # @option opts [String] :identificador_externo {{{ajuste_request_identificador_externo_value}}}
    # @option opts [Integer] :id_conta {{{ajuste_request_id_conta_value}}}
    # @return [PageAjusteResponse]
    def listar_using_get2(opts = {})
      data, _status_code, _headers = listar_using_get2_with_http_info(opts)
      return data
    end

    # {{{ajuste_financeiro_resource_listar}}}
    # {{{ajuste_financeiro_resource_listar_notes}}}
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :sort {{{global_menssagem_sort_sort}}}
    # @option opts [Integer] :page {{{global_menssagem_sort_page_value}}}
    # @option opts [Integer] :limit {{{global_menssagem_sort_limit}}}
    # @option opts [Integer] :id_tipo_ajuste {{{ajuste_request_id_tipo_ajuste_value}}}
    # @option opts [String] :data_ajuste {{{ajuste_request_data_ajuste_value}}}
    # @option opts [Float] :valor_ajuste {{{ajuste_request_valor_ajuste_value}}}
    # @option opts [String] :identificador_externo {{{ajuste_request_identificador_externo_value}}}
    # @option opts [Integer] :id_conta {{{ajuste_request_id_conta_value}}}
    # @return [Array<(PageAjusteResponse, Fixnum, Hash)>] PageAjusteResponse data, response status code and response headers
    def listar_using_get2_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: GlobaltagajustefinanceiroApi.listar_using_get2 ..."
      end
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      # resource path
      local_var_path = "/api/ajustes-financeiros".sub('{format}','json')

      # query parameters
      query_params = {}
      query_params[:'sort'] = @api_client.build_collection_param(opts[:'sort'], :multi) if opts[:'sort']
      query_params[:'page'] = opts[:'page'] if opts[:'page']
      query_params[:'limit'] = opts[:'limit'] if opts[:'limit']
      query_params[:'idTipoAjuste'] = opts[:'id_tipo_ajuste'] if opts[:'id_tipo_ajuste']
      query_params[:'dataAjuste'] = opts[:'data_ajuste'] if opts[:'data_ajuste']
      query_params[:'valorAjuste'] = opts[:'valor_ajuste'] if opts[:'valor_ajuste']
      query_params[:'identificadorExterno'] = opts[:'identificador_externo'] if opts[:'identificador_externo']
      query_params[:'idConta'] = opts[:'id_conta'] if opts[:'id_conta']

      # header parameters
      header_params = {}

      # HTTP header 'Accept' (if needed)
      local_header_accept = ['application/json']
      local_header_accept_result = @api_client.select_header_accept(local_header_accept) and header_params['Accept'] = local_header_accept_result

      # HTTP header 'Content-Type'
      local_header_content_type = ['application/json']
      header_params['Content-Type'] = @api_client.select_header_content_type(local_header_content_type)

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      
      auth_names = []
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'PageAjusteResponse')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GlobaltagajustefinanceiroApi#listar_using_get2\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
