=begin
PIER Labs


Gest\u00E3o de pagamento eletr\u00F4nicos como servi\u00E7o


OpenAPI spec version: 0.0.1
Contact: pierlabs@conductor.com.br
Generated by: https://github.com/swagger-api/swagger-codegen.git


License: Apache 2.0
http://www.apache.org/licenses/LICENSE-2.0.html



Terms of Service: http://pierlabs.io/terms/


=end

require "uri"

module Pier

  class GlobaltaglogApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end


    # {{{log_acesso_usuario_recurso_salvar}}}
    # {{{log_acesso_usuario_recurso_salvar_notas}}}
    # @param log_acesso_usuario_persist logAcessoUsuarioPersist
    # @param [Hash] opts the optional parameters
    # @return [LogAcessoUsuarioResposta]
    def salvar_using_post18(log_acesso_usuario_persist, opts = {})
      data, _status_code, _headers = salvar_using_post18_with_http_info(log_acesso_usuario_persist, opts)
      return data
    end

    # {{{log_acesso_usuario_recurso_salvar}}}
    # {{{log_acesso_usuario_recurso_salvar_notas}}}
    # @param log_acesso_usuario_persist logAcessoUsuarioPersist
    # @param [Hash] opts the optional parameters
    # @return [Array<(LogAcessoUsuarioResposta, Fixnum, Hash)>] LogAcessoUsuarioResposta data, response status code and response headers
    def salvar_using_post18_with_http_info(log_acesso_usuario_persist, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: GlobaltaglogApi.salvar_using_post18 ..."
      end
      
      
      # verify the required parameter 'log_acesso_usuario_persist' is set
      fail ArgumentError, "Missing the required parameter 'log_acesso_usuario_persist' when calling GlobaltaglogApi.salvar_using_post18" if log_acesso_usuario_persist.nil?
      
      
      
      
      
      # resource path
      local_var_path = "/api/logs/log-acessos-usuario".sub('{format}','json')

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}

      # HTTP header 'Accept' (if needed)
      local_header_accept = ['application/json']
      local_header_accept_result = @api_client.select_header_accept(local_header_accept) and header_params['Accept'] = local_header_accept_result

      # HTTP header 'Content-Type'
      local_header_content_type = ['application/json']
      header_params['Content-Type'] = @api_client.select_header_content_type(local_header_content_type)

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(log_acesso_usuario_persist)
      
      auth_names = []
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'LogAcessoUsuarioResposta')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GlobaltaglogApi#salvar_using_post18\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

  end

end
