=begin
PIER Labs

Gest\u00E3o de pagamento eletr\u00F4nicos como servi\u00E7o

OpenAPI spec version: 0.0.1
Contact: pierlabs@conductor.com.br
Generated by: https://github.com/swagger-api/swagger-codegen.git

License: Apache 2.0
http://www.apache.org/licenses/LICENSE-2.0.html

Terms of Service: http://pierlabs.io/terms/

=end

require "uri"

module Pier
  class PermissaoPaisApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end

    # Apresenta dados de um determinado pa\u00EDs
    # Este m\u00E9todo permite consultar dados de um determinado pa\u00EDs a partir de seu codigo de identifica\u00E7\u00E3o (id).
    # @param id C\u00F3digo de identifica\u00E7\u00E3o do pa\u00EDs (id).
    # @param [Hash] opts the optional parameters
    # @return [PaisResponse]
    def consultar_pais_using_get(id, opts = {})
      data, _status_code, _headers = consultar_pais_using_get_with_http_info(id, opts)
      return data
    end

    # Apresenta dados de um determinado pa\u00EDs
    # Este m\u00E9todo permite consultar dados de um determinado pa\u00EDs a partir de seu codigo de identifica\u00E7\u00E3o (id).
    # @param id C\u00F3digo de identifica\u00E7\u00E3o do pa\u00EDs (id).
    # @param [Hash] opts the optional parameters
    # @return [Array<(PaisResponse, Fixnum, Hash)>] PaisResponse data, response status code and response headers
    def consultar_pais_using_get_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: PermissaoPaisApi.consultar_pais_using_get ..."
      end
      
      
      # verify the required parameter 'id' is set
      fail ArgumentError, "Missing the required parameter 'id' when calling PermissaoPaisApi.consultar_pais_using_get" if id.nil?
      
      
      
      
      
      # resource path
      local_var_path = "/api/paises/{id}".sub('{format}','json').sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}

      # HTTP header 'Accept' (if needed)
      local_header_accept = ['application/json']
      local_header_accept_result = @api_client.select_header_accept(local_header_accept) and header_params['Accept'] = local_header_accept_result

      # HTTP header 'Content-Type'
      local_header_content_type = ['application/json']
      header_params['Content-Type'] = @api_client.select_header_content_type(local_header_content_type)

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      
      auth_names = []
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'PaisResponse')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PermissaoPaisApi#consultar_pais_using_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Lista os continentes
    # Este recurso permite listar os continentes utilizados no recurso de permiss\u00E3o de uso do cart\u00E3o no exterior
    # @param [Hash] opts the optional parameters
    # @return [Array<Object>]
    def listar_continentes_using_get(opts = {})
      data, _status_code, _headers = listar_continentes_using_get_with_http_info(opts)
      return data
    end

    # Lista os continentes
    # Este recurso permite listar os continentes utilizados no recurso de permiss\u00E3o de uso do cart\u00E3o no exterior
    # @param [Hash] opts the optional parameters
    # @return [Array<(Array<Object>, Fixnum, Hash)>] Array<Object> data, response status code and response headers
    def listar_continentes_using_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: PermissaoPaisApi.listar_continentes_using_get ..."
      end
      
      # resource path
      local_var_path = "/api/continentes".sub('{format}','json')

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}

      # HTTP header 'Accept' (if needed)
      local_header_accept = ['application/json']
      local_header_accept_result = @api_client.select_header_accept(local_header_accept) and header_params['Accept'] = local_header_accept_result

      # HTTP header 'Content-Type'
      local_header_content_type = ['application/json']
      header_params['Content-Type'] = @api_client.select_header_content_type(local_header_content_type)

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      
      auth_names = []
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'Array<Object>')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PermissaoPaisApi#listar_continentes_using_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Lista os pa\u00EDses
    # Este recurso permite listar os pa\u00EDses.
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :sort Tipo de ordena\u00E7\u00E3o dos registros.
    # @option opts [Integer] :page P\u00E1gina solicitada (Default = 0)
    # @option opts [Integer] :limit Limite de elementos por solicita\u00E7\u00E3o (Default = 50, Max = 50)
    # @option opts [String] :codigo C\u00F3digo do pa\u00EDs
    # @option opts [String] :sigla Sigla do pa\u00EDs
    # @option opts [String] :descricao Nome do pa\u00EDs
    # @option opts [String] :continente Continente no qual o pa\u00EDs faz parte
    # @option opts [BOOLEAN] :flag_ativo Atributo que representa se o pa\u00EDs est\u00E1 ativo
    # @return [PagePaisResponse]
    def listar_paises_using_get(opts = {})
      data, _status_code, _headers = listar_paises_using_get_with_http_info(opts)
      return data
    end

    # Lista os pa\u00EDses
    # Este recurso permite listar os pa\u00EDses.
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :sort Tipo de ordena\u00E7\u00E3o dos registros.
    # @option opts [Integer] :page P\u00E1gina solicitada (Default = 0)
    # @option opts [Integer] :limit Limite de elementos por solicita\u00E7\u00E3o (Default = 50, Max = 50)
    # @option opts [String] :codigo C\u00F3digo do pa\u00EDs
    # @option opts [String] :sigla Sigla do pa\u00EDs
    # @option opts [String] :descricao Nome do pa\u00EDs
    # @option opts [String] :continente Continente no qual o pa\u00EDs faz parte
    # @option opts [BOOLEAN] :flag_ativo Atributo que representa se o pa\u00EDs est\u00E1 ativo
    # @return [Array<(PagePaisResponse, Fixnum, Hash)>] PagePaisResponse data, response status code and response headers
    def listar_paises_using_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: PermissaoPaisApi.listar_paises_using_get ..."
      end
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      if opts[:'continente'] && !['AFRICA', 'AMERICA_LATINA', 'AMERICA_NORTE', 'ASIA', 'ANTARTIDA', 'EUROPA', 'OCEANIA'].include?(opts[:'continente'])
        fail ArgumentError, 'invalid value for "continente", must be one of AFRICA, AMERICA_LATINA, AMERICA_NORTE, ASIA, ANTARTIDA, EUROPA, OCEANIA'
      end
      
      
      
      
      
      
      
      
      
      
      # resource path
      local_var_path = "/api/paises".sub('{format}','json')

      # query parameters
      query_params = {}
      query_params[:'sort'] = @api_client.build_collection_param(opts[:'sort'], :multi) if opts[:'sort']
      query_params[:'page'] = opts[:'page'] if opts[:'page']
      query_params[:'limit'] = opts[:'limit'] if opts[:'limit']
      query_params[:'codigo'] = opts[:'codigo'] if opts[:'codigo']
      query_params[:'sigla'] = opts[:'sigla'] if opts[:'sigla']
      query_params[:'descricao'] = opts[:'descricao'] if opts[:'descricao']
      query_params[:'continente'] = opts[:'continente'] if opts[:'continente']
      query_params[:'flagAtivo'] = opts[:'flag_ativo'] if opts[:'flag_ativo']

      # header parameters
      header_params = {}

      # HTTP header 'Accept' (if needed)
      local_header_accept = ['application/json']
      local_header_accept_result = @api_client.select_header_accept(local_header_accept) and header_params['Accept'] = local_header_accept_result

      # HTTP header 'Content-Type'
      local_header_content_type = ['application/json']
      header_params['Content-Type'] = @api_client.select_header_content_type(local_header_content_type)

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      
      auth_names = []
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'PagePaisResponse')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PermissaoPaisApi#listar_paises_using_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
